<div class="huski-footer-top">

  <div class="container ">
    {{!-- <h3 class="f-28 normal pt-30">HUSKI WEBSITE</h3> --}}
    {{!-- <ul class="fx-start footer-huski-websites flex-wrap">
      <li>
        <a href="https://huski.ai/" class="color-text-light-1">Home page</a>
      </li>
      <li><a href="https://huski.ai/landing-report" class="color-text-light-1">Retailer</a></li>
      <li><a href="https://huski.ai/landing-lawyer" class="color-text-light-1">IP Lawyer</a></li>
      <li><a href="https://huski.ai/landing-brand" class="color-text-light-1">Brand Owner</a></li>
      <li><a href="https://huski.ai/login" class="color-text-light-1">Login</a></li>
      <li><a href="https://huski.ai/register" class="color-text-light-1">Register</a></li>
      <li><a href="https://huski.ai/forget" class="color-text-light-1">Forget password</a></li>
    </ul> --}}
    <div class="footer-container" data-v-220beeed="">
      <div class="row pt-20 pb-20 justify-content-between" data-v-220beeed="">
        <div class="footer-widget col-lg-2 col-md-6 col-sm-6" data-v-220beeed="">
          <div class="footer-box" data-v-220beeed="">
            <h6 class="footer-title" data-v-220beeed="">Website</h6>
            <ul class="footer-links" data-v-220beeed="">
              <li data-v-220beeed=""><a href="https://huski.ai/" class="" data-v-220beeed="">Home</a></li>
              <li data-v-220beeed=""><a href="https://huski.ai/landing-lawyer" class="" data-v-220beeed="">IP Lawyer</a>
              </li>
              <li data-v-220beeed=""><a href="https://huski.ai/login" class="" data-v-220beeed="">Login</a></li>
              <li data-v-220beeed=""><a href="https://huski.ai/register" class="" data-v-220beeed="">Register</a></li>
              <li data-v-220beeed=""><a href="https://huski.ai/forget" class="" data-v-220beeed="">Forgot Password</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="footer-widget col-lg-2 col-md-6 col-sm-6" data-v-220beeed="">
          <div class="footer-box" data-v-220beeed="">
            <h6 class="footer-title" data-v-220beeed="">About</h6>
            <ul class="footer-links" data-v-220beeed="">
              <li data-v-220beeed=""><a href="https://huski.ai/about?page=Who-we-are" data-v-220beeed="">Who we are</a>
              </li>
              <li data-v-220beeed=""><a href="https://huski.ai/technology" class="" data-v-220beeed="">Technology</a>
              </li>
              <li data-v-220beeed=""><a href="https://huski.ai/about?page=Careers" data-v-220beeed="">Careers</a></li>
              <li data-v-220beeed=""><a href="https://blog.huski.ai/hc/en-us" data-v-220beeed="">Blog</a></li>
              <li data-v-220beeed=""><a href="https://huski.ai/about?page=Contact-us" data-v-220beeed="">Contact us</a>
              </li>
              <li data-v-220beeed=""><a href="https://huski.ai/terms" class="" data-v-220beeed="">Privacy &amp;
                  Terms</a>
              </li>
              <li data-v-220beeed=""><a href="https://huski.ai/faq" class="" data-v-220beeed="">FAQ</a></li>
            </ul>
          </div>
        </div>
        <div class="footer-widget col-lg-3 col-md-6 col-sm-6" data-v-220beeed="">
          <div class="footer-box" data-v-220beeed="">
            <h6 class="footer-title" data-v-220beeed="">Trademark Ranking</h6>
            <ul class="footer-links" data-v-220beeed="">
              <li data-v-220beeed=""><a href="https://huski.ai/trademark/search" class="" data-v-220beeed="">Trademark
                  Search</a></li>
              <li data-v-220beeed=""><a href="https://huski.ai/trademark/analysis-reg" class=""
                  data-v-220beeed="">Trademark
                  Registrability Analysis</a></li>
              <li data-v-220beeed=""><a href="https://huski.ai/brand/top20" class="" data-v-220beeed="">Litigated Brands
                  Ranking</a></li>
              <li data-v-220beeed=""><a href="https://huski.ai/trademark/latest" class="" data-v-220beeed="">Latest
                  Trademark Application
                  Overview</a></li>
              <li data-v-220beeed=""><a href="https://huski.ai/trademark/conflict/list" data-v-220beeed="">Latest Top 10
                  Conflicts</a>
              </li>
              <li data-v-220beeed=""><a href="https://huski.ai/lawyer/search" data-v-220beeed="">Attorney Ranking</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="footer-widget col-lg-2 col-md-6 col-sm-6" data-v-220beeed="">
          <div class="footer-box" data-v-220beeed="">
            <h6 class="footer-title" data-v-220beeed="">Directories</h6>
            <ul class="footer-links" data-v-220beeed="">
              <li data-v-220beeed=""><a href="https://huski.ai/trademark/directory" data-v-220beeed="">Trademarks</a>
              </li>
              <li data-v-220beeed=""><a href="https://huski.ai/lawyer/directory" data-v-220beeed="">Attorneys</a></li>
            </ul>
            <h6 class="footer-title mt-40">Privacy &amp; Security</h6>
            <ul class="footer-links">
              <li>
                <a href="https://huski.ai/privacy-add-security/privacy-add-security">Data Privacy &amp; System
                  Security
                </a>
              </li>
              <li>
                <a href="https://huski.ai/privacy-add-security/gdpr-and-ccpa-compliance">GDPR &amp; CCPA
                  Compliance
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="footer-widget col-lg-2 col-md-6 col-sm-6" data-v-220beeed="">
          <div class="footer-box" data-v-220beeed="">
            <h6 class="footer-title" data-v-220beeed="">Follow us</h6>
            <ul class="footer-icon-links" data-v-220beeed="">
              <li data-v-220beeed=""><a href="https://www.linkedin.com/company/huski-ai/" target="_blank"
                  data-v-220beeed=""><svg class="icon" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg"
                    width="200" height="200">
                    <path
                      d="M872.405 872.619H720.768V635.008c0-56.661-1.152-129.579-79.019-129.579-79.061 0-91.136 61.654-91.136 125.398v241.792H398.976V384H544.64v66.603h1.963c20.352-38.4 69.845-78.934 143.786-78.934 153.643 0 182.059 101.12 182.059 232.747v268.203zM227.712 317.14a87.979 87.979 0 0 1-88.021-88.106 88.064 88.064 0 1 1 88.021 88.106zm76.032 555.478H151.68V384h152.064v488.619zM948.267 0H75.563C33.792 0 0 33.024 0 73.77v876.46C0 991.018 33.792 1024 75.563 1024h872.576c41.728 0 75.861-32.981 75.861-73.77V73.77C1024 33.025 989.867 0 948.139 0h.128z" />
                  </svg></a></li>
              <li data-v-220beeed=""><a href="https://twitter.com/huski_ai" target="_blank" data-v-220beeed=""><svg
                    class="icon" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" width="200" height="200">
                    <path
                      d="M928 254.3c-30.6 13.2-63.9 22.7-98.2 26.4 35.4-21.1 62.3-54.4 75-94-32.7 19.5-69.7 33.8-108.2 41.2C765.4 194.6 721.1 174 672 174c-94.5 0-170.5 76.6-170.5 170.6 0 13.2 1.6 26.4 4.2 39.1-141.5-7.4-267.7-75-351.6-178.5-14.8 25.4-23.2 54.4-23.2 86.1 0 59.2 30.1 111.4 76 142.1-28-1.1-54.4-9-77.1-21.7v2.1c0 82.9 58.6 151.6 136.7 167.4-14.3 3.7-29.6 5.8-44.9 5.8-11.1 0-21.6-1.1-32.2-2.6C211 652 273.9 701.1 348.8 702.7c-58.6 45.9-132 72.9-211.7 72.9-14.3 0-27.5-.5-41.2-2.1C171.5 822 261.2 850 357.8 850 671.4 850 843 590.2 843 364.7c0-7.4 0-14.8-.5-22.2 33.2-24.3 62.3-54.4 85.5-88.2z" />
                  </svg></a></li>
              <li data-v-220beeed=""><a href="https://www.youtube.com/channel/UCdZweYwM_koCe9t0LFhe7PA" target="_blank"
                  data-v-220beeed=""><svg class="icon" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg"
                    width="200" height="200">
                    <path
                      d="M624.966 710.857V831.43q0 38.285-22.285 38.285-13.143 0-25.715-12.571v-172q12.572-12.572 25.715-12.572 22.285 0 22.285 38.286zm193.143.572v26.285h-51.428V711.43q0-38.858 25.714-38.858t25.714 38.858zm-552-124.572h61.143v-53.714H148.966v53.714h60V912h57.143V586.857zM430.681 912h50.857V629.714H430.68v216q-17.143 24-32.572 24-10.286 0-12-12-.571-1.714-.571-20v-208H334.68v223.429q0 28 4.571 41.714Q346.11 916 372.395 916q27.428 0 58.286-34.857V912zm245.142-84.571V714.857q0-41.714-5.142-56.571-9.715-32-40.572-32-28.571 0-53.143 30.857v-124H526.11V912h50.857v-27.429Q602.681 916 630.11 916q30.857 0 40.572-31.429 5.142-15.428 5.142-57.142zm193.143-5.715v-7.428h-52q0 29.143-1.143 34.857-4 20.571-22.857 20.571-26.285 0-26.285-39.428V780.57h102.285v-58.857q0-45.143-15.428-66.285-22.286-29.143-60.572-29.143-38.857 0-61.143 29.143-16 21.142-16 66.285v98.857q0 45.143 16.572 66.286Q754.68 916 794.109 916q41.143 0 61.714-30.286 10.286-15.428 12-30.857 1.143-5.143 1.143-33.143zM521.538 300V180q0-39.429-24.572-39.429T472.395 180v120q0 40 24.571 40t24.572-40zm410.857 429.143q0 133.714-14.857 200-8 33.714-33.143 56.571T826.109 1012q-105.143 12-317.143 12t-317.143-12q-33.142-3.429-58.57-26.286t-32.858-56.571q-14.857-64-14.857-200 0-133.714 14.857-200 8-33.714 33.143-56.572t58.857-26.857q104.571-11.428 316.571-11.428t317.143 11.428q33.143 4 58.572 26.857t32.857 56.572q14.857 64 14.857 200zM362.109 0h58.286l-69.143 228v154.857H294.11V228q-8-42.286-34.857-121.143Q238.11 48 222.11 0h60.572l40.571 150.286zm211.429 190.286v100q0 46.285-16 67.428-21.715 29.143-60.572 29.143-38.285 0-60-29.143-16-21.714-16-67.428v-100q0-45.715 16-66.857 21.715-29.143 60-29.143 38.857 0 60.572 29.143 16 21.142 16 66.857zm191.428-92.572v285.143h-52V351.43q-30.285 35.428-58.857 35.428-26.286 0-33.714-21.143-4.572-13.714-4.572-42.857V97.714h52V307.43q0 18.857.572 20 1.714 12.571 12 12.571 15.428 0 32.571-24.571V97.714h52z" />
                  </svg></a></li>
            </ul>
            <h6 class="footer-title mt-40" data-v-220beeed="">Others</h6>
            <ul class="footer-links" data-v-220beeed="">
              <li data-v-220beeed=""><a target="_blank"
                  href="https://huski-21391223.hubspotpagebuilder.com/transforming-trademark-protection-huski-0"
                  data-v-220beeed="">Download Huski Brochure</a></li>
              <li data-v-220beeed=""><a href="https://huski.ai/book/book-a-demo" target="_blank" data-v-220beeed="">Book
                  a demo</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<footer class="huski-footer f-14">
  <a href="https://huski.ai/terms" class="color-white under-line">Terms of use</a>
  <span class="color-text-o8">© <a href="https://huski.ai" class="color-text-o8"> Huski.ai</a> All rights reserved.
    2022</span>
</footer>
{{!-- <footer class="footer">
  <div class="footer-inner">
    {{#link 'help_center'}}{{help_center.name}}{{/link}}

    <div class="footer-language-selector">
      {{#if alternative_locales}}
      <div class="dropdown language-selector">
        <button class="dropdown-toggle" aria-haspopup="true">
          {{current_locale.name}}
          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12"
            class="dropdown-chevron-icon">
            <path fill="none" stroke="currentColor" stroke-linecap="round" d="M3 4.5l2.6 2.6c.2.2.5.2.7 0L9 4.5" />
          </svg>
        </button>
        <span class="dropdown-menu dropdown-menu-end" role="menu">
          {{#each alternative_locales}}
          <a href="{{url}}" dir="{{direction}}" rel="nofollow" role="menuitem">
            {{name}}
          </a>
          {{/each}}
        </span>
      </div>
      {{/if}}
    </div>
  </div>
</footer> --}}

<svg width="601" height="657" viewBox="0 0 601 657" fill="none" xmlns="http://www.w3.org/2000/svg" style="
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    max-width: 100%;
    max-height: 100%;
">
  <g opacity="0.8" filter="url(#filter0_f_5620_304)">
    <path
      d="M24.7807 -181.78C30.4317 -185.737 37.7527 -186.48 44.1358 -183.744L307.707 -70.776C314.4 -67.9076 319.038 -61.6563 319.828 -54.4419L349.921 220.692C350.71 227.906 347.526 234.951 341.601 239.1L108.258 402.507C102.607 406.464 95.2858 407.207 88.9028 404.471L-174.669 291.503C-181.361 288.635 -186 282.384 -186.789 275.169L-216.882 0.0356741C-217.671 -7.17872 -214.487 -14.224 -208.562 -18.3732L24.7807 -181.78Z"
      fill="url(#paint0_linear_5620_304)"></path>
  </g>
  <defs>
    <filter id="filter0_f_5620_304" x="-467.001" y="-435.374" width="1067.04" height="1091.48"
      filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
      <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
      <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"></feBlend>
      <feGaussianBlur stdDeviation="125" result="effect1_foregroundBlur_5620_304"></feGaussianBlur>
    </filter>
    <linearGradient id="paint0_linear_5620_304" x1="67" y1="165.737" x2="265.333" y2="280.908"
      gradientUnits="userSpaceOnUse">
      <stop stop-color="#3B7FF8"></stop>
      <stop offset="1" stop-color="#2E5AB5"></stop>
    </linearGradient>
  </defs>
</svg>
<svg width="441" height="841" viewBox="0 0 441 841" fill="none" xmlns="http://www.w3.org/2000/svg" style="
    position: absolute;
    top: 0px;
    right: 0;
    z-index: -1;
    max-width: 100%;
    max-height: 100%;
">
  <g opacity="0.8" filter="url(#filter0_f_5620_303)">
    <path
      d="M409.936 198.997C415.587 195.04 422.908 194.297 429.291 197.033L599.297 269.898C605.989 272.766 610.628 279.018 611.417 286.232L630.779 463.255C631.568 470.469 628.384 477.514 622.459 481.664L471.951 587.062C466.3 591.019 458.979 591.762 452.596 589.027L282.59 516.161C275.897 513.293 271.259 507.042 270.47 499.827L251.108 322.804C250.319 315.59 253.503 308.545 259.428 304.396L409.936 198.997Z"
      fill="#6853CD"></path>
  </g>
  <defs>
    <filter id="filter0_f_5620_303" x="0.98877" y="-54.5975" width="879.909" height="895.254"
      filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
      <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
      <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"></feBlend>
      <feGaussianBlur stdDeviation="125" result="effect1_foregroundBlur_5620_303"></feGaussianBlur>
    </filter>
  </defs>
</svg>

<svg width="620" height="1079" viewBox="0 0 620 1079" fill="none" xmlns="http://www.w3.org/2000/svg" style="
    position: absolute;
    left: 0;
    top: 500px;
    z-index: -1;
    max-width: 100%;
    max-height: 100%;
">
  <g opacity="0.8" filter="url(#filter0_f_5620_350)">
    <path
      d="M51.7956 254.108C57.4466 250.151 64.7677 249.408 71.1508 252.144L328.305 362.361C334.998 365.23 339.636 371.481 340.425 378.696L369.782 647.1C370.571 654.314 367.387 661.36 361.462 665.509L133.801 824.937C128.15 828.894 120.829 829.637 114.446 826.901L-142.709 716.684C-149.401 713.815 -154.04 707.564 -154.829 700.35L-184.186 431.945C-184.975 424.731 -181.791 417.685 -175.866 413.536L51.7956 254.108Z"
      fill="#6853CD"></path>
  </g>
  <defs>
    <filter id="filter0_f_5620_350" x="-434.305" y="0.513809" width="1054.21" height="1078.02"
      filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
      <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
      <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"></feBlend>
      <feGaussianBlur stdDeviation="125" result="effect1_foregroundBlur_5620_350"></feGaussianBlur>
    </filter>
  </defs>
</svg>

<svg width="594" height="1556" viewBox="0 0 594 1556" fill="none" xmlns="http://www.w3.org/2000/svg" style="
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -2;
    max-width: 100%;
    max-height: 100%;
">
  <g opacity="0.5" filter="url(#filter0_f_5623_590)">
    <path
      d="M688.309 253.963C693.96 250.006 701.281 249.263 707.664 251.998L1192.21 459.678C1198.9 462.546 1203.54 468.797 1204.33 476.012L1259.77 982.854C1260.56 990.068 1257.37 997.114 1251.45 1001.26L822.473 1301.67C816.822 1305.62 809.501 1306.37 803.118 1303.63L318.571 1095.95C311.879 1093.08 307.24 1086.83 306.451 1079.62L251.014 572.776C250.225 565.562 253.409 558.516 259.334 554.367L688.309 253.963Z"
      fill="url(#paint0_linear_5623_590)"></path>
  </g>
  <defs>
    <filter id="filter0_f_5623_590" x="0.895508" y="0.368286" width="1508.99" height="1554.89"
      filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
      <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
      <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"></feBlend>
      <feGaussianBlur stdDeviation="125" result="effect1_foregroundBlur_5623_590"></feGaussianBlur>
    </filter>
    <linearGradient id="paint0_linear_5623_590" x1="756.245" y1="876.17" x2="1108.53" y2="1080.74"
      gradientUnits="userSpaceOnUse">
      <stop stop-color="#3B7FF8"></stop>
      <stop offset="1" stop-color="#2E5AB5"></stop>
    </linearGradient>
  </defs>
</svg>
<svg width="639" height="1676" viewBox="0 0 639 1676" fill="none" xmlns="http://www.w3.org/2000/svg" style="
    position: absolute;
    left: 0;
    z-index: 1000px;
    bottom: 0;
    z-index: -2;
    max-width: 100%;
    max-height: 100%;
">
  <g opacity="0.4" filter="url(#filter0_f_5623_591)">
    <path
      d="M-246.467 254.548C-240.816 250.591 -233.494 249.847 -227.111 252.583L314.602 484.764C321.294 487.633 325.933 493.884 326.722 501.098L388.715 1067.88C389.504 1075.1 386.32 1082.14 380.395 1086.29L-99.1894 1422.14C-104.84 1426.1 -112.162 1426.84 -118.545 1424.1L-660.258 1191.92C-666.95 1189.05 -671.589 1182.8 -672.378 1175.59L-734.371 608.802C-735.16 601.588 -731.976 594.543 -726.051 590.393L-246.467 254.548Z"
      fill="#50DAED"></path>
  </g>
  <defs>
    <filter id="filter0_f_5623_591" x="-984.49" y="0.953125" width="1623.32" height="1674.78"
      filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
      <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
      <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"></feBlend>
      <feGaussianBlur stdDeviation="125" result="effect1_foregroundBlur_5623_591"></feGaussianBlur>
    </filter>
  </defs>
</svg>