<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
  style="position: absolute; width: 0; height: 0" aria-hidden="true" id="__SVG_SPRITE_NODE__">
  <symbol xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 193 45" id="icon-huski-ai">
    <path
      d="M74.11 10.882V37h-5.436V25.75H57.172V37h-5.436V10.882h5.436V21.97h11.502V10.882h5.436Zm20.724 7.56V37h-3.06c-.636 0-1.044-.288-1.224-.864l-.324-1.296c-.372.36-.756.69-1.152.99-.396.3-.822.558-1.278.774-.444.216-.93.384-1.458.504-.516.12-1.08.18-1.692.18-1.008 0-1.908-.174-2.7-.522a5.425 5.425 0 0 1-1.962-1.458c-.528-.624-.93-1.368-1.206-2.232-.276-.864-.414-1.812-.414-2.844v-11.79h4.968v11.79c0 1.032.234 1.836.702 2.412.48.564 1.188.846 2.124.846.696 0 1.35-.15 1.962-.45a7.384 7.384 0 0 0 1.746-1.26V18.442h4.968Zm15.639 3.816c-.132.204-.27.354-.414.45-.132.084-.318.126-.558.126-.24 0-.486-.06-.738-.18s-.534-.246-.846-.378a7.923 7.923 0 0 0-1.08-.396 4.795 4.795 0 0 0-1.386-.18c-.804 0-1.428.168-1.872.504-.444.324-.666.756-.666 1.296 0 .372.126.684.378.936s.582.474.99.666c.42.18.894.354 1.422.522.528.156 1.068.33 1.62.522.564.192 1.11.414 1.638.666.528.252.996.57 1.404.954.42.372.756.828 1.008 1.368.252.528.378 1.17.378 1.926 0 .9-.168 1.734-.504 2.502a5.374 5.374 0 0 1-1.44 1.962c-.636.552-1.428.984-2.376 1.296-.948.312-2.04.468-3.276.468-.636 0-1.266-.06-1.89-.18a10.486 10.486 0 0 1-1.782-.468 12.008 12.008 0 0 1-1.584-.738 7.078 7.078 0 0 1-1.278-.9l1.152-1.854c.132-.216.294-.384.486-.504.204-.12.462-.18.774-.18.3 0 .576.078.828.234l.846.486c.312.168.678.33 1.098.486.432.144.966.216 1.602.216.48 0 .894-.054 1.242-.162.348-.108.63-.252.846-.432.216-.192.372-.402.468-.63.108-.24.162-.486.162-.738 0-.408-.132-.738-.396-.99-.252-.264-.588-.492-1.008-.684a9.633 9.633 0 0 0-1.422-.522c-.54-.156-1.092-.33-1.656-.522a14.792 14.792 0 0 1-1.638-.684 5.922 5.922 0 0 1-1.422-.99 4.958 4.958 0 0 1-1.008-1.494c-.252-.588-.378-1.302-.378-2.142 0-.768.15-1.494.45-2.178.3-.696.75-1.308 1.35-1.836.6-.528 1.344-.948 2.232-1.26.9-.312 1.938-.468 3.114-.468 1.32 0 2.52.216 3.6.648 1.08.432 1.968.996 2.664 1.692l-1.134 1.764Zm9.356-12.096V25.39h.828c.312 0 .558-.042.738-.126.18-.096.36-.264.54-.504l4.104-5.472c.204-.276.432-.486.684-.63.264-.144.594-.216.99-.216h4.536l-5.328 6.768a4.93 4.93 0 0 1-1.458 1.332c.276.192.516.414.72.666.204.252.402.534.594.846L132.519 37h-4.464c-.384 0-.714-.06-.99-.18-.276-.132-.504-.36-.684-.684l-4.176-6.822c-.168-.288-.342-.474-.522-.558-.18-.084-.45-.126-.81-.126h-1.044V37h-4.968V10.162h4.968Zm19.796 8.28V37h-4.968V18.442h4.968Zm.594-5.274c0 .42-.084.81-.252 1.17-.168.36-.396.678-.684.954a2.954 2.954 0 0 1-.99.648 3.087 3.087 0 0 1-1.206.234c-.408 0-.798-.078-1.17-.234a3.054 3.054 0 0 1-.954-.648 3.328 3.328 0 0 1-.666-.954 2.91 2.91 0 0 1-.234-1.17c0-.42.078-.81.234-1.17.168-.372.39-.696.666-.972s.594-.492.954-.648a2.995 2.995 0 0 1 1.17-.234c.432 0 .834.078 1.206.234.384.156.714.372.99.648.288.276.516.6.684.972.168.36.252.75.252 1.17Zm2.944 21.222c0-.396.072-.768.216-1.116.156-.36.366-.666.63-.918.264-.264.57-.468.918-.612a2.91 2.91 0 0 1 1.17-.234c.408 0 .792.078 1.152.234.36.144.672.348.936.612.264.252.468.558.612.918.156.348.234.72.234 1.116 0 .408-.078.786-.234 1.134a2.798 2.798 0 0 1-.612.918c-.264.252-.576.45-.936.594-.36.144-.744.216-1.152.216-.42 0-.81-.072-1.17-.216a2.95 2.95 0 0 1-.918-.594 3.051 3.051 0 0 1-.63-.918 2.937 2.937 0 0 1-.216-1.134Zm18.982-5.148c-1.212.06-2.22.168-3.024.324-.804.144-1.446.336-1.926.576-.468.24-.804.516-1.008.828a1.8 1.8 0 0 0-.288.99c0 .72.198 1.23.594 1.53.408.3.972.45 1.692.45.828 0 1.542-.144 2.142-.432.612-.3 1.218-.762 1.818-1.386v-2.88Zm-10.116-8.226a10.974 10.974 0 0 1 3.618-2.196c1.32-.492 2.748-.738 4.284-.738 1.104 0 2.088.18 2.952.54a6.16 6.16 0 0 1 2.214 1.512 6.427 6.427 0 0 1 1.404 2.286c.324.888.486 1.86.486 2.916V37h-2.268c-.468 0-.828-.066-1.08-.198-.24-.132-.438-.408-.594-.828l-.396-1.188c-.468.408-.924.768-1.368 1.08a8.102 8.102 0 0 1-1.35.792c-.468.204-.972.36-1.512.468a8.93 8.93 0 0 1-1.782.162c-.816 0-1.56-.108-2.232-.324a5.02 5.02 0 0 1-1.746-.954 4.378 4.378 0 0 1-1.116-1.602c-.264-.636-.396-1.368-.396-2.196 0-.684.174-1.368.522-2.052.348-.684.942-1.302 1.782-1.854.852-.564 1.98-1.026 3.384-1.386 1.416-.372 3.186-.582 5.31-.63v-.954c0-1.164-.246-2.016-.738-2.556-.492-.552-1.2-.828-2.124-.828-.684 0-1.254.084-1.71.252-.456.156-.858.33-1.206.522-.336.18-.654.354-.954.522-.3.156-.648.234-1.044.234-.348 0-.642-.084-.882-.252-.228-.18-.42-.39-.576-.63l-.882-1.584Zm23.948-2.574V37h-4.968V18.442h4.968Zm.594-5.274c0 .42-.084.81-.252 1.17-.168.36-.396.678-.684.954a2.954 2.954 0 0 1-.99.648 3.088 3.088 0 0 1-1.207.234c-.407 0-.797-.078-1.169-.234a3.054 3.054 0 0 1-.954-.648 3.328 3.328 0 0 1-.666-.954 2.91 2.91 0 0 1-.234-1.17c0-.42.078-.81.234-1.17.168-.372.39-.696.666-.972s.594-.492.954-.648a2.994 2.994 0 0 1 1.169-.234c.433 0 .835.078 1.207.234.384.156.714.372.99.648.288.276.516.6.684.972.168.36.252.75.252 1.17Z"
      fill="#fff"></path>
    <path d="M134.464 11.732a3.464 3.464 0 1 1 6 3.464 3.464 3.464 0 0 1-6-3.464Z" fill="#24CE85"></path>
    <path
      d="M4.563 15.26a2 2 0 0 1 1.732-1h3.627a2 2 0 0 1 1.732 1l1.813 3.14a2 2 0 0 1 0 2l-1.813 3.141a2 2 0 0 1-1.732 1H6.295a2 2 0 0 1-1.732-1l-1.813-3.14a2 2 0 0 1 0-2l1.813-3.14Zm9.786 5.773a2 2 0 0 1 1.732-1h3.626a2 2 0 0 1 1.732 1l1.814 3.14a2 2 0 0 1 0 2l-1.814 3.141a2 2 0 0 1-1.732 1h-3.626a2 2 0 0 1-1.732-1l-1.814-3.14a2 2 0 0 1 0-2l1.814-3.141Zm-.002 11.554a2 2 0 0 1 1.747-1.009l3.638.019a2 2 0 0 1 1.721 1l1.856 3.213a2 2 0 0 1 .005 1.991l-1.803 3.16a2 2 0 0 1-1.747 1.008l-3.637-.018a2 2 0 0 1-1.722-1l-1.855-3.214a2 2 0 0 1-.006-1.99l1.803-3.16Zm10.226-17.08a2 2 0 0 1 1.732-1h3.627a2 2 0 0 1 1.732 1l1.813 3.14a2 2 0 0 1 0 2l-1.813 3.141a2 2 0 0 1-1.732 1h-3.627a2 2 0 0 1-1.732-1l-1.813-3.14a2 2 0 0 1 0-2l1.813-3.14Zm9.978 5.526a2 2 0 0 1 1.732-1h3.627a2 2 0 0 1 1.732 1l1.813 3.14a2 2 0 0 1 0 2l-1.813 3.141a2 2 0 0 1-1.732 1h-3.627a2 2 0 0 1-1.732-1l-1.813-3.14a2 2 0 0 1 0-2l1.813-3.141Z"
      fill="#fff"></path>
    <path
      d="M24.573 3.968a2 2 0 0 1 1.732-1h3.627a2 2 0 0 1 1.732 1l1.813 3.14a2 2 0 0 1 0 2l-1.813 3.141a2 2 0 0 1-1.732 1h-3.627a2 2 0 0 1-1.732-1L22.76 9.11a2 2 0 0 1 0-2l1.813-3.14Z"
      fill="#24CE85"></path>
  </symbol>
  <symbol xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 5" id="icon-caret-bottom">
    <path d="M5 4.696.67.286h8.66L5 4.696z" fill="currentColor"></path>
  </symbol>
  <symbol xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" id="icon-products">
    <path
      d="M0 4.75a.5.5 0 0 1 .692-.462l5 2.084A.5.5 0 0 1 6 6.833v6.358a.5.5 0 0 1-.724.447l-5-2.5A.5.5 0 0 1 0 10.691V4.75Zm8 1.91a.5.5 0 0 1 .32-.466l5-1.931a.5.5 0 0 1 .68.466v5.953a.5.5 0 0 1-.287.453l-5 2.348A.5.5 0 0 1 8 13.031V6.66ZM6.77.095a1 1 0 0 1 .618.01L12.69 1.92a.5.5 0 0 1 .016.94L7.444 4.863a1 1 0 0 1-.725-.006L1.318 2.703a.5.5 0 0 1 .038-.942L6.77.095Z"
      fill="currentColor"></path>
  </symbol>
  <symbol xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 25 25" id="icon-search">
    <path fill-rule="evenodd" clip-rule="evenodd"
      d="M17.902 10.898a6.54 6.54 0 1 1-13.08 0 6.54 6.54 0 0 1 13.08 0zm-1.276 9.133a10.491 10.491 0 0 1-5.264 1.406c-5.82 0-10.54-4.718-10.54-10.54 0-5.82 4.72-10.54 10.54-10.54 5.821 0 10.54 4.72 10.54 10.54 0 2.164-.652 4.176-1.77 5.85.175.103.34.23.49.38l3.192 3.193a2.5 2.5 0 1 1-3.535 3.536l-3.193-3.193a2.5 2.5 0 0 1-.46-.632z"
      fill="currentColor"></path>
  </symbol>
  <symbol xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 11" id="icon-line-arrow-right">
    <path d="M0 5.31h13.445M9.759 1 14 5.241 9.759 9.482" stroke="currentColor" stroke-width="2"></path>
  </symbol>
  <symbol xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 13" id="icon-eye">
    <path fill-rule="evenodd" clip-rule="evenodd"
      d="M.585 4.543C2.067 2.443 4.685-.063 7.98 0c3.267.064 5.888 2.497 7.394 4.534.727.983.764 2.3.08 3.313-1.44 2.128-4.033 4.653-7.474 4.59C4.546 12.373 1.976 9.885.552 7.81a2.85 2.85 0 0 1 .033-3.268zM11.69 6.219a3.682 3.682 0 1 1-7.364 0 3.682 3.682 0 0 1 7.364 0zm-1.381 0a2.301 2.301 0 1 1-4.603 0 2.301 2.301 0 0 1 4.603 0z"
      fill="currentColor"></path>
  </symbol>
  <symbol xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 23 18" id="icon-lawsuit">
    <path fill-rule="evenodd" clip-rule="evenodd"
      d="M7.52 1.444a.98.98 0 0 1 1.326-.397l4.063 2.19a.98.98 0 1 1-.929 1.724l-4.063-2.19a.98.98 0 0 1-.398-1.327Zm4.65 3.627L7.722 2.673 5.326 7.118A.98.98 0 0 0 4.6 8.925l4.064 2.19a.98.98 0 0 0 1.11-1.6l.718-1.332 9.87 5.534a1.452 1.452 0 0 0 1.875-.919c.137-.517.197-1.139-.632-1.775L11.61 6.109l.56-1.038Zm-8.395 8.514a1 1 0 0 0-1 1v.926h8.668v-.926a1 1 0 0 0-1-1H3.775Zm-1.927 1.927a1 1 0 0 0-1 1v.626a.3.3 0 0 0 .3.3H13.07a.3.3 0 0 0 .3-.3v-.626a1 1 0 0 0-1-1H1.848Z"
      fill="currentColor"></path>
  </symbol>
  <symbol xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 14" id="icon-menu-product-feature">
    <path fill-rule="evenodd" clip-rule="evenodd"
      d="M11.048 6.127a.2.2 0 0 1-.196-.244l.359-1.592a.2.2 0 0 1 .35-.081l1.274 1.58a.2.2 0 0 1-.155.326l-1.632.011Zm2.386-.39a.2.2 0 0 1-.28-.03l-1.444-1.79a.2.2 0 0 1 .03-.282L16.254 0H1a1 1 0 0 0-1 1v11.2a1 1 0 0 0 1 1h16a1 1 0 0 0 1-1V2.06l-4.566 3.678ZM2.5 3.6a.5.5 0 0 1 .5-.5h5.4a.5.5 0 1 1 0 1H3a.5.5 0 0 1-.5-.5ZM3 6.1a.5.5 0 1 0 0 1h5.4a.5.5 0 0 0 0-1H3Zm-.5 3.5a.5.5 0 0 1 .5-.5h12a.5.5 0 1 1 0 1H3a.5.5 0 0 1-.5-.5Z"
      fill="currentColor"></path>
  </symbol>
  <symbol xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 17" id="icon-menu-faq">
    <path fill-rule="evenodd" clip-rule="evenodd"
      d="M0 2a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-2l.5 3-4.5-3H2a2 2 0 0 1-2-2V2Zm10.795 5.13c-.637.483-1.256.952-1.159 1.786h-1.56c-.144-1.078.63-1.676 1.32-2.21.516-.398.984-.76.984-1.258 0-.732-.576-1.14-1.524-1.14-.732 0-1.332.336-1.92.948l-.984-.9C6.72 3.468 7.776 2.88 9.06 2.88c1.74 0 3.012.816 3.012 2.412 0 .87-.648 1.361-1.277 1.838Zm-.871 3.922c0 .624-.456 1.068-1.056 1.068-.624 0-1.068-.444-1.068-1.068 0-.624.456-1.056 1.068-1.056.6 0 1.056.432 1.056 1.056Z"
      fill="currentColor"></path>
  </symbol>
  <symbol xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 13" id="icon-media">
    <path fill-rule="evenodd" clip-rule="evenodd"
      d="M2 0a2 2 0 0 0-2 2v8.857a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2Zm9.811 6.583a.2.2 0 0 0 0-.31L7.789 2.985a.2.2 0 0 0-.327.155v6.58a.2.2 0 0 0 .327.154l4.022-3.29Z"
      fill="currentColor"></path>
  </symbol>
  <symbol xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 20" id="icon-insights">
    <path fill-rule="evenodd" clip-rule="evenodd"
      d="M12.235 13.617C14.496 12.315 16 10.003 16 7.367 16 3.298 12.418 0 8 0S0 3.298 0 7.367c0 2.636 1.504 4.949 3.765 6.25v.5h8.47v-.5Zm-8.47 2.432v-.99h8.47v.575l-8.47.415Zm0 .62v.272c0 .655.753 1.233 1.896 1.57.131.705 1.128 1.254 2.339 1.254 1.21 0 2.207-.549 2.338-1.254 1.144-.337 1.897-.914 1.897-1.57v-.686l-8.47.414Z"
      fill="#24CE85"></path>
    <path
      d="M10.003 7.388c0 1.466-.271 2.769-.688 3.687-.438.962-.94 1.32-1.315 1.32s-.877-.358-1.315-1.32c-.417-.918-.688-2.221-.688-3.687 0-1.466.271-2.768.688-3.686.438-.963.94-1.32 1.315-1.32s.877.357 1.315 1.32c.417.918.688 2.22.688 3.686Z"
      stroke="#232555"></path>
    <path
      d="M6.974 9.06C5.686 8.307 4.68 7.407 4.087 6.583c-.297-.413-.475-.787-.547-1.098-.07-.309-.03-.524.06-.674.093-.15.268-.285.58-.37.315-.085.737-.107 1.249-.046 1.023.123 2.308.567 3.597 1.322 1.288.755 2.294 1.654 2.887 2.479.297.412.475.787.547 1.098.07.309.03.524-.06.674-.093.15-.268.285-.58.37-.315.084-.736.107-1.249.045-1.023-.122-2.308-.566-3.597-1.321Z"
      stroke="#232555"></path>
    <path
      d="M6.942 5.734c1.274-.778 2.55-1.245 3.571-1.386.51-.07.933-.056 1.25.023.313.079.491.211.586.36.094.147.138.362.073.672-.065.313-.237.69-.526 1.108-.576.835-1.565 1.752-2.839 2.53-1.274.78-2.55 1.247-3.57 1.388-.511.07-.934.056-1.25-.024-.313-.078-.492-.21-.586-.359-.095-.148-.139-.363-.074-.672.066-.313.237-.69.526-1.109.576-.834 1.565-1.752 2.84-2.53Z"
      stroke="#232555"></path>
  </symbol>
  <symbol xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 19 16" id="icon-analytics">
    <path
      d="m17.615 0-3.062.51.164.987 1.28-.214-2.342 2.928L7.714.813 2.259 5.848.76 4.1 0 4.752l2.176 2.534 5.678-5.241 6.048 3.459 2.993-3.742.244 1.465.986-.165L17.615 0Z"
      fill="currentColor"></path>
    <path
      d="M6.955 5.282a.5.5 0 0 0-.5.5v8.892a.5.5 0 0 0 .5.5h2.426a.5.5 0 0 0 .5-.5V5.782a.5.5 0 0 0-.5-.5H6.955ZM.88 9.32a.5.5 0 0 0-.5.5v4.652a.5.5 0 0 0 .5.5h2.425a.5.5 0 0 0 .5-.5V9.82a.5.5 0 0 0-.5-.5H.879Zm11.488-1.519a.5.5 0 0 1 .5-.5h2.426a.5.5 0 0 1 .5.5v6.772a.5.5 0 0 1-.5.5h-2.426a.5.5 0 0 1-.5-.5V7.8Z"
      fill="currentColor"></path>
  </symbol>
  <symbol xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 18" id="icon-contact">
    <path fill-rule="evenodd" clip-rule="evenodd"
      d="M0 3a3 3 0 0 1 3-3h11.582a3 3 0 0 1 2.713 1.716 2.988 2.988 0 0 0-1.284-.287H4.429a3 3 0 0 0-3 3v6.056c0 .46.103.895.287 1.284A3 3 0 0 1 0 9.056V3zm5.418-.583a3 3 0 0 0-3 3v6.057a3 3 0 0 0 3 3h6.72l5.852 2.763-1.026-2.763H17a3 3 0 0 0 3-3V5.417a3 3 0 0 0-3-3H5.418zm1.52 7.536a1.507 1.507 0 1 0 0-3.014 1.507 1.507 0 0 0 0 3.014zm6.03-1.507a1.507 1.507 0 1 1-3.015 0 1.507 1.507 0 0 1 3.014 0zm3.013 1.507a1.507 1.507 0 1 0 0-3.014 1.507 1.507 0 0 0 0 3.014z"
      fill="currentColor"></path>
  </symbol>
  <symbol xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16" id="icon-menu-company">
    <path fill-rule="evenodd" clip-rule="evenodd"
      d="M3.63 0a2 2 0 0 0-2 2v12.486H.5a.5.5 0 1 0 0 1h18.09a.5.5 0 0 0 0-1h-1.334V7.324a2 2 0 0 0-2-2h-2.345a1.99 1.99 0 0 0-1.105.333V2a2 2 0 0 0-2-2H3.631Zm.924 14.486h4.253v-3.248a1 1 0 0 0-1-1H5.554a1 1 0 0 0-1 1v3.248ZM4.45 3.904a.5.5 0 0 1 .5-.5h3.392a.5.5 0 1 1 0 1H4.95a.5.5 0 0 1-.5-.5Zm.5 2.882a.5.5 0 0 0 0 1h3.392a.5.5 0 1 0 0-1H4.95Zm7.597 3.774a.5.5 0 0 1 .5-.5h2.136a.5.5 0 0 1 0 1h-2.136a.5.5 0 0 1-.5-.5Z"
      fill="currentColor"></path>
  </symbol>
  <symbol xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 18" id="icon-menu-technology">
    <path fill-rule="evenodd" clip-rule="evenodd"
      d="M13.275 1.125c0 .442-.255.824-.625 1.008V3.5a1.5 1.5 0 0 1-1.5 1.5H9.9V4h1.25a.5.5 0 0 0 .5-.5V2.133a1.125 1.125 0 1 1 1.625-1.008Zm-2.25 15.75c0-.442.255-.824.625-1.008V14.5a.5.5 0 0 0-.5-.5H9.9v-1h1.25a1.5 1.5 0 0 1 1.5 1.5v1.367a1.125 1.125 0 1 1-1.625 1.008ZM9.9 11.75h4.625a.5.5 0 0 1 .5.5v1.367a1.125 1.125 0 1 0 1 0V12.25a1.5 1.5 0 0 0-1.5-1.5H9.9v1Zm4.625-5.5H9.9v1h4.625a1.5 1.5 0 0 0 1.5-1.5V4.383a1.125 1.125 0 1 0-1 0V5.75a.5.5 0 0 1-.5.5ZM9.9 9.5h7.092a1.125 1.125 0 1 0 0-1H9.9v1ZM8.012 0H9v5.7a3.306 3.306 0 0 0-3.213 2.656 3.297 3.297 0 0 0 1.405 3.388c.535.358 1.164.55 1.808.556V18H7.994a.366.366 0 0 1-.349-.258l-.6-2.022a6.994 6.994 0 0 1-1.381-.564l-1.856.99a.366.366 0 0 1-.433-.066L1.94 14.646a.366.366 0 0 1-.066-.432l.985-1.884a6.97 6.97 0 0 1-.6-1.398l-2-.6A.366.366 0 0 1 0 9.984V7.956a.366.366 0 0 1 .258-.348l1.988-.6c.147-.495.349-.972.6-1.422l-.972-1.8a.366.366 0 0 1 .066-.432L3.4 1.932a.366.366 0 0 1 .432-.066l1.802.972a6.989 6.989 0 0 1 1.429-.6l.6-1.98A.366.366 0 0 1 8.012 0Z"
      fill="currentColor"></path>
  </symbol>
</svg>
<div class="huski-header fx-center">
  <div class="container fx-between huski-nav-bar">
    <div class="huski-logo">
      <a href="https://huski.ai"><img src="{{asset 'huski-ai.png'}}" /></a>
    </div>

    <!-- 移动端显示的菜单 -->
    <div class="dropdown language-selector tablet-show">
      <button style="width: 28px;height: 22px;" class="dropdown-toggle color-white fx-start" aria-haspopup="true">
        <svg t="1645780649937" class="icon" viewBox="0 0 1152 1024" version="1.1" xmlns="http://www.w3.org/2000/svg"
          p-id="2687" width="200" height="200">
          <path d="M0 0h1152v128H0V0z m384 448h768v128H384V448z m-384 448h1152v128H0v-128z" p-id="2688" fill="#ffffff">
          </path>
        </svg>
      </button>
      <span class="dropdown-menu dropdown-menu-end" role="menu">
        <a href="https://huski.ai/" rel="nofollow" role="menuitem">{{#is current_locale.name
          '简体中文'}}主页{{else}}Home{{/is}}</a>
        <a href="https://huski.ai/technology" rel="nofollow" role="menuitem">{{#is current_locale.name
          '简体中文'}}领先的人工智能技术{{else}}Technology{{/is}}</a>
        <a href="https://huski.ai/about" rel="nofollow" role="menuitem">
          {{#is current_locale.name '简体中文'}}关于我们{{else}}About{{/is}}
        </a>
        <a href="/hc" rel="nofollow" role="menuitem">{{#is current_locale.name '简体中文'}}博客{{else}}Blog{{/is}}</a>
        {{!-- <a href="https://huski.ai/landing-report" rel="nofollow" role="menuitem">{{#is current_locale.name
          '简体中文'}}零售商{{else}}For Retailer{{/is}}</a>
        <a href="https://huski.ai/landing-lawyer" rel="nofollow" role="menuitem">{{#is current_locale.name
          '简体中文'}}知识产权律师{{else}}For IP Lawyer{{/is}}</a>
        <a href="https://huski.ai/landing-brand" rel="nofollow" role="menuitem">{{#is current_locale.name
          '简体中文'}}品牌所有者{{else}}For Brand Owner{{/is}}</a> --}}
      </span>
    </div>


    <!-- PC端显示的菜单 -->
    <ul class="huski-nav-list fx-start">
      <li class="pointer fx-start huski-nav-item" id="nav-product">
        <span>Product</span>&nbsp;<svg width="10" height="5" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M5 4.696.67.286h8.66L5 4.696z" fill="currentColor" />
        </svg>
      </li>
      <li class="pointer fx-start huski-nav-item" id="nav-insights">
        <span>Insights</span>&nbsp;<svg width="10" height="5" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M5 4.696.67.286h8.66L5 4.696z" fill="currentColor" />
        </svg>
      </li>

      <!-- Pricing -->
      <li class="huski-nav-item">
        <a href="https://huski.ai/pricing">Pricing</a>
      </li>

      <li class="pointer fx-start huski-nav-item" id="nav-about">
        <span>About</span>&nbsp;<svg width="10" height="5" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M5 4.696.67.286h8.66L5 4.696z" fill="currentColor" />
        </svg>
      </li>

      <!-- Blog -->
      <li class="huski-nav-item">
        <a href="https://huski.ai/login">Sign In</a>
      </li>
      <li class="pl-10">
        <a href="https://huski.ai/register" class="huski-btn huski-btn-success small">Try for free</a>
      </li>
      {{!--
      <!-- Home -->
      <li>
        <a href="https://huski.ai/">
          {{#is current_locale.name '简体中文'}}主页{{else}}Home{{/is}}</a>
      </li>

      <!-- Solutions -->
      <li>
        <div class="dropdown language-selector">
          <button style="height: 22px;" class="dropdown-toggle color-white fx-start" aria-haspopup="true">
            {{#is current_locale.name '简体中文'}}解决方案{{else}}Solutions{{/is}}&nbsp;<svg width="10" height="5" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M5 4.696.67.286h8.66L5 4.696z" fill="currentColor" />
            </svg>
          </button>
          <span class="dropdown-menu dropdown-menu-end" role="menu">
            <a href="https://huski.ai/solutions/trademark-search" rel="nofollow" role="menuitem">
              <div class="fx-start">
                <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M11.0561 13.4985C10.0932 13.9836 9.00525 14.2567 7.85349 14.2567C3.9166 14.2567 0.725116 11.0653 0.725116 7.12837C0.725117 3.19148 3.9166 -5.93749e-07 7.85349 -4.21663e-07C11.7904 -2.49576e-07 14.9819 3.19148 14.9819 7.12837C14.9819 8.82789 14.3871 10.3885 13.3944 11.6134L17.1211 15.806C17.6715 16.4252 17.6157 17.3733 16.9965 17.9236C16.3774 18.474 15.4292 18.4183 14.8789 17.7991L11.0561 13.4985ZM11.9819 7.12837C11.9819 9.4084 10.1335 11.2567 7.85349 11.2567C5.57345 11.2567 3.72512 9.4084 3.72512 7.12837C3.72512 4.84833 5.57345 3 7.85349 3C10.1335 3 11.9819 4.84833 11.9819 7.12837Z"
                    fill="#5A5875" />
                </svg>
                &nbsp;&nbsp;
                Searching
              </div>
            </a>
            <a href="https://huski.ai/solutions/trademark-watch" rel="nofollow" role="menuitem">
              <div class="fx-start">
                <svg width="19" height="15" viewBox="0 0 19 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M9.1192 0C4.8899 0 1.95162 3.18619 0.431063 5.69896C-0.213329 6.76384 -0.119683 8.10038 0.607857 9.11028C2.31335 11.4777 5.05866 14.104 9.1192 14.104C13.177 14.104 16.3393 11.0867 17.9193 8.78516C18.4828 7.96423 18.5699 6.91311 18.1273 6.02113C16.8076 3.36154 13.8049 0 9.1192 0ZM13.3789 6.9221C13.3789 9.2747 11.4718 11.1819 9.11919 11.1819C6.76659 11.1819 4.85943 9.2747 4.85943 6.9221C4.85943 4.5695 6.76659 2.66234 9.11919 2.66234C11.4718 2.66234 13.3789 4.5695 13.3789 6.9221ZM9.11915 9.58477C10.5895 9.58477 11.7815 8.3928 11.7815 6.92243C11.7815 5.45205 10.5895 4.26008 9.11915 4.26008C7.64877 4.26008 6.4568 5.45205 6.4568 6.92243C6.4568 8.3928 7.64877 9.58477 9.11915 9.58477Z"
                    fill="#5A5875" />
                </svg>
                &nbsp;&nbsp;
                Watching
              </div>
            </a>
            <a href="https://huski.ai/solutions/brand-protection" rel="nofollow" role="menuitem">
              <div class="fx-start">
                <svg width="22" height="17" viewBox="0 0 22 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M6.76175 0.519383C7.02468 0.0417125 7.62873 -0.139205 8.11094 0.115292L12.2949 2.32347C12.7771 2.57797 12.9549 3.17151 12.692 3.64918C12.447 4.09429 11.9058 4.28173 11.4429 4.09928L11.0273 4.85449L21.2686 9.78438C22.1182 10.423 22.0575 11.0469 21.9164 11.566C21.7752 12.085 21.0444 12.8269 19.9963 12.4883L9.88199 6.93517L9.22546 8.12794C9.65169 8.40163 9.7982 8.95823 9.54908 9.41082C9.28616 9.88849 8.68211 10.0694 8.1999 9.81491L4.01592 7.60673C3.53371 7.35223 3.35594 6.75869 3.61886 6.28102C3.8245 5.90742 4.23883 5.71535 4.64032 5.77116L6.90626 1.65446C6.62298 1.3569 6.55163 0.90114 6.76175 0.519383ZM1.5248 12.7007C1.24866 12.7007 1.0248 12.9245 1.0248 13.2007V14.7073H11.2712V13.2007C11.2712 12.9245 11.0473 12.7007 10.7712 12.7007H1.5248ZM0.5 14.7075C0.223858 14.7075 0 14.9314 0 15.2075V16.4142C0 16.5799 0.134315 16.7142 0.3 16.7142H11.9957C12.1614 16.7142 12.2957 16.5799 12.2957 16.4142V15.2075C12.2957 14.9314 12.0718 14.7075 11.7957 14.7075H0.5Z"
                    fill="#5A5875" />
                </svg>
                &nbsp;&nbsp;
                Brand Protection
              </div>
            </a>
          </span>
        </div>
      </li>


      <!-- Learn More -->
      <li>
        <div class="dropdown language-selector">
          <button style="height: 22px;" class="dropdown-toggle color-white fx-start" aria-haspopup="true">
            {{#is current_locale.name '简体中文'}}学习更多{{else}}Learn More{{/is}}&nbsp;<svg width="10" height="5" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M5 4.696.67.286h8.66L5 4.696z" fill="currentColor" />
            </svg>
          </button>
          <span class="dropdown-menu dropdown-menu-end" role="menu">
            <a href="https://huski.ai/products/features" rel="nofollow" role="menuitem">
              <div class="fx-start">
                <svg width="18" height="14" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M11.048 6.127a.2.2 0 0 1-.196-.244l.359-1.592a.2.2 0 0 1 .35-.081l1.274 1.58a.2.2 0 0 1-.155.326l-1.632.011Zm2.386-.39a.2.2 0 0 1-.28-.03l-1.444-1.79a.2.2 0 0 1 .03-.282L16.254 0H1a1 1 0 0 0-1 1v11.2a1 1 0 0 0 1 1h16a1 1 0 0 0 1-1V2.06l-4.566 3.678ZM2.5 3.6a.5.5 0 0 1 .5-.5h5.4a.5.5 0 1 1 0 1H3a.5.5 0 0 1-.5-.5ZM3 6.1a.5.5 0 1 0 0 1h5.4a.5.5 0 0 0 0-1H3Zm-.5 3.5a.5.5 0 0 1 .5-.5h12a.5.5 0 1 1 0 1H3a.5.5 0 0 1-.5-.5Z"
                    fill="#5A5875" />
                </svg>
                &nbsp;&nbsp;
                {{#is current_locale.name '简体中文'}}产品特性{{else}}Product Feature{{/is}}
              </div>
            </a>
            <a href="https://huski.ai/faq" rel="nofollow" role="menuitem">
              <div class="fx-start">
                <svg width="18" height="17" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M0 2a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-2l.5 3-4.5-3H2a2 2 0 0 1-2-2V2Zm10.795 5.13c-.637.483-1.256.952-1.159 1.786h-1.56c-.144-1.078.63-1.676 1.32-2.21.516-.398.984-.76.984-1.258 0-.732-.576-1.14-1.524-1.14-.732 0-1.332.336-1.92.948l-.984-.9C6.72 3.468 7.776 2.88 9.06 2.88c1.74 0 3.012.816 3.012 2.412 0 .87-.648 1.361-1.277 1.838Zm-.871 3.922c0 .624-.456 1.068-1.056 1.068-.624 0-1.068-.444-1.068-1.068 0-.624.456-1.056 1.068-1.056.6 0 1.056.432 1.056 1.056Z"
                    fill="#5A5875" />
                </svg>
                &nbsp;&nbsp;
                {{#is current_locale.name '简体中文'}}常见问题{{else}}FAQ{{/is}}
              </div>
            </a>
          </span>
        </div>
      </li>

      <!-- Get Started -->
      <li>
        <div class="dropdown language-selector">
          <button style="height: 22px;" class="dropdown-toggle color-white fx-start" aria-haspopup="true">
            {{#is current_locale.name '简体中文'}}开始旅程{{else}}Get Started{{/is}}&nbsp;<svg width="10" height="5" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M5 4.696.67.286h8.66L5 4.696z" fill="currentColor" />
            </svg>
          </button>
          <span class="dropdown-menu dropdown-menu-end" role="menu">
            <a href="https://huski.ai/pricing" rel="nofollow" role="menuitem">
              <div class="fx-start">
                <svg width="18" height="17" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="m9.3.002 5.074.177a1 1 0 0 1 .966 1v4.679a1 1 0 0 1-.327.74l-8.885 8.087a1 1 0 0 1-1.427-.083L.246 9.492a1 1 0 0 1 .066-1.383L8.576.275A1 1 0 0 1 9.3.002Zm3.944 3.023a1.084 1.084 0 1 1-2.167 0 1.084 1.084 0 0 1 2.167 0ZM7.331 16.28l-.872-.804a1 1 0 0 0 .821-.25l8.963-8.157a1 1 0 0 0 .327-.74V1.74h.402a1 1 0 0 1 1 1v4.646a1 1 0 0 1-.327.74l-8.963 8.157a1 1 0 0 1-1.351-.004Z"
                    fill="#5A5875" />
                </svg>
                &nbsp;&nbsp;
                {{#is current_locale.name '简体中文'}}价格{{else}}Pricing{{/is}}
              </div>
            </a>
            <a href="https://huski.ai/book/book-a-demo" rel="nofollow" role="menuitem">
              <div class="fx-start">
                <svg width="16" height="17" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M4.8 1v3.2M11.2 1v3.2" stroke="#5A5875" stroke-width="2" stroke-linecap="round" />
                  <mask id="a" fill="#fff">
                    <path d="M0 4.114a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v10.4a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-10.4Z" />
                  </mask>
                  <path d="M0 4.114a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v10.4a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-10.4Z"
                    fill="#5A5875" />
                  <path
                    d="M2 3.614h12v-3H2v3Zm12.5.5v10.4h3v-10.4h-3Zm-.5 10.9H2v3h12v-3Zm-12.5-.5v-10.4h-3v10.4h3Zm.5.5a.5.5 0 0 1-.5-.5h-3a3.5 3.5 0 0 0 3.5 3.5v-3Zm12.5-.5a.5.5 0 0 1-.5.5v3a3.5 3.5 0 0 0 3.5-3.5h-3Zm-.5-10.9a.5.5 0 0 1 .5.5h3a3.5 3.5 0 0 0-3.5-3.5v3Zm-12-3a3.5 3.5 0 0 0-3.5 3.5h3a.5.5 0 0 1 .5-.5v-3Z"
                    fill="#5A5875" mask="url(#a)" />
                  <path d="M0 5.8h16" stroke="#fff" stroke-width="1.5" />
                </svg>
                &nbsp;&nbsp;
                {{#is current_locale.name '简体中文'}}预约演示{{else}}Book A Demo{{/is}}
              </div>
            </a>
            <a href="https://huski.ai/register?from=blog" rel="nofollow" role="menuitem">
              <div class="fx-start">
                <svg width="15" height="19" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M0 11.778V3.715h3.196a.5.5 0 0 0 .5-.5V.02h6.01a2 2 0 0 1 2 2v9.707l-1.768-1.582s-2.044.973-1 2.25c.494.604.828 1.056 1.043 1.365a2.01 2.01 0 0 1-.276.019H2a2 2 0 0 1-2-2Zm6-7.16a.4.4 0 1 0 0 .8h3a.4.4 0 0 0 0-.8H6Zm-3.4 2.4c0-.22.18-.4.4-.4h6a.4.4 0 1 1 0 .8H3a.4.4 0 0 1-.4-.4Zm.4 1.6a.4.4 0 1 0 0 .8h3a.4.4 0 0 0 0-.8H3Zm-.125-6.03V.35a.1.1 0 0 0-.168-.073L.29 2.515a.1.1 0 0 0 .068.173h2.417a.1.1 0 0 0 .1-.1ZM9 15.28v-.833c.444-.019.868-.11 1.263-.261.039-.292.111-.492.111-.492s-.431-.51-1.098-1.424c-.668-.914.652-1.334.652-1.334l2.092 1.928c.509-.67.81-1.507.81-2.414V9.02c.497.539 1.536 2.513 1.615 2.91.084.418.035 3.315 0 4.711H9.942v-.419c-.314-.104-.942-.44-.942-.942Zm1.3 1.74a.3.3 0 0 0-.3.3v.9a.3.3 0 0 0 .3.3h3.9a.3.3 0 0 0 .3-.3v-.9a.3.3 0 0 0-.3-.3h-3.9Z"
                    fill="#5A5875" />
                </svg>
                &nbsp;&nbsp;
                {{#is current_locale.name '简体中文'}}免费试用{{else}}Free Trail{{/is}}
              </div>
            </a>
          </span>
        </div>
      </li>
      <!-- Insights -->
      <li>
        <div class="dropdown language-selector">
          <button style="height: 22px;" class="dropdown-toggle color-white fx-start" aria-haspopup="true">
            {{#is current_locale.name '简体中文'}}Insights{{else}}Insights{{/is}}&nbsp;<svg width="10" height="5"
              fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M5 4.696.67.286h8.66L5 4.696z" fill="currentColor" />
            </svg>
          </button>
          <span class="dropdown-menu dropdown-menu-end" role="menu">
            <a href="https://huski.ai/trademark/conflict/list" rel="nofollow" role="menuitem">
              <div class="fx-start">
                {{#is current_locale.name '简体中文'}}Latest Top 10 Conflicts{{else}}Latest Top 10 Conflicts{{/is}}
              </div>
            </a>
            <a href="https://huski.ai/lawyer/search" rel="nofollow" role="menuitem">
              <div class="fx-start">
                {{#is current_locale.name '简体中文'}}Attorney Ranking{{else}}Attorney Ranking{{/is}}
              </div>
            </a>
          </span>
        </div>
      </li>

      <!-- About -->
      <li>
        <div class="dropdown language-selector">
          <button style="height: 22px;" class="dropdown-toggle color-white fx-start" aria-haspopup="true">
            {{#is current_locale.name '简体中文'}}关于我们{{else}}About{{/is}}&nbsp;<svg width="10" height="5" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M5 4.696.67.286h8.66L5 4.696z" fill="currentColor" />
            </svg>
          </button>
          <span class="dropdown-menu dropdown-menu-end" role="menu">
            <a href="https://huski.ai/technology" rel="nofollow" role="menuitem">
              <div class="fx-start">
                <svg width="20" height="18" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M13.275 1.125c0 .442-.255.824-.625 1.008V3.5a1.5 1.5 0 0 1-1.5 1.5H9.9V4h1.25a.5.5 0 0 0 .5-.5V2.133a1.125 1.125 0 1 1 1.625-1.008Zm-2.25 15.75c0-.442.255-.824.625-1.008V14.5a.5.5 0 0 0-.5-.5H9.9v-1h1.25a1.5 1.5 0 0 1 1.5 1.5v1.367a1.125 1.125 0 1 1-1.625 1.008ZM9.9 11.75h4.625a.5.5 0 0 1 .5.5v1.367a1.125 1.125 0 1 0 1 0V12.25a1.5 1.5 0 0 0-1.5-1.5H9.9v1Zm4.625-5.5H9.9v1h4.625a1.5 1.5 0 0 0 1.5-1.5V4.383a1.125 1.125 0 1 0-1 0V5.75a.5.5 0 0 1-.5.5ZM9.9 9.5h7.092a1.125 1.125 0 1 0 0-1H9.9v1ZM8.012 0H9v5.7a3.306 3.306 0 0 0-3.213 2.656 3.297 3.297 0 0 0 1.405 3.388c.535.358 1.164.55 1.808.556V18H7.994a.366.366 0 0 1-.349-.258l-.6-2.022a6.994 6.994 0 0 1-1.381-.564l-1.856.99a.366.366 0 0 1-.433-.066L1.94 14.646a.366.366 0 0 1-.066-.432l.985-1.884a6.97 6.97 0 0 1-.6-1.398l-2-.6A.366.366 0 0 1 0 9.984V7.956a.366.366 0 0 1 .258-.348l1.988-.6c.147-.495.349-.972.6-1.422l-.972-1.8a.366.366 0 0 1 .066-.432L3.4 1.932a.366.366 0 0 1 .432-.066l1.802.972a6.989 6.989 0 0 1 1.429-.6l.6-1.98A.366.366 0 0 1 8.012 0Z"
                    fill="#5A5875" />
                </svg>
                &nbsp;&nbsp;
                {{#is current_locale.name '简体中文'}}领先的人工智能技术{{else}}Technology{{/is}}
              </div>
            </a>
            <a href="https://huski.ai/about" rel="nofollow" role="menuitem">
              <div class="fx-start">
                <svg width="20" height="16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M3.63 0a2 2 0 0 0-2 2v12.486H.5a.5.5 0 1 0 0 1h18.09a.5.5 0 0 0 0-1h-1.334V7.324a2 2 0 0 0-2-2h-2.345a1.99 1.99 0 0 0-1.105.333V2a2 2 0 0 0-2-2H3.631Zm.924 14.486h4.253v-3.248a1 1 0 0 0-1-1H5.554a1 1 0 0 0-1 1v3.248ZM4.45 3.904a.5.5 0 0 1 .5-.5h3.392a.5.5 0 1 1 0 1H4.95a.5.5 0 0 1-.5-.5Zm.5 2.882a.5.5 0 0 0 0 1h3.392a.5.5 0 1 0 0-1H4.95Zm7.597 3.774a.5.5 0 0 1 .5-.5h2.136a.5.5 0 0 1 0 1h-2.136a.5.5 0 0 1-.5-.5Z"
                    fill="#5A5875" />
                </svg>
                &nbsp;&nbsp;
                {{#is current_locale.name '简体中文'}}公司介绍{{else}}Company{{/is}}
              </div>
            </a>
          </span>
        </div>
      </li> --}}




      {{!-- <li>
        <a href="https://huski.ai/technology">
          {{#is current_locale.name '简体中文'}}领先的人工智能技术{{else}}Technology{{/is}}</a>
      </li>
      <li>
        <a href="https://huski.ai/about">
          {{#is current_locale.name '简体中文'}}关于我们{{else}}About{{/is}}
        </a>
      </li> --}}

      {{!-- <li class="fx-center">
        {{#if alternative_locales}}
        <div class="dropdown language-selector">
          <button class="dropdown-toggle color-white fx-start" aria-haspopup="true">
            <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M15.5 8.02105C15.5 12.1761 12.1409 15.5421 8 15.5421C3.8591 15.5421 0.5 12.1761 0.5 8.02105C0.5 3.86605 3.8591 0.5 8 0.5C12.1409 0.5 15.5 3.86605 15.5 8.02105Z"
                stroke="white" />
              <mask id="mask0_768_74" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="16"
                height="17">
                <ellipse cx="8" cy="8.02105" rx="8" ry="8.02105" fill="#24CE85" />
              </mask>
              <g mask="url(#mask0_768_74)">
                <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M11.3459 11.1534C11.0172 12.8588 10.377 14.5851 9.32718 16.2502L8.48127 15.7169C9.43494 14.2043 10.0266 12.6337 10.3401 11.0774C8.5476 10.9604 6.9758 10.957 5.61434 11.0209C5.85185 12.6074 6.34379 14.2891 7.20397 16.0333L6.30711 16.4756C5.3809 14.5975 4.85888 12.7863 4.61277 11.0822C3.02851 11.2023 1.77533 11.4108 0.832371 11.6141L0.621582 10.6366C1.60146 10.4253 2.88708 10.212 4.49847 10.088C4.39759 8.91177 4.42248 7.79318 4.52752 6.74645C2.8987 6.59415 1.6034 6.3464 0.621582 6.13469L0.832371 5.15716C1.78733 5.36308 3.05364 5.606 4.65306 5.75382C5.00655 3.43307 5.7132 1.52511 6.2009 0.208329L6.20113 0.207704C6.24942 0.0773069 6.29557 -0.0472909 6.33901 -0.165916L7.27803 0.177977C7.23604 0.292632 7.19184 0.412166 7.14588 0.536449L7.14584 0.536536L7.14566 0.537043C6.66606 1.83398 5.99528 3.64789 5.65336 5.83007C7.0296 5.913 8.61851 5.91934 10.431 5.78297C10.0936 3.63302 9.34565 1.70828 8.47542 0.257148L9.33303 -0.257141C10.2661 1.29886 11.0726 3.37346 11.4286 5.69538C12.5932 5.57867 13.8431 5.40346 15.1809 5.15437L15.364 6.13748C14.0064 6.39024 12.7362 6.56868 11.551 6.6881C11.6558 7.80963 11.651 8.97738 11.5029 10.1632C12.6975 10.2669 13.9787 10.4192 15.3489 10.6312L15.196 11.6195C13.8207 11.4067 12.5383 11.2553 11.3459 11.1534ZM10.5033 10.0861C10.6483 8.95776 10.6547 7.84521 10.5552 6.77642C8.64342 6.92259 6.97029 6.9142 5.52471 6.82406C5.4224 7.82863 5.39834 8.89994 5.49654 10.0254C6.93629 9.9551 8.60144 9.95815 10.5033 10.0861Z"
                  fill="white" />
              </g>
            </svg>&nbsp;
            {{current_locale.name}}
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12"
              class="dropdown-chevron-icon">
              <path fill="none" stroke="currentColor" stroke-linecap="round" d="M3 4.5l2.6 2.6c.2.2.5.2.7 0L9 4.5" />
            </svg>
          </button>
          <span class="dropdown-menu dropdown-menu-end" role="menu">
            {{#each alternative_locales}}
            <a href="{{url}}" dir="{{direction}}" rel="nofollow" role="menuitem">
              {{name}}
            </a>
            {{/each}}
          </span>
        </div>
        {{/if}}
      </li> --}}
    </ul>
  </div>
</div>

<!--- 分割线 --->
<div class="huski-blog-header-box">
  <div class="huski-blog-header-bg">
    <picture>
      <source type="image/webp" srcset="{{asset 'blog-hero.min.webp'}}" />
      <img src="{{asset 'blog-hero.min.png'}}" alt="Lawyer Profile Top Background" />
    </picture>
  </div>

  <div class="huski-blog-header container pb-15">
    <h1><a href="/hc" class="color-white font-black">{{settings.logo_text}}</a></h1>
    <p class="font-light f-24">Your source of data insights, technology progress, and industry <br> trend of trademark
      law.</p>
    <ul class="header-nav-list fx-between flex-wrap">
      <li class="header-nav-item-menu-1001" data-key="menu-1001">
        <a href="{{settings.menu_1}}">
          <svg width="40" height="30" viewBox="0 0 40 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M24.2444 13.6187C24.1156 13.6196 24.0195 13.5003 24.0478 13.3747L25.0242 9.04223C25.061 8.87897 25.2701 8.83041 25.3751 8.96073L28.8397 13.2614C28.9447 13.3917 28.8527 13.5856 28.6854 13.5868L24.2444 13.6187ZM29.6645 12.9035C29.5785 12.9728 29.4526 12.9593 29.3833 12.8733L25.8701 8.51235C25.8008 8.42634 25.8144 8.30043 25.9004 8.23114L36.1177 0H1C0.447715 0 0 0.447716 0 1V28.3333C0 28.8856 0.447714 29.3333 0.999999 29.3333H39C39.5523 29.3333 40 28.8856 40 28.3333V4.57718L29.6645 12.9035ZM5.16681 8.00001C5.16681 7.17158 5.83839 6.50001 6.66681 6.50001H18.6668C19.4952 6.50001 20.1668 7.17158 20.1668 8.00001C20.1668 8.82844 19.4952 9.50001 18.6668 9.50001H6.66681C5.83839 9.50001 5.16681 8.82844 5.16681 8.00001ZM6.66681 13.1667C5.83839 13.1667 5.16681 13.8383 5.16681 14.6667C5.16681 15.4951 5.83839 16.1667 6.66681 16.1667H18.6668C19.4952 16.1667 20.1668 15.4951 20.1668 14.6667C20.1668 13.8383 19.4952 13.1667 18.6668 13.1667H6.66681ZM5.16681 21.3333C5.16681 20.5049 5.83839 19.8333 6.66681 19.8333H33.3335C34.1619 19.8333 34.8335 20.5049 34.8335 21.3333C34.8335 22.1617 34.1619 22.8333 33.3335 22.8333H6.66681C5.83839 22.8333 5.16681 22.1617 5.16681 21.3333Z"
              fill="white" />
          </svg>

          <span class="font-medium">{{#is current_locale.name
            '简体中文'}}{{settings.header_1}}{{else}}{{settings.header_1_en}}{{/is}}</span> </a>
      </li>
      <li class="header-nav-item-menu-1002" data-key="menu-1002">
        <a href="{{settings.menu_2}}">
          <svg width="40" height="38" viewBox="0 0 40 38" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M27.7645 2.35294C27.7645 3.29487 27.211 4.10752 26.4116 4.48342V8.41177C26.4116 9.51633 25.5161 10.4118 24.4116 10.4118H20.7057V8.41177H24.4116V4.48342C23.6121 4.10752 23.0586 3.29487 23.0586 2.35294C23.0586 1.05345 24.1121 0 25.4116 0C26.7111 0 27.7645 1.05345 27.7645 2.35294ZM23.0586 35.2941C23.0586 34.3522 23.6121 33.5395 24.4116 33.1636V29.2353H20.7057V27.2353H24.4116C25.5161 27.2353 26.4116 28.1307 26.4116 29.2353V33.1636C27.211 33.5395 27.7645 34.3522 27.7645 35.2941C27.7645 36.5936 26.7111 37.6471 25.4116 37.6471C24.1121 37.6471 23.0586 36.5936 23.0586 35.2941ZM20.7057 24.5294H31.4704V28.4578C30.6709 28.8337 30.1174 29.6463 30.1174 30.5882C30.1174 31.8877 31.1709 32.9412 32.4704 32.9412C33.7699 32.9412 34.8233 31.8877 34.8233 30.5882C34.8233 29.6463 34.2699 28.8337 33.4704 28.4578V24.5294C33.4704 23.4248 32.575 22.5294 31.4704 22.5294H20.7057V24.5294ZM31.4704 13.1176H20.7057V15.1176H31.4704C32.575 15.1176 33.4704 14.2222 33.4704 13.1176V9.18931C34.2699 8.8134 34.8233 8.00075 34.8233 7.05882C34.8233 5.75933 33.7699 4.70588 32.4704 4.70588C31.1709 4.70588 30.1174 5.75933 30.1174 7.05882C30.1174 8.00075 30.6709 8.8134 31.4704 9.18931V13.1176ZM20.7057 19.8235H35.5166C35.8925 20.623 36.7051 21.1765 37.6471 21.1765C38.9466 21.1765 40 20.123 40 18.8235C40 17.524 38.9466 16.4706 37.6471 16.4706C36.7051 16.4706 35.8925 17.0241 35.5166 17.8235H20.7057V19.8235ZM16.7568 0.00012207H18.8235V11.9219C18.3918 11.9254 17.9593 11.9693 17.5318 12.0543C16.1916 12.3206 14.9606 12.9779 13.9944 13.9432C13.0282 14.9084 12.3702 16.1382 12.1037 17.4771C11.8371 18.8159 11.9739 20.2036 12.4968 21.4648C13.0197 22.726 13.9052 23.8039 15.0414 24.5623C16.1619 25.3103 17.4767 25.7143 18.8235 25.7253V37.647H16.7191C16.556 37.6462 16.3973 37.5935 16.2663 37.4964C16.1353 37.3994 16.0387 37.2631 15.9905 37.1074L14.7344 32.8784C13.732 32.5892 12.7635 32.1938 11.8453 31.6988L7.96386 33.7694C7.8183 33.8466 7.65169 33.8749 7.48877 33.85C7.32585 33.8251 7.17529 33.7484 7.05945 33.6313L4.0573 30.6321C3.94006 30.5164 3.8633 30.366 3.83841 30.2032C3.81352 30.0405 3.84183 29.874 3.91912 29.7286L5.97918 25.7882C5.45496 24.8623 5.03375 23.8818 4.72305 22.8643L0.540136 21.6094C0.384279 21.5613 0.247849 21.4648 0.150702 21.3339C0.0535545 21.203 0.000759423 21.0445 0 20.8816V16.64C0.000759423 16.4771 0.0535545 16.3186 0.150702 16.1877C0.247849 16.0568 0.384279 15.9603 0.540136 15.9122L4.69792 14.6573C5.00526 13.6226 5.42655 12.6251 5.95405 11.6832L3.91912 7.91851C3.84183 7.77309 3.81352 7.60665 3.83841 7.44389C3.8633 7.28113 3.94006 7.13072 4.0573 7.01499L7.10969 4.04089C7.22553 3.92377 7.37609 3.84708 7.53901 3.82221C7.70194 3.79735 7.86854 3.82562 8.01411 3.90285L11.7825 5.93578C12.7293 5.40794 13.732 4.98705 14.7721 4.68088L16.0282 0.539727C16.0763 0.384024 16.173 0.247728 16.304 0.150676C16.435 0.053624 16.5936 0.000880747 16.7568 0.00012207Z"
              fill="white" />
          </svg>
          <span class="font-medium">{{#is current_locale.name
            '简体中文'}}{{settings.header_2}}{{else}}{{settings.header_2_en}}{{/is}}</span>
        </a>
      </li>
      <li class="header-nav-item-menu-1003" data-key="menu-1003">
        <a href="{{settings.menu_3}}">
          <svg width="42" height="41" viewBox="0 0 42 41" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M21.0268 0C22.1314 0 23.0268 0.89543 23.0268 2V8.0085C23.0268 9.11307 22.1314 10.0085 21.0268 10.0085C19.9222 10.0085 19.0268 9.11307 19.0268 8.0085V2C19.0268 0.89543 19.9222 0 21.0268 0ZM3.46972 6.18801C2.72057 5.37632 1.45526 5.32561 0.64356 6.07476C-0.168138 6.8239 -0.218845 8.08922 0.530302 8.90092L4.53597 13.241C5.28512 14.0527 6.55043 14.1034 7.36213 13.3543C8.17383 12.6052 8.22453 11.3398 7.47539 10.5281L3.46972 6.18801ZM2.54464 25.1055C5.22983 20.1967 12.0016 11.8416 21.027 12.0168C30.0311 12.1917 36.8611 20.3354 39.5998 25.0984C39.9045 25.6283 39.922 26.271 39.6444 26.8156C37.1011 31.807 30.4804 40.2817 21.027 40.1067C11.5793 39.9317 5.02996 31.6393 2.52377 26.7972C2.24748 26.2634 2.25619 25.6328 2.54464 25.1055ZM29.4054 26.0618C29.4054 30.6547 25.6821 34.3779 21.0892 34.3779C16.4963 34.3779 12.7731 30.6547 12.7731 26.0618C12.7731 21.4689 16.4963 17.7456 21.0892 17.7456C25.6821 17.7456 29.4054 21.4689 29.4054 26.0618ZM26.2858 26.0619C26.2858 28.9325 23.9588 31.2595 21.0882 31.2595C18.2177 31.2595 15.8906 28.9325 15.8906 26.0619C15.8906 25.7731 15.9142 25.4897 15.9595 25.2136C16.4976 25.7222 17.2237 26.034 18.0225 26.034C19.6817 26.034 21.0268 24.6889 21.0268 23.0297C21.0268 22.219 20.7056 21.4832 20.1836 20.9428C20.4774 20.8912 20.7797 20.8643 21.0882 20.8643C23.9588 20.8643 26.2858 23.1914 26.2858 26.0619ZM36.4611 13.4284L40.4668 9.42271C41.2478 8.64167 41.2478 7.37534 40.4668 6.59429C39.6857 5.81324 38.4194 5.81324 37.6384 6.59429L33.6327 10.6C32.8516 11.381 32.8516 12.6473 33.6327 13.4284C34.4137 14.2094 35.6801 14.2094 36.4611 13.4284Z"
              fill="white" />
          </svg>

          <span class="font-medium">{{#is current_locale.name
            '简体中文'}}{{settings.header_3}}{{else}}{{settings.header_3_en}}{{/is}}</span></a>
      </li>
    </ul>
  </div>

</div>
{{!-- <a class="skip-navigation" tabindex="1" href="#main-content">{{t 'skip_navigation' }}</a>

<header class="header">
  <div class="logo">
    {{#link 'help_center'}}
    <img src="{{settings.logo}}" alt="{{t 'home_page' name=help_center.name}}" />
    {{#if settings.show_brand_name}}
    <span aria-hidden="true">{{help_center.name}}</span>
    {{/if}}
    {{/link}}
  </div>

  <div class="nav-wrapper-desktop">
    <nav class="user-nav" id="user-nav">
      <ul class="user-nav-list">
        <li>{{link 'community'}}</li>
        <li>{{link 'new_request' class='submit-a-request'}}</li>
        {{#unless signed_in}}
        <li>
          {{#link "sign_in" class="sign-in"}}
          {{t 'sign_in'}}
          {{/link}}
        </li>
        {{/unless}}
      </ul>
    </nav>
    {{#if signed_in}}
    <div class="user-info dropdown">
      <button class="dropdown-toggle" aria-haspopup="true">
        {{user_avatar class="user-avatar"}}
        <span>
          {{user_name}}
          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12"
            class="dropdown-chevron-icon" aria-hidden="true">
            <path fill="none" stroke="currentColor" stroke-linecap="round" d="M3 4.5l2.6 2.6c.2.2.5.2.7 0L9 4.5" />
          </svg>
        </span>
      </button>
      <div class="dropdown-menu" role="menu">
        {{#my_profile role="menuitem"}}{{t 'profile'}}{{/my_profile}}
        {{link "requests" role="menuitem"}}
        {{#link "contributions" role="menuitem"}}{{t "activities"}}{{/link}}
        {{contact_details role="menuitem"}}
        {{change_password role="menuitem"}}
        <div class="separator" role="separator"></div>
        {{link "sign_out" role="menuitem"}}
      </div>
    </div>
    {{/if}}
  </div>

  <div class="nav-wrapper-mobile">
    <button class="menu-button-mobile" aria-controls="user-nav-mobile" aria-expanded="false"
      aria-label="{{t 'toggle_navigation'}}">
      {{#if signed_in}}
      {{user_avatar class="user-avatar"}}
      {{/if}}
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" focusable="false" viewBox="0 0 16 16"
        class="icon-menu">
        <path fill="none" stroke="currentColor" stroke-linecap="round" d="M1.5 3.5h13m-13 4h13m-13 4h13" />
      </svg>
    </button>
    <nav class="menu-list-mobile" id="user-nav-mobile" aria-expanded="false">
      <ul class="menu-list-mobile-items">
        {{#if signed_in}}
        <li class="user-avatar-item item">
          {{#my_profile role="menuitem" class="my-profile"}}
          {{user_avatar class="menu-profile-avatar"}}
          <div class="menu-profile-name">
            <div>{{user_name}}</div>
            <div class="my-profile-tooltip">{{t 'profile'}}</div>
          </div>
          {{/my_profile}}
        </li>
        <li class="item">{{link "requests" role="menuitem"}}</li>
        <li class="item">{{#link "contributions" role="menuitem"}}{{t "activities"}}{{/link}}</li>
        <li class="item">{{contact_details role="menuitem"}}</li>
        <li class="item">{{change_password role="menuitem" class='change-password'}}</li>
        <li class="nav-divider"></li>
        {{else}}
        <li class="item">
          {{#link "sign_in" role="menuitem"}}
          {{t 'sign_in'}}
          {{/link}}
        </li>
        <li class="nav-divider"></li>
        {{/if}}
        <li class="item">{{link 'community' role="menuitem"}}</li>
        <li class="item">{{link 'new_request' role="menuitem" class='submit-a-request'}}</li>
        <li class="nav-divider"></li>
        {{#if signed_in}}
        <li class="item">
          {{link "sign_out" role="menuitem"}}
        </li>
        {{/if}}
        </li>
      </ul>
    </nav>
  </div>

</header> --}}





<div id="nav-product-template" style="display: none;">
  <div class="nav-popover-box" data-v-35bb0ea1="">
    <div class="row" data-v-35bb0ea1="" style="margin: 0px;">
      <div class="col-sm-12 col-md-4 col-lg-4" data-v-35bb0ea1="" style="padding-left: 0px;">
        <h6 data-v-35bb0ea1=""><svg class="svg-icon svg-icon-products" aria-hidden="true" data-v-13188737=""
            data-v-35bb0ea1="" style="">
            <use xlink:href="#icon-products" data-v-13188737=""></use>
          </svg>&nbsp; Products</h6>
        <ul class="nav-popover-products" data-v-35bb0ea1="">
          <li data-v-35bb0ea1=""><a href="https://huski.ai/solutions/trademark-search" class="product-card"
              data-v-fdc579a0="" data-v-35bb0ea1="">
              <div data-v-fdc579a0="">
                <div class="product-title" data-v-fdc579a0=""><svg class="svg-icon svg-icon-search" aria-hidden="true"
                    data-v-13188737="" data-v-fdc579a0="" style="">
                    <use xlink:href="#icon-search" data-v-13188737=""></use>
                  </svg><span data-v-fdc579a0="">Trademark Search</span></div>
                <p class="product-desc two-line" data-v-fdc579a0="">Like a Google reverse image search and text search,
                  but for trademarks. Search for
                  existing marks in USPTO...</p>
              </div><span class="round-right-arrow ml-10" data-v-6d88354e="" data-v-fdc579a0=""
                style="--49983b36:#24ce85; --28d7fbcc:#373459;"><svg class="svg-icon svg-icon-line-arrow-right"
                  aria-hidden="true" data-v-13188737="" data-v-6d88354e="" style="">
                  <use xlink:href="#icon-line-arrow-right" data-v-13188737=""></use>
                </svg></span>
            </a></li>
          <li data-v-35bb0ea1=""><a href="https://huski.ai/solutions/trademark-watch" class="product-card"
              data-v-fdc579a0="" data-v-35bb0ea1="">
              <div data-v-fdc579a0="">
                <div class="product-title" data-v-fdc579a0=""><svg class="svg-icon svg-icon-eye" aria-hidden="true"
                    data-v-13188737="" data-v-fdc579a0="" style="">
                    <use xlink:href="#icon-eye" data-v-13188737=""></use>
                  </svg><span data-v-fdc579a0="">Trademark Watch</span></div>
                <p class="product-desc two-line" data-v-fdc579a0="">Catch potential conflicts as soon as they’re filed.
                  Everything you need in one
                  place.</p>
              </div><span class="round-right-arrow ml-10" data-v-6d88354e="" data-v-fdc579a0=""
                style="--49983b36:#24ce85; --28d7fbcc:#373459;"><svg class="svg-icon svg-icon-line-arrow-right"
                  aria-hidden="true" data-v-13188737="" data-v-6d88354e="" style="">
                  <use xlink:href="#icon-line-arrow-right" data-v-13188737=""></use>
                </svg></span>
            </a></li>
          <li data-v-35bb0ea1=""><a href="https://huski.ai/solutions/brand-protection" class="product-card"
              data-v-fdc579a0="" data-v-35bb0ea1="">
              <div data-v-fdc579a0="">
                <div class="product-title" data-v-fdc579a0=""><svg class="svg-icon svg-icon-lawsuit" aria-hidden="true"
                    data-v-13188737="" data-v-fdc579a0="" style="">
                    <use xlink:href="#icon-lawsuit" data-v-13188737=""></use>
                  </svg><span data-v-fdc579a0="">Brand Protection in eCommerce</span></div>
                <p class="product-desc two-line" data-v-fdc579a0="">Discover threats to your clients’ trademarks from
                  over 60 million eCommerce
                  listings.</p>
              </div><span class="round-right-arrow ml-10" data-v-6d88354e="" data-v-fdc579a0=""
                style="--49983b36:#24ce85; --28d7fbcc:#373459;"><svg class="svg-icon svg-icon-line-arrow-right"
                  aria-hidden="true" data-v-13188737="" data-v-6d88354e="" style="">
                  <use xlink:href="#icon-line-arrow-right" data-v-13188737=""></use>
                </svg></span>
            </a></li>
        </ul>
      </div>
      <div class="col-sm-12 col-md-5 col-lg-5 phone-top" data-v-35bb0ea1="">
        <div class="fx-between" data-v-35bb0ea1="">
          <h6 data-v-35bb0ea1=""><svg class="svg-icon svg-icon-menu-product-feature" aria-hidden="true"
              data-v-13188737="" data-v-35bb0ea1="" style="">
              <use xlink:href="#icon-menu-product-feature" data-v-13188737=""></use>
            </svg>&nbsp; Product Features</h6><a href="https://huski.ai/products/features" class="fx-end under-hover"
            data-v-35bb0ea1=""><span class="bold" data-v-35bb0ea1="">View All</span>&nbsp; <span
              class="round-right-arrow ml-10" data-v-6d88354e="" data-v-35bb0ea1=""
              style="--49983b36:#24ce85; --28d7fbcc:#fff;"><svg class="svg-icon svg-icon-line-arrow-right"
                aria-hidden="true" data-v-13188737="" data-v-6d88354e="" style="">
                <use xlink:href="#icon-line-arrow-right" data-v-13188737=""></use>
              </svg></span></a>
        </div>
        <div class="row" data-v-35bb0ea1="">
          <div class="col-6" data-v-35bb0ea1="">
            <div class="product-features-card" data-v-1ed222f3="" data-v-35bb0ea1="">
              <div class="product-title" data-v-1ed222f3="">Trademark Image Recognition</div>
              <p class="product-desc" data-v-1ed222f3="">Most advanced image recognition for trademark law</p><a
                href="https://huski.ai/products/trademark-search-introduction" class="fx-start mt-10 learn-more-link"
                data-v-1ed222f3=""> Learn More&nbsp; <svg class="svg-icon svg-icon-line-arrow-right" aria-hidden="true"
                  data-v-13188737="" data-v-1ed222f3="" style="">
                  <use xlink:href="#icon-line-arrow-right" data-v-13188737=""></use>
                </svg></a>
            </div>
          </div>
          <div class="col-6" data-v-35bb0ea1="">
            <div class="product-features-card" data-v-1ed222f3="" data-v-35bb0ea1="">
              <div class="product-title" data-v-1ed222f3="">Peace Of Mind in Trademark Lawsuit Search</div>
              <p class="product-desc" data-v-1ed222f3="">Surfing freely in the largest knowledge graph in trademark law
              </p><a href="https://huski.ai/products/trademark-lawsuit-search-introduction"
                class="fx-start mt-10 learn-more-link" data-v-1ed222f3=""> Learn More&nbsp; <svg
                  class="svg-icon svg-icon-line-arrow-right" aria-hidden="true" data-v-13188737="" data-v-1ed222f3=""
                  style="">
                  <use xlink:href="#icon-line-arrow-right" data-v-13188737=""></use>
                </svg></a>
            </div>
          </div>
          <div class="col-6" data-v-35bb0ea1="">
            <div class="product-features-card" data-v-1ed222f3="" data-v-35bb0ea1="">
              <div class="product-title" data-v-1ed222f3="">Trademark Attorney Profiles with Big Data</div>
              <p class="product-desc" data-v-1ed222f3="">For the first time, trademark lawyers and professionals have
                their own “achievement profiles”</p><a href="https://huski.ai/products/attorney-profile-introduction"
                class="fx-start mt-10 learn-more-link" data-v-1ed222f3=""> Learn More&nbsp; <svg
                  class="svg-icon svg-icon-line-arrow-right" aria-hidden="true" data-v-13188737="" data-v-1ed222f3=""
                  style="">
                  <use xlink:href="#icon-line-arrow-right" data-v-13188737=""></use>
                </svg></a>
            </div>
          </div>
          <div class="col-6" data-v-35bb0ea1="">
            <div class="product-features-card" data-v-1ed222f3="" data-v-35bb0ea1="">
              <div class="product-title" data-v-1ed222f3="">Why Could Trademark Watch Be Your Revenue Dashboard</div>
              <p class="product-desc" data-v-1ed222f3="">Know your trademark portfolios anytime, anywhere</p><a
                href="https://huski.ai/products/lawyer-dashboard-introduction" class="fx-start mt-10 learn-more-link"
                data-v-1ed222f3=""> Learn More&nbsp; <svg class="svg-icon svg-icon-line-arrow-right" aria-hidden="true"
                  data-v-13188737="" data-v-1ed222f3="" style="">
                  <use xlink:href="#icon-line-arrow-right" data-v-13188737=""></use>
                </svg></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-3 col-lg-3 phone-top" data-v-35bb0ea1="" style="padding-right: 0px;">
        <div class="product-faq-card" data-v-8064106a="" data-v-35bb0ea1="">
          <h6 data-v-8064106a=""><svg class="svg-icon svg-icon-menu-faq" aria-hidden="true" data-v-13188737=""
              data-v-8064106a="" style="">
              <use xlink:href="#icon-menu-faq" data-v-13188737=""></use>
            </svg>&nbsp; FAQ</h6>
          <ul class="f-14" data-v-8064106a="">
            <li data-v-8064106a=""><a href="https://huski.ai/faq?active=1" class="fx-start" data-v-8064106a=""> Who is
                Huski for? &nbsp;
                <span class="color-primary bold" data-v-8064106a="">→</span></a></li>
            <li data-v-8064106a=""><a href="https://huski.ai/faq?active=2" class="fx-start" data-v-8064106a="">What does
                Huski do?
                &nbsp; <span class="color-primary bold" data-v-8064106a="">→</span></a></li>
          </ul><a href="https://huski.ai/faq" class="more-link fx-start font-bold" data-v-8064106a="">More FAQ&nbsp;
            <span class="round-right-arrow" data-v-6d88354e="" data-v-8064106a=""
              style="--49983b36:#24ce85; --28d7fbcc:#fff;"><svg class="svg-icon svg-icon-line-arrow-right"
                aria-hidden="true" data-v-13188737="" data-v-6d88354e="" style="">
                <use xlink:href="#icon-line-arrow-right" data-v-13188737=""></use>
              </svg></span></a>
          <h6 class="mt-30" data-v-8064106a=""><svg class="svg-icon svg-icon-media" aria-hidden="true"
              data-v-13188737="" data-v-8064106a="" style="">
              <use xlink:href="#icon-media" data-v-13188737=""></use>
            </svg>&nbsp;In the Media</h6>
          <p class="f-14 mt-10" data-v-8064106a=""> Check out how we are connecting across the IP community and
            transforming the way professionals work. </p><a
            href="https://www.lawnext.com/2022/06/newly-launched-huski-uses-ai-powered-image-recognition-to-help-ip-lawyers-protect-clients-trademarks.html"
            class="more-link fx-start font-bold" target="_blank" data-v-8064106a="">Browse News&nbsp; <span
              class="round-right-arrow" data-v-6d88354e="" data-v-8064106a=""
              style="--49983b36:#24ce85; --28d7fbcc:#fff;"><svg class="svg-icon svg-icon-line-arrow-right"
                aria-hidden="true" data-v-13188737="" data-v-6d88354e="" style="">
                <use xlink:href="#icon-line-arrow-right" data-v-13188737=""></use>
              </svg></span></a><a href="https://huski.ai/book/book-a-demo"
            class="w-100 mt-30 font-bold huski-btn huski-btn-success large w-100 mt-30 font-bold" data-v-8064106a="">
            <div class="fx-center">
              <!---->Book a demo
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>


<div id="nav-insights-template" style="display: none;">
  <div class="nav-popover-box" data-v-252fdf58="">
    <div class="row" data-v-252fdf58="" style="margin: 0px;">
      <div class="col-sm-12 col-md-5 col-lg-5" data-v-252fdf58="" style="padding-left: 0px;">
        <div class="desktop-right" data-v-252fdf58="">
          <h6 data-v-252fdf58=""><svg class="svg-icon svg-icon-insights" aria-hidden="true" data-v-13188737=""
              data-v-252fdf58="" style="font-size: 1.2rem;">
              <use xlink:href="#icon-insights" data-v-13188737=""></use>
            </svg>&nbsp; Insights</h6>
          <div class="row nav-popover-products" data-v-252fdf58="">
            <div class="col-12" data-v-252fdf58=""><a href="/trademark/conflict/list" class="insights-card"
                data-v-74c3f1f2="" data-v-252fdf58="">
                <div data-v-74c3f1f2="">
                  <div class="insights-title" data-v-74c3f1f2=""><span data-v-74c3f1f2="">Daily Trademark
                      Conflicts</span></div>
                  <p class="insights-desc two-line" data-v-74c3f1f2="">Browse potential refusal cases in pending
                    applications against existing marks</p>
                </div><span class="round-right-arrow ml-10" data-v-6d88354e="" data-v-74c3f1f2=""
                  style="--49983b36:#24ce85; --28d7fbcc:#373459;"><svg class="svg-icon svg-icon-line-arrow-right"
                    aria-hidden="true" data-v-13188737="" data-v-6d88354e="" style="">
                    <use xlink:href="#icon-line-arrow-right" data-v-13188737=""></use>
                  </svg></span>
              </a></div>
            <div class="col-12 mt-10" data-v-252fdf58=""><a href="/trademark/latest" class="insights-card"
                data-v-74c3f1f2="" data-v-252fdf58="">
                <div data-v-74c3f1f2="">
                  <div class="insights-title" data-v-74c3f1f2=""><span data-v-74c3f1f2="">Daily Trademark
                      Applications</span></div>
                  <p class="insights-desc two-line" data-v-74c3f1f2="">Browse new trademark applications everyday.
                    Discover business trends</p>
                </div><span class="round-right-arrow ml-10" data-v-6d88354e="" data-v-74c3f1f2=""
                  style="--49983b36:#24ce85; --28d7fbcc:#373459;"><svg class="svg-icon svg-icon-line-arrow-right"
                    aria-hidden="true" data-v-13188737="" data-v-6d88354e="" style="">
                    <use xlink:href="#icon-line-arrow-right" data-v-13188737=""></use>
                  </svg></span>
              </a></div>
            <div class="col-12 mt-10" data-v-252fdf58=""><a href="/lawyer/search" class="insights-card"
                data-v-74c3f1f2="" data-v-252fdf58="">
                <div data-v-74c3f1f2="">
                  <div class="insights-title" data-v-74c3f1f2=""><span data-v-74c3f1f2="">Attorney Ranking</span></div>
                  <p class="insights-desc two-line" data-v-74c3f1f2="">The only ranking in the industry that is based on
                    big data analysis of attorneys’ performance on trademark applications and litigations</p>
                </div><span class="round-right-arrow ml-10" data-v-6d88354e="" data-v-74c3f1f2=""
                  style="--49983b36:#24ce85; --28d7fbcc:#373459;"><svg class="svg-icon svg-icon-line-arrow-right"
                    aria-hidden="true" data-v-13188737="" data-v-6d88354e="" style="">
                    <use xlink:href="#icon-line-arrow-right" data-v-13188737=""></use>
                  </svg></span>
              </a></div>
            <div class="col-12 mt-10" data-v-252fdf58=""><a href="/brand/top20" class="insights-card" data-v-74c3f1f2=""
                data-v-252fdf58="">
                <div data-v-74c3f1f2="">
                  <div class="insights-title" data-v-74c3f1f2=""><span data-v-74c3f1f2="">Most Protected Brands
                      Ranking</span></div>
                  <p class="insights-desc two-line" data-v-74c3f1f2="">The only ranking in the industry that is based on
                    big data analysis of brand litigation records and brand impact factor</p>
                </div><span class="round-right-arrow ml-10" data-v-6d88354e="" data-v-74c3f1f2=""
                  style="--49983b36:#24ce85; --28d7fbcc:#373459;"><svg class="svg-icon svg-icon-line-arrow-right"
                    aria-hidden="true" data-v-13188737="" data-v-6d88354e="" style="">
                    <use xlink:href="#icon-line-arrow-right" data-v-13188737=""></use>
                  </svg></span>
              </a></div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4 phone-top" data-v-252fdf58="">
        <h6 data-v-252fdf58=""><svg class="svg-icon svg-icon-analytics" aria-hidden="true" data-v-13188737=""
            data-v-252fdf58="" style="font-size: 1.2rem;">
            <use xlink:href="#icon-analytics" data-v-13188737=""></use>
          </svg>&nbsp; Analytics</h6>
        <div class="insights-analysis-card" data-v-6401a0d1="" data-v-252fdf58="">
          <h6 data-v-6401a0d1="">Huski Analytics</h6>
          <ul class="f-14" data-v-6401a0d1="">
            <li data-v-6401a0d1=""><a href="https://huski.ai/analytics/trending-goods-services" class=""
                data-v-6401a0d1=""> Trending
                Goods &amp; Services &nbsp; <span class="color-primary bold" data-v-6401a0d1="">→</span></a></li>
            <li data-v-6401a0d1=""><a href="https://huski.ai/analytics/uspto-trademark-application-trends" class=""
                data-v-6401a0d1="">Abandoned Trademark Applications Analysis &nbsp; <span class="color-primary bold"
                  data-v-6401a0d1="">→</span></a></li>
            <li data-v-6401a0d1=""><a href="https://huski.ai/analytics/trademark-registration-processing-time" class=""
                data-v-6401a0d1="">Registration Processing Time &nbsp; <span class="color-primary bold"
                  data-v-6401a0d1="">→</span></a></li>
            <li data-v-6401a0d1=""><a href="https://huski.ai/analytics/image-text-trademarks" class=""
                data-v-6401a0d1="">Image VS Text
                Trademarks &nbsp; <span class="color-primary bold" data-v-6401a0d1="">→</span></a></li>
            <li data-v-6401a0d1=""><a href="https://huski.ai/analytics/top-15-lawyers-ranking" class=""
                data-v-6401a0d1="">Top15
                Lawyers’ Ranking &nbsp; <span class="color-primary bold" data-v-6401a0d1="">→</span></a></li>
          </ul>
          <h6 class="mt-30" data-v-6401a0d1="">Industry Trends</h6>
          <ul class="f-14" data-v-6401a0d1="">
            <li data-v-6401a0d1=""><a href="https://huski.ai/solutions/trademark-search-cost" class=""
                data-v-6401a0d1=""> How Much Does
                A USPTO Trademark Design Search Cost? &nbsp; <span class="color-primary bold"
                  data-v-6401a0d1="">→</span></a></li>
            <li data-v-6401a0d1=""><a
                href="https://blog.huski.ai/hc/en-us/articles/8042653849881-Where-Is-Trademark-Law-Technology-Headed-"
                data-v-6401a0d1="">Where Is Trademark Law Technology Headed? &nbsp; <span class="color-primary bold"
                  data-v-6401a0d1="">→</span></a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-12 col-md-3 col-lg-3 phone-top" data-v-252fdf58="" style="padding-right: 0px;">
        <div class="product-faq-card" data-v-7542466d="" data-v-252fdf58="" style="height: 100%;">
          <h6 data-v-7542466d=""><svg class="svg-icon svg-icon-contact" aria-hidden="true" data-v-13188737=""
              data-v-7542466d="" style="">
              <use xlink:href="#icon-contact" data-v-13188737=""></use>
            </svg>&nbsp; Huski Blog</h6>
          <p class="f-14" data-v-7542466d=""> Your source of data insights, technology progress, and industry trend of
            trademark law. </p>
          <ul class="f-14" data-v-7542466d="">
            <li data-v-7542466d=""><a href="https://blog.huski.ai/hc/en-us/sections/4570132183193" target="_blank"
                data-v-7542466d=""> Product Introduction &nbsp; <span class="color-primary bold"
                  data-v-7542466d="">→</span></a></li>
            <li data-v-7542466d=""><a href="https://blog.huski.ai/hc/en-us/sections/4570133379737" target="_blank"
                data-v-7542466d=""> Engineering &nbsp; <span class="color-primary bold" data-v-7542466d="">→</span></a>
            </li>
            <li data-v-7542466d=""><a href="https://blog.huski.ai/hc/en-us/sections/4570046521625" target="_blank"
                data-v-7542466d=""> Perspectives &nbsp; <span class="color-primary bold" data-v-7542466d="">→</span></a>
            </li>
          </ul>
          <div class="mt-15" data-v-7542466d=""><a href="https://blog.huski.ai/hc/en-us"
              class="more-link fx-start font-bold" data-v-7542466d="">View Blog&nbsp; <span class="round-right-arrow"
                data-v-6d88354e="" data-v-7542466d="" style="--49983b36:#24ce85; --28d7fbcc:#fff;"><svg
                  class="svg-icon svg-icon-line-arrow-right" aria-hidden="true" data-v-13188737="" data-v-6d88354e=""
                  style="">
                  <use xlink:href="#icon-line-arrow-right" data-v-13188737=""></use>
                </svg></span></a></div>
          <p class="f-16 mt-60" data-v-7542466d="">Want to unlock more insights from our data?</p><button
            class="w-100 mt-30 font-bold huski-btn huski-btn-success large w-100 mt-30 font-bold" plain="" type="button"
            data-v-7542466d="">
            <div class="fx-center">
              <!---->Let us know
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>


<div id="nav-about-template" style="display:none">
  <div class="nav-popover-box" data-v-7c00183e="">
    <div class="row" data-v-7c00183e="" style="margin: 0px;">
      <div class="col-sm-12 col-md-6 col-lg-6" data-v-7c00183e="" style="padding-left: 0px;">
        <div class="our-company" data-v-7c00183e="">
          <h6 data-v-7c00183e=""><svg class="svg-icon svg-icon-menu-company" aria-hidden="true" data-v-13188737=""
              data-v-7c00183e="" style="font-size: 1.2rem;">
              <use xlink:href="#icon-menu-company" data-v-13188737=""></use>
            </svg>&nbsp; Our Company</h6>
          <p class="f-14" data-v-7c00183e=""> We are AI engineers and intellectual property litigation professionals. As
            innovators ourselves, we believe that creativity and innovation are what drive us forward, and we want all
            individuals, professionals, and businesses of all sizes enjoy and benefit from the process of innovation.
            &ZeroWidthSpace; </p><a href="https://huski.ai/about"
            class="bold mt-20 huski-btn huski-btn-success small bold mt-20" data-v-7c00183e="">
            <div class="fx-center">
              <!---->Learn More
            </div>
          </a>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6" data-v-7c00183e="" style="padding-right: 0px;">
        <div class="our-technology" data-v-7c00183e="">
          <h6 data-v-7c00183e=""><svg class="svg-icon svg-icon-menu-technology" aria-hidden="true" data-v-13188737=""
              data-v-7c00183e="" style="font-size: 1.2rem;">
              <use xlink:href="#icon-menu-technology" data-v-13188737=""></use>
            </svg>&nbsp; Our Technology</h6>
          <p class="f-18 font-bold mb-15" data-v-7c00183e=""> Huski.ai exists to make brand creation and protection easy
            with cutting-edge AI. </p>
          <p class="f-14" data-v-7c00183e=""> Huski bridges the gap between the traditional “Search &amp; Watch”
            solutions offered to law firms to assist with tasks related to the registration and maintenance of
            trademarks and the “Brand Protection” tools meant to assist with trademark enforcement. </p><a
            href="https://huski.ai/technology" class="bold mt-20 huski-btn huski-btn-success small bold mt-20"
            data-v-7c00183e="">
            <div class="fx-center">
              <!---->Learn More
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>