<div class="huski-header fx-center">
  <div class="container fx-between huski-nav-bar">
    <div class="huski-logo">
      <a href="https://huski.ai"><img src="{{asset 'logo.png'}}" /></a>
    </div>

    <!-- 移动端显示的菜单 -->
    <div class="dropdown language-selector tablet-show">
      <button style="width: 28px;height: 32px;" class="dropdown-toggle color-white fx-start" aria-haspopup="true">
        <svg t="1645780649937" class="icon" viewBox="0 0 1152 1024" version="1.1" xmlns="http://www.w3.org/2000/svg"
          p-id="2687" width="200" height="200">
          <path d="M0 0h1152v128H0V0z m384 448h768v128H384V448z m-384 448h1152v128H0v-128z" p-id="2688" fill="#ffffff">
          </path>
        </svg>
      </button>
      <span class="dropdown-menu dropdown-menu-end" role="menu">
        <a href="https://huski.ai/technology" rel="nofollow" role="menuitem">{{#is current_locale.name
          '简体中文'}}领先的人工智能技术{{else}}Technology{{/is}}</a>
        <a href="https://huski.ai/about" rel="nofollow" role="menuitem">
          {{#is current_locale.name '简体中文'}}关于我们{{else}}About{{/is}}
        </a>
        <a href="/hc" rel="nofollow" role="menuitem">{{#is current_locale.name '简体中文'}}博客{{else}}Blog{{/is}}</a>
        <a href="https://huski.ai/landing-report" rel="nofollow" role="menuitem">{{#is current_locale.name
          '简体中文'}}零售商{{else}}For Retailer{{/is}}</a>
        <a href="https://huski.ai/landing-lawyer" rel="nofollow" role="menuitem">{{#is current_locale.name
          '简体中文'}}知识产权律师{{else}}For IP Lawyer{{/is}}</a>
        <a href="https://huski.ai/landing-brand" rel="nofollow" role="menuitem">{{#is current_locale.name
          '简体中文'}}品牌所有者{{else}}For Brand Owner{{/is}}</a>
      </span>
    </div>
    <!-- PC端显示的菜单 -->
    <ul class="huski-nav-list fx-start">
      <li>
        <div class="dropdown language-selector">
          <button style="height: 32px;" class="dropdown-toggle color-white fx-start" aria-haspopup="true">
            {{#is current_locale.name '简体中文'}}解决方案{{else}}Solutions{{/is}}
          </button>
          <span class="dropdown-menu dropdown-menu-end" role="menu">
            <a href="https://huski.ai/landing-report" rel="nofollow" role="menuitem">
              <div class="fx-start">
                <svg width="18" height="18" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M14.8518 5.93155V5.422C14.8518 3.25594 13.0959 1.5 10.9298 1.5C8.76378 1.5 7.00785 3.25594 7.00785 5.422V5.93155H14.8518ZM16.3518 5.93155V5.422C16.3518 2.42751 13.9243 0 10.9298 0C7.93536 0 5.50785 2.42751 5.50785 5.422V5.93155H2.97146C1.92911 5.93155 1.06153 6.73211 0.977906 7.7711L0.00657591 19.8395C-0.0871143 21.0036 0.832297 22 2.00013 22H19.7718C20.9706 22 21.9001 20.9526 21.7577 19.7623L20.3131 7.69387C20.1928 6.68841 19.34 5.93155 18.3273 5.93155H16.3518ZM10.9298 12.375L10.8967 12.3749H10.963L10.9298 12.375ZM2.97146 7.43155H18.3273C18.5805 7.43155 18.7937 7.62077 18.8238 7.87213L20.2683 19.9406C20.3039 20.2381 20.0715 20.5 19.7718 20.5H2.00013C1.70817 20.5 1.47832 20.2509 1.50174 19.9599L2.47307 7.89144C2.49398 7.63169 2.71087 7.43155 2.97146 7.43155Z"
                    fill="#5A5875" />
                  <path d="M6.8103 14.6638C8.05938 16.1701 11.4431 18.2789 14.9855 14.6638" stroke="#5A5875"
                    stroke-width="1.5" stroke-linecap="round" stroke-linejoin="bevel" />
                  <ellipse cx="7.0604" cy="10.7777" rx="1" ry="1.00159" fill="#5A5875" />
                  <ellipse cx="14.3426" cy="10.7777" rx="1" ry="1.00159" fill="#5A5875" />
                </svg>
                &nbsp;&nbsp;
                {{#is current_locale.name '简体中文'}}零售商{{else}}For Retailer{{/is}}
              </div>
            </a>
            <a href="https://huski.ai/landing-lawyer" rel="nofollow" role="menuitem">
              <div class="fx-start">
                <svg width="18" height="18" viewBox="0 0 24 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M1.4502 1.45693C6.95819 4.02001 10.9178 1 10.9178 1H13.468C18.3572 3.89495 22.5279 1.45693 22.5279 1.45693"
                    stroke="#5A5875" stroke-linecap="round" />
                  <path d="M16.9988 11.3853L19.5802 2.42505L22.2335 11.3853H16.9988Z" stroke="#5A5875"
                    stroke-linejoin="bevel" />
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M15.2503 10.4167C15.2503 10.4168 15.2503 10.4168 15.2503 10.4169C15.2503 12.6687 17.2048 14.4942 19.6158 14.4942C22.0267 14.4942 23.9812 12.6687 23.9812 10.4169C23.9812 10.4168 23.9812 10.4168 23.9812 10.4167H15.2503Z"
                    fill="#5A5875" />
                  <path d="M2.7485 11.3853L5.32991 2.42505L7.98317 11.3853H2.7485Z" stroke="#5A5875"
                    stroke-linejoin="bevel" />
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M1 10.4167C1 10.4168 1 10.4168 1 10.4169C1 12.6687 2.95447 14.4942 5.36544 14.4942C7.7764 14.4942 9.73087 12.6687 9.73087 10.4169C9.73087 10.4168 9.73087 10.4168 9.73087 10.4167H1Z"
                    fill="#5A5875" />
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M13.7244 18.5511H17.1163C18.5647 19.2236 18.4852 21 18.4852 21H5.89648C5.89648 20.3955 5.89655 19.4245 7.02652 18.5511H10.657V1H13.7244V18.5511Z"
                    fill="#5A5875" />
                </svg>
                &nbsp;&nbsp;
                {{#is current_locale.name '简体中文'}}知识产权律师{{else}}For IP Lawyer{{/is}}
              </div>
            </a>
            <a href="https://huski.ai/landing-brand" rel="nofollow" role="menuitem">
              <div class="fx-start">
                <svg width="18" height="18" viewBox="0 0 20 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M16.6957 18.729C15.0907 19.9155 12.6921 20.6688 10.0122 20.6688C7.39261 20.6688 5.04191 19.9491 3.43833 18.8086L2.54613 22.6269C2.36207 23.4146 3.14076 24.0835 3.89169 23.7828L9.61818 21.4893C9.85064 21.3962 10.1096 21.3937 10.3438 21.4823L16.462 23.7965C17.2291 24.0867 18.0001 23.3809 17.7787 22.5912L16.6957 18.729Z"
                    fill="#5A5875" />
                  <path
                    d="M19.25 9.72656C19.25 14.6647 15.1284 18.7031 10 18.7031C4.87163 18.7031 0.75 14.6647 0.75 9.72656C0.75 4.78841 4.87163 0.75 10 0.75C15.1284 0.75 19.25 4.78841 19.25 9.72656Z"
                    stroke="#5A5875" stroke-width="1.5" />
                  <path
                    d="M7.155 4.5H10.53C11.69 4.5 12.555 4.74 13.125 5.22C13.695 5.69 13.98 6.4 13.98 7.35C13.98 8.04 13.815 8.63 13.485 9.12C13.155 9.6 12.69 9.935 12.09 10.125V10.155C12.29 10.285 12.45 10.425 12.57 10.575C12.7 10.725 12.805 10.9 12.885 11.1L14.46 15H12.705L11.415 11.67C11.265 11.27 11.08 11.005 10.86 10.875C10.64 10.735 10.28 10.665 9.78 10.665H8.79V15H7.155V4.5ZM10.41 9.345C11.74 9.345 12.405 8.725 12.405 7.485C12.405 6.925 12.235 6.51 11.895 6.24C11.565 5.97 11.055 5.835 10.365 5.835H8.79V9.345H10.41Z"
                    fill="#5A5875" />
                </svg>
                &nbsp;&nbsp;
                {{#is current_locale.name '简体中文'}}品牌所有者{{else}}For Brand Owner{{/is}}
              </div>
            </a>
          </span>
        </div>
      </li>
      <li>
        <a href="https://huski.ai/technology">
          {{#is current_locale.name '简体中文'}}领先的人工智能技术{{else}}Technology{{/is}}</a>
      </li>
      <li>
        <a href="https://huski.ai/about">
          {{#is current_locale.name '简体中文'}}关于我们{{else}}About{{/is}}
        </a>
      </li>
      <li>
        <a href="/hc">{{#is current_locale.name '简体中文'}}博客{{else}}Blog{{/is}}</a>
      </li>
      <li class="fx-center">
        {{#if alternative_locales}}
        <div class="dropdown language-selector">
          <button class="dropdown-toggle color-white fx-start" aria-haspopup="true">
            <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M15.5 8.02105C15.5 12.1761 12.1409 15.5421 8 15.5421C3.8591 15.5421 0.5 12.1761 0.5 8.02105C0.5 3.86605 3.8591 0.5 8 0.5C12.1409 0.5 15.5 3.86605 15.5 8.02105Z"
                stroke="white" />
              <mask id="mask0_768_74" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="16"
                height="17">
                <ellipse cx="8" cy="8.02105" rx="8" ry="8.02105" fill="#24CE85" />
              </mask>
              <g mask="url(#mask0_768_74)">
                <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M11.3459 11.1534C11.0172 12.8588 10.377 14.5851 9.32718 16.2502L8.48127 15.7169C9.43494 14.2043 10.0266 12.6337 10.3401 11.0774C8.5476 10.9604 6.9758 10.957 5.61434 11.0209C5.85185 12.6074 6.34379 14.2891 7.20397 16.0333L6.30711 16.4756C5.3809 14.5975 4.85888 12.7863 4.61277 11.0822C3.02851 11.2023 1.77533 11.4108 0.832371 11.6141L0.621582 10.6366C1.60146 10.4253 2.88708 10.212 4.49847 10.088C4.39759 8.91177 4.42248 7.79318 4.52752 6.74645C2.8987 6.59415 1.6034 6.3464 0.621582 6.13469L0.832371 5.15716C1.78733 5.36308 3.05364 5.606 4.65306 5.75382C5.00655 3.43307 5.7132 1.52511 6.2009 0.208329L6.20113 0.207704C6.24942 0.0773069 6.29557 -0.0472909 6.33901 -0.165916L7.27803 0.177977C7.23604 0.292632 7.19184 0.412166 7.14588 0.536449L7.14584 0.536536L7.14566 0.537043C6.66606 1.83398 5.99528 3.64789 5.65336 5.83007C7.0296 5.913 8.61851 5.91934 10.431 5.78297C10.0936 3.63302 9.34565 1.70828 8.47542 0.257148L9.33303 -0.257141C10.2661 1.29886 11.0726 3.37346 11.4286 5.69538C12.5932 5.57867 13.8431 5.40346 15.1809 5.15437L15.364 6.13748C14.0064 6.39024 12.7362 6.56868 11.551 6.6881C11.6558 7.80963 11.651 8.97738 11.5029 10.1632C12.6975 10.2669 13.9787 10.4192 15.3489 10.6312L15.196 11.6195C13.8207 11.4067 12.5383 11.2553 11.3459 11.1534ZM10.5033 10.0861C10.6483 8.95776 10.6547 7.84521 10.5552 6.77642C8.64342 6.92259 6.97029 6.9142 5.52471 6.82406C5.4224 7.82863 5.39834 8.89994 5.49654 10.0254C6.93629 9.9551 8.60144 9.95815 10.5033 10.0861Z"
                  fill="white" />
              </g>
            </svg>&nbsp;
            {{current_locale.name}}
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12"
              class="dropdown-chevron-icon">
              <path fill="none" stroke="currentColor" stroke-linecap="round" d="M3 4.5l2.6 2.6c.2.2.5.2.7 0L9 4.5" />
            </svg>
          </button>
          <span class="dropdown-menu dropdown-menu-end" role="menu">
            {{#each alternative_locales}}
            <a href="{{url}}" dir="{{direction}}" rel="nofollow" role="menuitem">
              {{name}}
            </a>
            {{/each}}
          </span>
        </div>
        {{/if}}
      </li>
    </ul>
  </div>
</div>

<div class="huski-blog-header container fx-between pb-15">
  <h1><a href="/hc" class="color-black">{{settings.logo_text}}</a></h1>
  <ul class="header-nav-list fx-start flex-wrap">
    <li class="header-nav-item-menu-1001" data-key="menu-1001">
      <a href="{{settings.menu_1}}">{{#is current_locale.name
        '简体中文'}}{{settings.header_1}}{{else}}{{settings.header_1_en}}{{/is}}</a>
    </li>
    <li class="header-nav-item-menu-1002" data-key="menu-1002">
      <a href="{{settings.menu_2}}">{{#is current_locale.name
        '简体中文'}}{{settings.header_2}}{{else}}{{settings.header_2_en}}{{/is}}</a>
    </li>
    <li class="header-nav-item-menu-1003" data-key="menu-1003">
      <a href="{{settings.menu_3}}">{{#is current_locale.name
        '简体中文'}}{{settings.header_3}}{{else}}{{settings.header_3_en}}{{/is}}</a>
    </li>
  </ul>
</div>

<div class="divider mb-20"></div>
{{!-- <a class="skip-navigation" tabindex="1" href="#main-content">{{t 'skip_navigation' }}</a>

<header class="header">
  <div class="logo">
    {{#link 'help_center'}}
    <img src="{{settings.logo}}" alt="{{t 'home_page' name=help_center.name}}" />
    {{#if settings.show_brand_name}}
    <span aria-hidden="true">{{help_center.name}}</span>
    {{/if}}
    {{/link}}
  </div>

  <div class="nav-wrapper-desktop">
    <nav class="user-nav" id="user-nav">
      <ul class="user-nav-list">
        <li>{{link 'community'}}</li>
        <li>{{link 'new_request' class='submit-a-request'}}</li>
        {{#unless signed_in}}
        <li>
          {{#link "sign_in" class="sign-in"}}
          {{t 'sign_in'}}
          {{/link}}
        </li>
        {{/unless}}
      </ul>
    </nav>
    {{#if signed_in}}
    <div class="user-info dropdown">
      <button class="dropdown-toggle" aria-haspopup="true">
        {{user_avatar class="user-avatar"}}
        <span>
          {{user_name}}
          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12"
            class="dropdown-chevron-icon" aria-hidden="true">
            <path fill="none" stroke="currentColor" stroke-linecap="round" d="M3 4.5l2.6 2.6c.2.2.5.2.7 0L9 4.5" />
          </svg>
        </span>
      </button>
      <div class="dropdown-menu" role="menu">
        {{#my_profile role="menuitem"}}{{t 'profile'}}{{/my_profile}}
        {{link "requests" role="menuitem"}}
        {{#link "contributions" role="menuitem"}}{{t "activities"}}{{/link}}
        {{contact_details role="menuitem"}}
        {{change_password role="menuitem"}}
        <div class="separator" role="separator"></div>
        {{link "sign_out" role="menuitem"}}
      </div>
    </div>
    {{/if}}
  </div>

  <div class="nav-wrapper-mobile">
    <button class="menu-button-mobile" aria-controls="user-nav-mobile" aria-expanded="false"
      aria-label="{{t 'toggle_navigation'}}">
      {{#if signed_in}}
      {{user_avatar class="user-avatar"}}
      {{/if}}
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" focusable="false" viewBox="0 0 16 16"
        class="icon-menu">
        <path fill="none" stroke="currentColor" stroke-linecap="round" d="M1.5 3.5h13m-13 4h13m-13 4h13" />
      </svg>
    </button>
    <nav class="menu-list-mobile" id="user-nav-mobile" aria-expanded="false">
      <ul class="menu-list-mobile-items">
        {{#if signed_in}}
        <li class="user-avatar-item item">
          {{#my_profile role="menuitem" class="my-profile"}}
          {{user_avatar class="menu-profile-avatar"}}
          <div class="menu-profile-name">
            <div>{{user_name}}</div>
            <div class="my-profile-tooltip">{{t 'profile'}}</div>
          </div>
          {{/my_profile}}
        </li>
        <li class="item">{{link "requests" role="menuitem"}}</li>
        <li class="item">{{#link "contributions" role="menuitem"}}{{t "activities"}}{{/link}}</li>
        <li class="item">{{contact_details role="menuitem"}}</li>
        <li class="item">{{change_password role="menuitem" class='change-password'}}</li>
        <li class="nav-divider"></li>
        {{else}}
        <li class="item">
          {{#link "sign_in" role="menuitem"}}
          {{t 'sign_in'}}
          {{/link}}
        </li>
        <li class="nav-divider"></li>
        {{/if}}
        <li class="item">{{link 'community' role="menuitem"}}</li>
        <li class="item">{{link 'new_request' role="menuitem" class='submit-a-request'}}</li>
        <li class="nav-divider"></li>
        {{#if signed_in}}
        <li class="item">
          {{link "sign_out" role="menuitem"}}
        </li>
        {{/if}}
        </li>
      </ul>
    </nav>
  </div>

</header> --}}