<div class="huski-header fx-center">
  <div class="container fx-between huski-nav-bar">
    <div class="huski-logo">
      <a href="https://huski.ai"><img src="{{asset 'logo.png'}}" /></a>
    </div>

    <!-- 移动端显示的菜单 -->
    <div class="dropdown language-selector tablet-show">
      <button style="width: 28px;height: 32px;" class="dropdown-toggle color-white fx-start" aria-haspopup="true">
        <svg t="1645780649937" class="icon" viewBox="0 0 1152 1024" version="1.1" xmlns="http://www.w3.org/2000/svg"
          p-id="2687" width="200" height="200">
          <path d="M0 0h1152v128H0V0z m384 448h768v128H384V448z m-384 448h1152v128H0v-128z" p-id="2688" fill="#ffffff">
          </path>
        </svg>
      </button>
      <span class="dropdown-menu dropdown-menu-end" role="menu">
        <a href="https://huski.ai/" rel="nofollow" role="menuitem">{{#is current_locale.name
          '简体中文'}}主页{{else}}Home{{/is}}</a>
        <a href="https://huski.ai/technology" rel="nofollow" role="menuitem">{{#is current_locale.name
          '简体中文'}}领先的人工智能技术{{else}}Technology{{/is}}</a>
        <a href="https://huski.ai/about" rel="nofollow" role="menuitem">
          {{#is current_locale.name '简体中文'}}关于我们{{else}}About{{/is}}
        </a>
        <a href="/hc" rel="nofollow" role="menuitem">{{#is current_locale.name '简体中文'}}博客{{else}}Blog{{/is}}</a>
        {{!-- <a href="https://huski.ai/landing-report" rel="nofollow" role="menuitem">{{#is current_locale.name
          '简体中文'}}零售商{{else}}For Retailer{{/is}}</a>
        <a href="https://huski.ai/landing-lawyer" rel="nofollow" role="menuitem">{{#is current_locale.name
          '简体中文'}}知识产权律师{{else}}For IP Lawyer{{/is}}</a>
        <a href="https://huski.ai/landing-brand" rel="nofollow" role="menuitem">{{#is current_locale.name
          '简体中文'}}品牌所有者{{else}}For Brand Owner{{/is}}</a> --}}
      </span>
    </div>
    <!-- PC端显示的菜单 -->
    <ul class="huski-nav-list fx-start">
      {{!-- <li>
        <div class="dropdown language-selector">
          <button style="height: 32px;" class="dropdown-toggle color-white fx-start" aria-haspopup="true">
            {{#is current_locale.name '简体中文'}}解决方案{{else}}Solutions{{/is}}
          </button>
          <span class="dropdown-menu dropdown-menu-end" role="menu">
            <a href="https://huski.ai/landing-report" rel="nofollow" role="menuitem">
              <div class="fx-start">
                <svg width="18" height="18" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M14.8518 5.93155V5.422C14.8518 3.25594 13.0959 1.5 10.9298 1.5C8.76378 1.5 7.00785 3.25594 7.00785 5.422V5.93155H14.8518ZM16.3518 5.93155V5.422C16.3518 2.42751 13.9243 0 10.9298 0C7.93536 0 5.50785 2.42751 5.50785 5.422V5.93155H2.97146C1.92911 5.93155 1.06153 6.73211 0.977906 7.7711L0.00657591 19.8395C-0.0871143 21.0036 0.832297 22 2.00013 22H19.7718C20.9706 22 21.9001 20.9526 21.7577 19.7623L20.3131 7.69387C20.1928 6.68841 19.34 5.93155 18.3273 5.93155H16.3518ZM10.9298 12.375L10.8967 12.3749H10.963L10.9298 12.375ZM2.97146 7.43155H18.3273C18.5805 7.43155 18.7937 7.62077 18.8238 7.87213L20.2683 19.9406C20.3039 20.2381 20.0715 20.5 19.7718 20.5H2.00013C1.70817 20.5 1.47832 20.2509 1.50174 19.9599L2.47307 7.89144C2.49398 7.63169 2.71087 7.43155 2.97146 7.43155Z"
                    fill="#5A5875" />
                  <path d="M6.8103 14.6638C8.05938 16.1701 11.4431 18.2789 14.9855 14.6638" stroke="#5A5875"
                    stroke-width="1.5" stroke-linecap="round" stroke-linejoin="bevel" />
                  <ellipse cx="7.0604" cy="10.7777" rx="1" ry="1.00159" fill="#5A5875" />
                  <ellipse cx="14.3426" cy="10.7777" rx="1" ry="1.00159" fill="#5A5875" />
                </svg>
                &nbsp;&nbsp;
                {{#is current_locale.name '简体中文'}}零售商{{else}}For Retailer{{/is}}
              </div>
            </a>
            <a href="https://huski.ai/landing-lawyer" rel="nofollow" role="menuitem">
              <div class="fx-start">
                <svg width="18" height="18" viewBox="0 0 24 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M1.4502 1.45693C6.95819 4.02001 10.9178 1 10.9178 1H13.468C18.3572 3.89495 22.5279 1.45693 22.5279 1.45693"
                    stroke="#5A5875" stroke-linecap="round" />
                  <path d="M16.9988 11.3853L19.5802 2.42505L22.2335 11.3853H16.9988Z" stroke="#5A5875"
                    stroke-linejoin="bevel" />
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M15.2503 10.4167C15.2503 10.4168 15.2503 10.4168 15.2503 10.4169C15.2503 12.6687 17.2048 14.4942 19.6158 14.4942C22.0267 14.4942 23.9812 12.6687 23.9812 10.4169C23.9812 10.4168 23.9812 10.4168 23.9812 10.4167H15.2503Z"
                    fill="#5A5875" />
                  <path d="M2.7485 11.3853L5.32991 2.42505L7.98317 11.3853H2.7485Z" stroke="#5A5875"
                    stroke-linejoin="bevel" />
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M1 10.4167C1 10.4168 1 10.4168 1 10.4169C1 12.6687 2.95447 14.4942 5.36544 14.4942C7.7764 14.4942 9.73087 12.6687 9.73087 10.4169C9.73087 10.4168 9.73087 10.4168 9.73087 10.4167H1Z"
                    fill="#5A5875" />
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M13.7244 18.5511H17.1163C18.5647 19.2236 18.4852 21 18.4852 21H5.89648C5.89648 20.3955 5.89655 19.4245 7.02652 18.5511H10.657V1H13.7244V18.5511Z"
                    fill="#5A5875" />
                </svg>
                &nbsp;&nbsp;
                {{#is current_locale.name '简体中文'}}知识产权律师{{else}}For IP Lawyer{{/is}}
              </div>
            </a>
            <a href="https://huski.ai/landing-brand" rel="nofollow" role="menuitem">
              <div class="fx-start">
                <svg width="18" height="18" viewBox="0 0 20 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M16.6957 18.729C15.0907 19.9155 12.6921 20.6688 10.0122 20.6688C7.39261 20.6688 5.04191 19.9491 3.43833 18.8086L2.54613 22.6269C2.36207 23.4146 3.14076 24.0835 3.89169 23.7828L9.61818 21.4893C9.85064 21.3962 10.1096 21.3937 10.3438 21.4823L16.462 23.7965C17.2291 24.0867 18.0001 23.3809 17.7787 22.5912L16.6957 18.729Z"
                    fill="#5A5875" />
                  <path
                    d="M19.25 9.72656C19.25 14.6647 15.1284 18.7031 10 18.7031C4.87163 18.7031 0.75 14.6647 0.75 9.72656C0.75 4.78841 4.87163 0.75 10 0.75C15.1284 0.75 19.25 4.78841 19.25 9.72656Z"
                    stroke="#5A5875" stroke-width="1.5" />
                  <path
                    d="M7.155 4.5H10.53C11.69 4.5 12.555 4.74 13.125 5.22C13.695 5.69 13.98 6.4 13.98 7.35C13.98 8.04 13.815 8.63 13.485 9.12C13.155 9.6 12.69 9.935 12.09 10.125V10.155C12.29 10.285 12.45 10.425 12.57 10.575C12.7 10.725 12.805 10.9 12.885 11.1L14.46 15H12.705L11.415 11.67C11.265 11.27 11.08 11.005 10.86 10.875C10.64 10.735 10.28 10.665 9.78 10.665H8.79V15H7.155V4.5ZM10.41 9.345C11.74 9.345 12.405 8.725 12.405 7.485C12.405 6.925 12.235 6.51 11.895 6.24C11.565 5.97 11.055 5.835 10.365 5.835H8.79V9.345H10.41Z"
                    fill="#5A5875" />
                </svg>
                &nbsp;&nbsp;
                {{#is current_locale.name '简体中文'}}品牌所有者{{else}}For Brand Owner{{/is}}
              </div>
            </a>
          </span>
        </div>
      </li> --}}
      <!-- Home -->
      <li>
        <a href="https://huski.ai/">
          {{#is current_locale.name '简体中文'}}主页{{else}}Home{{/is}}</a>
      </li>


      <!-- Learn More -->
      <li>
        <div class="dropdown language-selector">
          <button style="height: 32px;" class="dropdown-toggle color-white fx-start" aria-haspopup="true">
            {{#is current_locale.name '简体中文'}}学习更多{{else}}Learn More{{/is}}&nbsp;<svg width="10" height="5" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M5 4.696.67.286h8.66L5 4.696z" fill="currentColor" />
            </svg>
          </button>
          <span class="dropdown-menu dropdown-menu-end" role="menu">
            <a href="https://huski.ai/product-feature/list" rel="nofollow" role="menuitem">
              <div class="fx-start">
                <svg width="18" height="14" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M11.048 6.127a.2.2 0 0 1-.196-.244l.359-1.592a.2.2 0 0 1 .35-.081l1.274 1.58a.2.2 0 0 1-.155.326l-1.632.011Zm2.386-.39a.2.2 0 0 1-.28-.03l-1.444-1.79a.2.2 0 0 1 .03-.282L16.254 0H1a1 1 0 0 0-1 1v11.2a1 1 0 0 0 1 1h16a1 1 0 0 0 1-1V2.06l-4.566 3.678ZM2.5 3.6a.5.5 0 0 1 .5-.5h5.4a.5.5 0 1 1 0 1H3a.5.5 0 0 1-.5-.5ZM3 6.1a.5.5 0 1 0 0 1h5.4a.5.5 0 0 0 0-1H3Zm-.5 3.5a.5.5 0 0 1 .5-.5h12a.5.5 0 1 1 0 1H3a.5.5 0 0 1-.5-.5Z"
                    fill="#5A5875" />
                </svg>
                &nbsp;&nbsp;
                {{#is current_locale.name '简体中文'}}产品特性{{else}}Product Feature{{/is}}
              </div>
            </a>
            <a href="https://huski.ai/faq" rel="nofollow" role="menuitem">
              <div class="fx-start">
                <svg width="18" height="17" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M0 2a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-2l.5 3-4.5-3H2a2 2 0 0 1-2-2V2Zm10.795 5.13c-.637.483-1.256.952-1.159 1.786h-1.56c-.144-1.078.63-1.676 1.32-2.21.516-.398.984-.76.984-1.258 0-.732-.576-1.14-1.524-1.14-.732 0-1.332.336-1.92.948l-.984-.9C6.72 3.468 7.776 2.88 9.06 2.88c1.74 0 3.012.816 3.012 2.412 0 .87-.648 1.361-1.277 1.838Zm-.871 3.922c0 .624-.456 1.068-1.056 1.068-.624 0-1.068-.444-1.068-1.068 0-.624.456-1.056 1.068-1.056.6 0 1.056.432 1.056 1.056Z"
                    fill="#5A5875" />
                </svg>
                &nbsp;&nbsp;
                {{#is current_locale.name '简体中文'}}常见问题{{else}}FAQ{{/is}}
              </div>
            </a>
          </span>
        </div>
      </li>

      <!-- Get Started -->
      <li>
        <div class="dropdown language-selector">
          <button style="height: 32px;" class="dropdown-toggle color-white fx-start" aria-haspopup="true">
            {{#is current_locale.name '简体中文'}}开始旅程{{else}}Get Started{{/is}}&nbsp;<svg width="10" height="5" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M5 4.696.67.286h8.66L5 4.696z" fill="currentColor" />
            </svg>
          </button>
          <span class="dropdown-menu dropdown-menu-end" role="menu">
            <a href="https://huski.ai/pricing" rel="nofollow" role="menuitem">
              <div class="fx-start">
                <svg width="18" height="17" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="m9.3.002 5.074.177a1 1 0 0 1 .966 1v4.679a1 1 0 0 1-.327.74l-8.885 8.087a1 1 0 0 1-1.427-.083L.246 9.492a1 1 0 0 1 .066-1.383L8.576.275A1 1 0 0 1 9.3.002Zm3.944 3.023a1.084 1.084 0 1 1-2.167 0 1.084 1.084 0 0 1 2.167 0ZM7.331 16.28l-.872-.804a1 1 0 0 0 .821-.25l8.963-8.157a1 1 0 0 0 .327-.74V1.74h.402a1 1 0 0 1 1 1v4.646a1 1 0 0 1-.327.74l-8.963 8.157a1 1 0 0 1-1.351-.004Z"
                    fill="#5A5875" />
                </svg>
                &nbsp;&nbsp;
                {{#is current_locale.name '简体中文'}}价格{{else}}Pricing{{/is}}
              </div>
            </a>
            <a href="https://huski.ai/book/book-a-demo" rel="nofollow" role="menuitem">
              <div class="fx-start">
                <svg width="16" height="17" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M4.8 1v3.2M11.2 1v3.2" stroke="#5A5875" stroke-width="2" stroke-linecap="round" />
                  <mask id="a" fill="#fff">
                    <path d="M0 4.114a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v10.4a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-10.4Z" />
                  </mask>
                  <path d="M0 4.114a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v10.4a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-10.4Z"
                    fill="#5A5875" />
                  <path
                    d="M2 3.614h12v-3H2v3Zm12.5.5v10.4h3v-10.4h-3Zm-.5 10.9H2v3h12v-3Zm-12.5-.5v-10.4h-3v10.4h3Zm.5.5a.5.5 0 0 1-.5-.5h-3a3.5 3.5 0 0 0 3.5 3.5v-3Zm12.5-.5a.5.5 0 0 1-.5.5v3a3.5 3.5 0 0 0 3.5-3.5h-3Zm-.5-10.9a.5.5 0 0 1 .5.5h3a3.5 3.5 0 0 0-3.5-3.5v3Zm-12-3a3.5 3.5 0 0 0-3.5 3.5h3a.5.5 0 0 1 .5-.5v-3Z"
                    fill="#5A5875" mask="url(#a)" />
                  <path d="M0 5.8h16" stroke="#fff" stroke-width="1.5" />
                </svg>
                &nbsp;&nbsp;
                {{#is current_locale.name '简体中文'}}预约演示{{else}}Book A Demo{{/is}}
              </div>
            </a>
            <a href="https://huski.ai/register?from=blog" rel="nofollow" role="menuitem">
              <div class="fx-start">
                <svg width="15" height="19" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M0 11.778V3.715h3.196a.5.5 0 0 0 .5-.5V.02h6.01a2 2 0 0 1 2 2v9.707l-1.768-1.582s-2.044.973-1 2.25c.494.604.828 1.056 1.043 1.365a2.01 2.01 0 0 1-.276.019H2a2 2 0 0 1-2-2Zm6-7.16a.4.4 0 1 0 0 .8h3a.4.4 0 0 0 0-.8H6Zm-3.4 2.4c0-.22.18-.4.4-.4h6a.4.4 0 1 1 0 .8H3a.4.4 0 0 1-.4-.4Zm.4 1.6a.4.4 0 1 0 0 .8h3a.4.4 0 0 0 0-.8H3Zm-.125-6.03V.35a.1.1 0 0 0-.168-.073L.29 2.515a.1.1 0 0 0 .068.173h2.417a.1.1 0 0 0 .1-.1ZM9 15.28v-.833c.444-.019.868-.11 1.263-.261.039-.292.111-.492.111-.492s-.431-.51-1.098-1.424c-.668-.914.652-1.334.652-1.334l2.092 1.928c.509-.67.81-1.507.81-2.414V9.02c.497.539 1.536 2.513 1.615 2.91.084.418.035 3.315 0 4.711H9.942v-.419c-.314-.104-.942-.44-.942-.942Zm1.3 1.74a.3.3 0 0 0-.3.3v.9a.3.3 0 0 0 .3.3h3.9a.3.3 0 0 0 .3-.3v-.9a.3.3 0 0 0-.3-.3h-3.9Z"
                    fill="#5A5875" />
                </svg>
                &nbsp;&nbsp;
                {{#is current_locale.name '简体中文'}}免费试用{{else}}Free Trail{{/is}}
              </div>
            </a>
          </span>
        </div>
      </li>
      <!-- Insights -->
      <li>
        <div class="dropdown language-selector">
          <button style="height: 32px;" class="dropdown-toggle color-white fx-start" aria-haspopup="true">
            {{#is current_locale.name '简体中文'}}Insights{{else}}Insights{{/is}}&nbsp;<svg width="10" height="5"
              fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M5 4.696.67.286h8.66L5 4.696z" fill="currentColor" />
            </svg>
          </button>
          <span class="dropdown-menu dropdown-menu-end" role="menu">
            <a href="https://huski.ai/trademark/conflict/list" rel="nofollow" role="menuitem">
              <div class="fx-start">
                {{#is current_locale.name '简体中文'}}Latest Top 10 Conflicts{{else}}Latest Top 10 Conflicts{{/is}}
              </div>
            </a>
            <a href="https://huski.ai/lawyer/search" rel="nofollow" role="menuitem">
              <div class="fx-start">
                {{#is current_locale.name '简体中文'}}Attorney Ranking{{else}}Attorney Ranking{{/is}}
              </div>
            </a>
          </span>
        </div>
      </li>

      <!-- About -->
      <li>
        <div class="dropdown language-selector">
          <button style="height: 32px;" class="dropdown-toggle color-white fx-start" aria-haspopup="true">
            {{#is current_locale.name '简体中文'}}关于我们{{else}}About{{/is}}&nbsp;<svg width="10" height="5" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M5 4.696.67.286h8.66L5 4.696z" fill="currentColor" />
            </svg>
          </button>
          <span class="dropdown-menu dropdown-menu-end" role="menu">
            <a href="https://huski.ai/technology" rel="nofollow" role="menuitem">
              <div class="fx-start">
                <svg width="20" height="18" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M13.275 1.125c0 .442-.255.824-.625 1.008V3.5a1.5 1.5 0 0 1-1.5 1.5H9.9V4h1.25a.5.5 0 0 0 .5-.5V2.133a1.125 1.125 0 1 1 1.625-1.008Zm-2.25 15.75c0-.442.255-.824.625-1.008V14.5a.5.5 0 0 0-.5-.5H9.9v-1h1.25a1.5 1.5 0 0 1 1.5 1.5v1.367a1.125 1.125 0 1 1-1.625 1.008ZM9.9 11.75h4.625a.5.5 0 0 1 .5.5v1.367a1.125 1.125 0 1 0 1 0V12.25a1.5 1.5 0 0 0-1.5-1.5H9.9v1Zm4.625-5.5H9.9v1h4.625a1.5 1.5 0 0 0 1.5-1.5V4.383a1.125 1.125 0 1 0-1 0V5.75a.5.5 0 0 1-.5.5ZM9.9 9.5h7.092a1.125 1.125 0 1 0 0-1H9.9v1ZM8.012 0H9v5.7a3.306 3.306 0 0 0-3.213 2.656 3.297 3.297 0 0 0 1.405 3.388c.535.358 1.164.55 1.808.556V18H7.994a.366.366 0 0 1-.349-.258l-.6-2.022a6.994 6.994 0 0 1-1.381-.564l-1.856.99a.366.366 0 0 1-.433-.066L1.94 14.646a.366.366 0 0 1-.066-.432l.985-1.884a6.97 6.97 0 0 1-.6-1.398l-2-.6A.366.366 0 0 1 0 9.984V7.956a.366.366 0 0 1 .258-.348l1.988-.6c.147-.495.349-.972.6-1.422l-.972-1.8a.366.366 0 0 1 .066-.432L3.4 1.932a.366.366 0 0 1 .432-.066l1.802.972a6.989 6.989 0 0 1 1.429-.6l.6-1.98A.366.366 0 0 1 8.012 0Z"
                    fill="#5A5875" />
                </svg>
                &nbsp;&nbsp;
                {{#is current_locale.name '简体中文'}}领先的人工智能技术{{else}}Technology{{/is}}
              </div>
            </a>
            <a href="https://huski.ai/about" rel="nofollow" role="menuitem">
              <div class="fx-start">
                <svg width="20" height="16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M3.63 0a2 2 0 0 0-2 2v12.486H.5a.5.5 0 1 0 0 1h18.09a.5.5 0 0 0 0-1h-1.334V7.324a2 2 0 0 0-2-2h-2.345a1.99 1.99 0 0 0-1.105.333V2a2 2 0 0 0-2-2H3.631Zm.924 14.486h4.253v-3.248a1 1 0 0 0-1-1H5.554a1 1 0 0 0-1 1v3.248ZM4.45 3.904a.5.5 0 0 1 .5-.5h3.392a.5.5 0 1 1 0 1H4.95a.5.5 0 0 1-.5-.5Zm.5 2.882a.5.5 0 0 0 0 1h3.392a.5.5 0 1 0 0-1H4.95Zm7.597 3.774a.5.5 0 0 1 .5-.5h2.136a.5.5 0 0 1 0 1h-2.136a.5.5 0 0 1-.5-.5Z"
                    fill="#5A5875" />
                </svg>
                &nbsp;&nbsp;
                {{#is current_locale.name '简体中文'}}公司介绍{{else}}Company{{/is}}
              </div>
            </a>
          </span>
        </div>
      </li>




      {{!-- <li>
        <a href="https://huski.ai/technology">
          {{#is current_locale.name '简体中文'}}领先的人工智能技术{{else}}Technology{{/is}}</a>
      </li>
      <li>
        <a href="https://huski.ai/about">
          {{#is current_locale.name '简体中文'}}关于我们{{else}}About{{/is}}
        </a>
      </li> --}}

      <!-- Blog -->
      <li>
        <a href="/hc">{{#is current_locale.name '简体中文'}}博客{{else}}Blog{{/is}}</a>
      </li>
      {{!-- <li class="fx-center">
        {{#if alternative_locales}}
        <div class="dropdown language-selector">
          <button class="dropdown-toggle color-white fx-start" aria-haspopup="true">
            <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M15.5 8.02105C15.5 12.1761 12.1409 15.5421 8 15.5421C3.8591 15.5421 0.5 12.1761 0.5 8.02105C0.5 3.86605 3.8591 0.5 8 0.5C12.1409 0.5 15.5 3.86605 15.5 8.02105Z"
                stroke="white" />
              <mask id="mask0_768_74" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="16"
                height="17">
                <ellipse cx="8" cy="8.02105" rx="8" ry="8.02105" fill="#24CE85" />
              </mask>
              <g mask="url(#mask0_768_74)">
                <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M11.3459 11.1534C11.0172 12.8588 10.377 14.5851 9.32718 16.2502L8.48127 15.7169C9.43494 14.2043 10.0266 12.6337 10.3401 11.0774C8.5476 10.9604 6.9758 10.957 5.61434 11.0209C5.85185 12.6074 6.34379 14.2891 7.20397 16.0333L6.30711 16.4756C5.3809 14.5975 4.85888 12.7863 4.61277 11.0822C3.02851 11.2023 1.77533 11.4108 0.832371 11.6141L0.621582 10.6366C1.60146 10.4253 2.88708 10.212 4.49847 10.088C4.39759 8.91177 4.42248 7.79318 4.52752 6.74645C2.8987 6.59415 1.6034 6.3464 0.621582 6.13469L0.832371 5.15716C1.78733 5.36308 3.05364 5.606 4.65306 5.75382C5.00655 3.43307 5.7132 1.52511 6.2009 0.208329L6.20113 0.207704C6.24942 0.0773069 6.29557 -0.0472909 6.33901 -0.165916L7.27803 0.177977C7.23604 0.292632 7.19184 0.412166 7.14588 0.536449L7.14584 0.536536L7.14566 0.537043C6.66606 1.83398 5.99528 3.64789 5.65336 5.83007C7.0296 5.913 8.61851 5.91934 10.431 5.78297C10.0936 3.63302 9.34565 1.70828 8.47542 0.257148L9.33303 -0.257141C10.2661 1.29886 11.0726 3.37346 11.4286 5.69538C12.5932 5.57867 13.8431 5.40346 15.1809 5.15437L15.364 6.13748C14.0064 6.39024 12.7362 6.56868 11.551 6.6881C11.6558 7.80963 11.651 8.97738 11.5029 10.1632C12.6975 10.2669 13.9787 10.4192 15.3489 10.6312L15.196 11.6195C13.8207 11.4067 12.5383 11.2553 11.3459 11.1534ZM10.5033 10.0861C10.6483 8.95776 10.6547 7.84521 10.5552 6.77642C8.64342 6.92259 6.97029 6.9142 5.52471 6.82406C5.4224 7.82863 5.39834 8.89994 5.49654 10.0254C6.93629 9.9551 8.60144 9.95815 10.5033 10.0861Z"
                  fill="white" />
              </g>
            </svg>&nbsp;
            {{current_locale.name}}
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12"
              class="dropdown-chevron-icon">
              <path fill="none" stroke="currentColor" stroke-linecap="round" d="M3 4.5l2.6 2.6c.2.2.5.2.7 0L9 4.5" />
            </svg>
          </button>
          <span class="dropdown-menu dropdown-menu-end" role="menu">
            {{#each alternative_locales}}
            <a href="{{url}}" dir="{{direction}}" rel="nofollow" role="menuitem">
              {{name}}
            </a>
            {{/each}}
          </span>
        </div>
        {{/if}}
      </li> --}}
    </ul>
  </div>
</div>

<!--- 分割线 --->
<div class="huski-blog-header container pb-15">
  <h1><a href="/hc" class="color-white font-black">{{settings.logo_text}}</a></h1>
  <p class="font-light f-24">Your source of data insights, technology progress, and industry <br> trend of trademark
    law.</p>
  <ul class="header-nav-list fx-between flex-wrap">
    <li class="header-nav-item-menu-1001" data-key="menu-1001">
      <a href="{{settings.menu_1}}">
        <svg width="40" height="30" viewBox="0 0 40 30" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M24.2444 13.6187C24.1156 13.6196 24.0195 13.5003 24.0478 13.3747L25.0242 9.04223C25.061 8.87897 25.2701 8.83041 25.3751 8.96073L28.8397 13.2614C28.9447 13.3917 28.8527 13.5856 28.6854 13.5868L24.2444 13.6187ZM29.6645 12.9035C29.5785 12.9728 29.4526 12.9593 29.3833 12.8733L25.8701 8.51235C25.8008 8.42634 25.8144 8.30043 25.9004 8.23114L36.1177 0H1C0.447715 0 0 0.447716 0 1V28.3333C0 28.8856 0.447714 29.3333 0.999999 29.3333H39C39.5523 29.3333 40 28.8856 40 28.3333V4.57718L29.6645 12.9035ZM5.16681 8.00001C5.16681 7.17158 5.83839 6.50001 6.66681 6.50001H18.6668C19.4952 6.50001 20.1668 7.17158 20.1668 8.00001C20.1668 8.82844 19.4952 9.50001 18.6668 9.50001H6.66681C5.83839 9.50001 5.16681 8.82844 5.16681 8.00001ZM6.66681 13.1667C5.83839 13.1667 5.16681 13.8383 5.16681 14.6667C5.16681 15.4951 5.83839 16.1667 6.66681 16.1667H18.6668C19.4952 16.1667 20.1668 15.4951 20.1668 14.6667C20.1668 13.8383 19.4952 13.1667 18.6668 13.1667H6.66681ZM5.16681 21.3333C5.16681 20.5049 5.83839 19.8333 6.66681 19.8333H33.3335C34.1619 19.8333 34.8335 20.5049 34.8335 21.3333C34.8335 22.1617 34.1619 22.8333 33.3335 22.8333H6.66681C5.83839 22.8333 5.16681 22.1617 5.16681 21.3333Z"
            fill="white" />
        </svg>

        <span class="font-medium">{{#is current_locale.name
          '简体中文'}}{{settings.header_1}}{{else}}{{settings.header_1_en}}{{/is}}</span> </a>
    </li>
    <li class="header-nav-item-menu-1002" data-key="menu-1002">
      <a href="{{settings.menu_2}}">
        <svg width="40" height="38" viewBox="0 0 40 38" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M27.7645 2.35294C27.7645 3.29487 27.211 4.10752 26.4116 4.48342V8.41177C26.4116 9.51633 25.5161 10.4118 24.4116 10.4118H20.7057V8.41177H24.4116V4.48342C23.6121 4.10752 23.0586 3.29487 23.0586 2.35294C23.0586 1.05345 24.1121 0 25.4116 0C26.7111 0 27.7645 1.05345 27.7645 2.35294ZM23.0586 35.2941C23.0586 34.3522 23.6121 33.5395 24.4116 33.1636V29.2353H20.7057V27.2353H24.4116C25.5161 27.2353 26.4116 28.1307 26.4116 29.2353V33.1636C27.211 33.5395 27.7645 34.3522 27.7645 35.2941C27.7645 36.5936 26.7111 37.6471 25.4116 37.6471C24.1121 37.6471 23.0586 36.5936 23.0586 35.2941ZM20.7057 24.5294H31.4704V28.4578C30.6709 28.8337 30.1174 29.6463 30.1174 30.5882C30.1174 31.8877 31.1709 32.9412 32.4704 32.9412C33.7699 32.9412 34.8233 31.8877 34.8233 30.5882C34.8233 29.6463 34.2699 28.8337 33.4704 28.4578V24.5294C33.4704 23.4248 32.575 22.5294 31.4704 22.5294H20.7057V24.5294ZM31.4704 13.1176H20.7057V15.1176H31.4704C32.575 15.1176 33.4704 14.2222 33.4704 13.1176V9.18931C34.2699 8.8134 34.8233 8.00075 34.8233 7.05882C34.8233 5.75933 33.7699 4.70588 32.4704 4.70588C31.1709 4.70588 30.1174 5.75933 30.1174 7.05882C30.1174 8.00075 30.6709 8.8134 31.4704 9.18931V13.1176ZM20.7057 19.8235H35.5166C35.8925 20.623 36.7051 21.1765 37.6471 21.1765C38.9466 21.1765 40 20.123 40 18.8235C40 17.524 38.9466 16.4706 37.6471 16.4706C36.7051 16.4706 35.8925 17.0241 35.5166 17.8235H20.7057V19.8235ZM16.7568 0.00012207H18.8235V11.9219C18.3918 11.9254 17.9593 11.9693 17.5318 12.0543C16.1916 12.3206 14.9606 12.9779 13.9944 13.9432C13.0282 14.9084 12.3702 16.1382 12.1037 17.4771C11.8371 18.8159 11.9739 20.2036 12.4968 21.4648C13.0197 22.726 13.9052 23.8039 15.0414 24.5623C16.1619 25.3103 17.4767 25.7143 18.8235 25.7253V37.647H16.7191C16.556 37.6462 16.3973 37.5935 16.2663 37.4964C16.1353 37.3994 16.0387 37.2631 15.9905 37.1074L14.7344 32.8784C13.732 32.5892 12.7635 32.1938 11.8453 31.6988L7.96386 33.7694C7.8183 33.8466 7.65169 33.8749 7.48877 33.85C7.32585 33.8251 7.17529 33.7484 7.05945 33.6313L4.0573 30.6321C3.94006 30.5164 3.8633 30.366 3.83841 30.2032C3.81352 30.0405 3.84183 29.874 3.91912 29.7286L5.97918 25.7882C5.45496 24.8623 5.03375 23.8818 4.72305 22.8643L0.540136 21.6094C0.384279 21.5613 0.247849 21.4648 0.150702 21.3339C0.0535545 21.203 0.000759423 21.0445 0 20.8816V16.64C0.000759423 16.4771 0.0535545 16.3186 0.150702 16.1877C0.247849 16.0568 0.384279 15.9603 0.540136 15.9122L4.69792 14.6573C5.00526 13.6226 5.42655 12.6251 5.95405 11.6832L3.91912 7.91851C3.84183 7.77309 3.81352 7.60665 3.83841 7.44389C3.8633 7.28113 3.94006 7.13072 4.0573 7.01499L7.10969 4.04089C7.22553 3.92377 7.37609 3.84708 7.53901 3.82221C7.70194 3.79735 7.86854 3.82562 8.01411 3.90285L11.7825 5.93578C12.7293 5.40794 13.732 4.98705 14.7721 4.68088L16.0282 0.539727C16.0763 0.384024 16.173 0.247728 16.304 0.150676C16.435 0.053624 16.5936 0.000880747 16.7568 0.00012207Z"
            fill="white" />
        </svg>
        <span class="font-medium">{{#is current_locale.name
          '简体中文'}}{{settings.header_2}}{{else}}{{settings.header_2_en}}{{/is}}</span>
      </a>
    </li>
    <li class="header-nav-item-menu-1003" data-key="menu-1003">
      <a href="{{settings.menu_3}}">
        <svg width="42" height="41" viewBox="0 0 42 41" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M21.0268 0C22.1314 0 23.0268 0.89543 23.0268 2V8.0085C23.0268 9.11307 22.1314 10.0085 21.0268 10.0085C19.9222 10.0085 19.0268 9.11307 19.0268 8.0085V2C19.0268 0.89543 19.9222 0 21.0268 0ZM3.46972 6.18801C2.72057 5.37632 1.45526 5.32561 0.64356 6.07476C-0.168138 6.8239 -0.218845 8.08922 0.530302 8.90092L4.53597 13.241C5.28512 14.0527 6.55043 14.1034 7.36213 13.3543C8.17383 12.6052 8.22453 11.3398 7.47539 10.5281L3.46972 6.18801ZM2.54464 25.1055C5.22983 20.1967 12.0016 11.8416 21.027 12.0168C30.0311 12.1917 36.8611 20.3354 39.5998 25.0984C39.9045 25.6283 39.922 26.271 39.6444 26.8156C37.1011 31.807 30.4804 40.2817 21.027 40.1067C11.5793 39.9317 5.02996 31.6393 2.52377 26.7972C2.24748 26.2634 2.25619 25.6328 2.54464 25.1055ZM29.4054 26.0618C29.4054 30.6547 25.6821 34.3779 21.0892 34.3779C16.4963 34.3779 12.7731 30.6547 12.7731 26.0618C12.7731 21.4689 16.4963 17.7456 21.0892 17.7456C25.6821 17.7456 29.4054 21.4689 29.4054 26.0618ZM26.2858 26.0619C26.2858 28.9325 23.9588 31.2595 21.0882 31.2595C18.2177 31.2595 15.8906 28.9325 15.8906 26.0619C15.8906 25.7731 15.9142 25.4897 15.9595 25.2136C16.4976 25.7222 17.2237 26.034 18.0225 26.034C19.6817 26.034 21.0268 24.6889 21.0268 23.0297C21.0268 22.219 20.7056 21.4832 20.1836 20.9428C20.4774 20.8912 20.7797 20.8643 21.0882 20.8643C23.9588 20.8643 26.2858 23.1914 26.2858 26.0619ZM36.4611 13.4284L40.4668 9.42271C41.2478 8.64167 41.2478 7.37534 40.4668 6.59429C39.6857 5.81324 38.4194 5.81324 37.6384 6.59429L33.6327 10.6C32.8516 11.381 32.8516 12.6473 33.6327 13.4284C34.4137 14.2094 35.6801 14.2094 36.4611 13.4284Z"
            fill="white" />
        </svg>

        <span class="font-medium">{{#is current_locale.name
          '简体中文'}}{{settings.header_3}}{{else}}{{settings.header_3_en}}{{/is}}</span></a>
    </li>
  </ul>
</div>
{{!-- <a class="skip-navigation" tabindex="1" href="#main-content">{{t 'skip_navigation' }}</a>

<header class="header">
  <div class="logo">
    {{#link 'help_center'}}
    <img src="{{settings.logo}}" alt="{{t 'home_page' name=help_center.name}}" />
    {{#if settings.show_brand_name}}
    <span aria-hidden="true">{{help_center.name}}</span>
    {{/if}}
    {{/link}}
  </div>

  <div class="nav-wrapper-desktop">
    <nav class="user-nav" id="user-nav">
      <ul class="user-nav-list">
        <li>{{link 'community'}}</li>
        <li>{{link 'new_request' class='submit-a-request'}}</li>
        {{#unless signed_in}}
        <li>
          {{#link "sign_in" class="sign-in"}}
          {{t 'sign_in'}}
          {{/link}}
        </li>
        {{/unless}}
      </ul>
    </nav>
    {{#if signed_in}}
    <div class="user-info dropdown">
      <button class="dropdown-toggle" aria-haspopup="true">
        {{user_avatar class="user-avatar"}}
        <span>
          {{user_name}}
          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12"
            class="dropdown-chevron-icon" aria-hidden="true">
            <path fill="none" stroke="currentColor" stroke-linecap="round" d="M3 4.5l2.6 2.6c.2.2.5.2.7 0L9 4.5" />
          </svg>
        </span>
      </button>
      <div class="dropdown-menu" role="menu">
        {{#my_profile role="menuitem"}}{{t 'profile'}}{{/my_profile}}
        {{link "requests" role="menuitem"}}
        {{#link "contributions" role="menuitem"}}{{t "activities"}}{{/link}}
        {{contact_details role="menuitem"}}
        {{change_password role="menuitem"}}
        <div class="separator" role="separator"></div>
        {{link "sign_out" role="menuitem"}}
      </div>
    </div>
    {{/if}}
  </div>

  <div class="nav-wrapper-mobile">
    <button class="menu-button-mobile" aria-controls="user-nav-mobile" aria-expanded="false"
      aria-label="{{t 'toggle_navigation'}}">
      {{#if signed_in}}
      {{user_avatar class="user-avatar"}}
      {{/if}}
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" focusable="false" viewBox="0 0 16 16"
        class="icon-menu">
        <path fill="none" stroke="currentColor" stroke-linecap="round" d="M1.5 3.5h13m-13 4h13m-13 4h13" />
      </svg>
    </button>
    <nav class="menu-list-mobile" id="user-nav-mobile" aria-expanded="false">
      <ul class="menu-list-mobile-items">
        {{#if signed_in}}
        <li class="user-avatar-item item">
          {{#my_profile role="menuitem" class="my-profile"}}
          {{user_avatar class="menu-profile-avatar"}}
          <div class="menu-profile-name">
            <div>{{user_name}}</div>
            <div class="my-profile-tooltip">{{t 'profile'}}</div>
          </div>
          {{/my_profile}}
        </li>
        <li class="item">{{link "requests" role="menuitem"}}</li>
        <li class="item">{{#link "contributions" role="menuitem"}}{{t "activities"}}{{/link}}</li>
        <li class="item">{{contact_details role="menuitem"}}</li>
        <li class="item">{{change_password role="menuitem" class='change-password'}}</li>
        <li class="nav-divider"></li>
        {{else}}
        <li class="item">
          {{#link "sign_in" role="menuitem"}}
          {{t 'sign_in'}}
          {{/link}}
        </li>
        <li class="nav-divider"></li>
        {{/if}}
        <li class="item">{{link 'community' role="menuitem"}}</li>
        <li class="item">{{link 'new_request' role="menuitem" class='submit-a-request'}}</li>
        <li class="nav-divider"></li>
        {{#if signed_in}}
        <li class="item">
          {{link "sign_out" role="menuitem"}}
        </li>
        {{/if}}
        </li>
      </ul>
    </nav>
  </div>

</header> --}}