<div class="huski-blog-header container pb-15">
  <h1><a href="/hc" class="color-white font-black">{{settings.logo_text}}</a></h1>
  <p class="font-light f-24">Your source of data insights, technology progress, and industry <br> trend of trademark
    law.</p>
  <ul class="header-nav-list fx-between flex-wrap">
    <li class="header-nav-item-menu-1001" data-key="menu-1001">
      <a href="{{settings.menu_1}}">
        <svg width="40" height="30" viewBox="0 0 40 30" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M24.2444 13.6187C24.1156 13.6196 24.0195 13.5003 24.0478 13.3747L25.0242 9.04223C25.061 8.87897 25.2701 8.83041 25.3751 8.96073L28.8397 13.2614C28.9447 13.3917 28.8527 13.5856 28.6854 13.5868L24.2444 13.6187ZM29.6645 12.9035C29.5785 12.9728 29.4526 12.9593 29.3833 12.8733L25.8701 8.51235C25.8008 8.42634 25.8144 8.30043 25.9004 8.23114L36.1177 0H1C0.447715 0 0 0.447716 0 1V28.3333C0 28.8856 0.447714 29.3333 0.999999 29.3333H39C39.5523 29.3333 40 28.8856 40 28.3333V4.57718L29.6645 12.9035ZM5.16681 8.00001C5.16681 7.17158 5.83839 6.50001 6.66681 6.50001H18.6668C19.4952 6.50001 20.1668 7.17158 20.1668 8.00001C20.1668 8.82844 19.4952 9.50001 18.6668 9.50001H6.66681C5.83839 9.50001 5.16681 8.82844 5.16681 8.00001ZM6.66681 13.1667C5.83839 13.1667 5.16681 13.8383 5.16681 14.6667C5.16681 15.4951 5.83839 16.1667 6.66681 16.1667H18.6668C19.4952 16.1667 20.1668 15.4951 20.1668 14.6667C20.1668 13.8383 19.4952 13.1667 18.6668 13.1667H6.66681ZM5.16681 21.3333C5.16681 20.5049 5.83839 19.8333 6.66681 19.8333H33.3335C34.1619 19.8333 34.8335 20.5049 34.8335 21.3333C34.8335 22.1617 34.1619 22.8333 33.3335 22.8333H6.66681C5.83839 22.8333 5.16681 22.1617 5.16681 21.3333Z"
            fill="white" />
        </svg>

        <span class="font-medium">{{#is current_locale.name
          '简体中文'}}{{settings.header_1}}{{else}}{{settings.header_1_en}}{{/is}}</span> </a>
    </li>
    <li class="header-nav-item-menu-1002" data-key="menu-1002">
      <a href="{{settings.menu_2}}">
        <svg width="40" height="38" viewBox="0 0 40 38" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M27.7645 2.35294C27.7645 3.29487 27.211 4.10752 26.4116 4.48342V8.41177C26.4116 9.51633 25.5161 10.4118 24.4116 10.4118H20.7057V8.41177H24.4116V4.48342C23.6121 4.10752 23.0586 3.29487 23.0586 2.35294C23.0586 1.05345 24.1121 0 25.4116 0C26.7111 0 27.7645 1.05345 27.7645 2.35294ZM23.0586 35.2941C23.0586 34.3522 23.6121 33.5395 24.4116 33.1636V29.2353H20.7057V27.2353H24.4116C25.5161 27.2353 26.4116 28.1307 26.4116 29.2353V33.1636C27.211 33.5395 27.7645 34.3522 27.7645 35.2941C27.7645 36.5936 26.7111 37.6471 25.4116 37.6471C24.1121 37.6471 23.0586 36.5936 23.0586 35.2941ZM20.7057 24.5294H31.4704V28.4578C30.6709 28.8337 30.1174 29.6463 30.1174 30.5882C30.1174 31.8877 31.1709 32.9412 32.4704 32.9412C33.7699 32.9412 34.8233 31.8877 34.8233 30.5882C34.8233 29.6463 34.2699 28.8337 33.4704 28.4578V24.5294C33.4704 23.4248 32.575 22.5294 31.4704 22.5294H20.7057V24.5294ZM31.4704 13.1176H20.7057V15.1176H31.4704C32.575 15.1176 33.4704 14.2222 33.4704 13.1176V9.18931C34.2699 8.8134 34.8233 8.00075 34.8233 7.05882C34.8233 5.75933 33.7699 4.70588 32.4704 4.70588C31.1709 4.70588 30.1174 5.75933 30.1174 7.05882C30.1174 8.00075 30.6709 8.8134 31.4704 9.18931V13.1176ZM20.7057 19.8235H35.5166C35.8925 20.623 36.7051 21.1765 37.6471 21.1765C38.9466 21.1765 40 20.123 40 18.8235C40 17.524 38.9466 16.4706 37.6471 16.4706C36.7051 16.4706 35.8925 17.0241 35.5166 17.8235H20.7057V19.8235ZM16.7568 0.00012207H18.8235V11.9219C18.3918 11.9254 17.9593 11.9693 17.5318 12.0543C16.1916 12.3206 14.9606 12.9779 13.9944 13.9432C13.0282 14.9084 12.3702 16.1382 12.1037 17.4771C11.8371 18.8159 11.9739 20.2036 12.4968 21.4648C13.0197 22.726 13.9052 23.8039 15.0414 24.5623C16.1619 25.3103 17.4767 25.7143 18.8235 25.7253V37.647H16.7191C16.556 37.6462 16.3973 37.5935 16.2663 37.4964C16.1353 37.3994 16.0387 37.2631 15.9905 37.1074L14.7344 32.8784C13.732 32.5892 12.7635 32.1938 11.8453 31.6988L7.96386 33.7694C7.8183 33.8466 7.65169 33.8749 7.48877 33.85C7.32585 33.8251 7.17529 33.7484 7.05945 33.6313L4.0573 30.6321C3.94006 30.5164 3.8633 30.366 3.83841 30.2032C3.81352 30.0405 3.84183 29.874 3.91912 29.7286L5.97918 25.7882C5.45496 24.8623 5.03375 23.8818 4.72305 22.8643L0.540136 21.6094C0.384279 21.5613 0.247849 21.4648 0.150702 21.3339C0.0535545 21.203 0.000759423 21.0445 0 20.8816V16.64C0.000759423 16.4771 0.0535545 16.3186 0.150702 16.1877C0.247849 16.0568 0.384279 15.9603 0.540136 15.9122L4.69792 14.6573C5.00526 13.6226 5.42655 12.6251 5.95405 11.6832L3.91912 7.91851C3.84183 7.77309 3.81352 7.60665 3.83841 7.44389C3.8633 7.28113 3.94006 7.13072 4.0573 7.01499L7.10969 4.04089C7.22553 3.92377 7.37609 3.84708 7.53901 3.82221C7.70194 3.79735 7.86854 3.82562 8.01411 3.90285L11.7825 5.93578C12.7293 5.40794 13.732 4.98705 14.7721 4.68088L16.0282 0.539727C16.0763 0.384024 16.173 0.247728 16.304 0.150676C16.435 0.053624 16.5936 0.000880747 16.7568 0.00012207Z"
            fill="white" />
        </svg>
        <span class="font-medium">{{#is current_locale.name
          '简体中文'}}{{settings.header_2}}{{else}}{{settings.header_2_en}}{{/is}}</span>
      </a>
    </li>
    <li class="header-nav-item-menu-1003" data-key="menu-1003">
      <a href="{{settings.menu_3}}">
        <svg width="42" height="41" viewBox="0 0 42 41" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M21.0268 0C22.1314 0 23.0268 0.89543 23.0268 2V8.0085C23.0268 9.11307 22.1314 10.0085 21.0268 10.0085C19.9222 10.0085 19.0268 9.11307 19.0268 8.0085V2C19.0268 0.89543 19.9222 0 21.0268 0ZM3.46972 6.18801C2.72057 5.37632 1.45526 5.32561 0.64356 6.07476C-0.168138 6.8239 -0.218845 8.08922 0.530302 8.90092L4.53597 13.241C5.28512 14.0527 6.55043 14.1034 7.36213 13.3543C8.17383 12.6052 8.22453 11.3398 7.47539 10.5281L3.46972 6.18801ZM2.54464 25.1055C5.22983 20.1967 12.0016 11.8416 21.027 12.0168C30.0311 12.1917 36.8611 20.3354 39.5998 25.0984C39.9045 25.6283 39.922 26.271 39.6444 26.8156C37.1011 31.807 30.4804 40.2817 21.027 40.1067C11.5793 39.9317 5.02996 31.6393 2.52377 26.7972C2.24748 26.2634 2.25619 25.6328 2.54464 25.1055ZM29.4054 26.0618C29.4054 30.6547 25.6821 34.3779 21.0892 34.3779C16.4963 34.3779 12.7731 30.6547 12.7731 26.0618C12.7731 21.4689 16.4963 17.7456 21.0892 17.7456C25.6821 17.7456 29.4054 21.4689 29.4054 26.0618ZM26.2858 26.0619C26.2858 28.9325 23.9588 31.2595 21.0882 31.2595C18.2177 31.2595 15.8906 28.9325 15.8906 26.0619C15.8906 25.7731 15.9142 25.4897 15.9595 25.2136C16.4976 25.7222 17.2237 26.034 18.0225 26.034C19.6817 26.034 21.0268 24.6889 21.0268 23.0297C21.0268 22.219 20.7056 21.4832 20.1836 20.9428C20.4774 20.8912 20.7797 20.8643 21.0882 20.8643C23.9588 20.8643 26.2858 23.1914 26.2858 26.0619ZM36.4611 13.4284L40.4668 9.42271C41.2478 8.64167 41.2478 7.37534 40.4668 6.59429C39.6857 5.81324 38.4194 5.81324 37.6384 6.59429L33.6327 10.6C32.8516 11.381 32.8516 12.6473 33.6327 13.4284C34.4137 14.2094 35.6801 14.2094 36.4611 13.4284Z"
            fill="white" />
        </svg>

        <span class="font-medium">{{#is current_locale.name
          '简体中文'}}{{settings.header_3}}{{else}}{{settings.header_3_en}}{{/is}}</span></a>
    </li>
  </ul>
</div>
<!--- 分割线 --->

<h1 class="visibility-hidden">{{ help_center.name }}</h1>

<div class="container">

  {{#each (filter promoted_articles on="id" equals=4570272505241)}}
  <div class="home-hero">
    <a href="{{url}}" target="_blank">
      <div class="article-cover-init" title="{{title}}">
        <xmp>{{body }}</xmp>
      </div>
    </a>
  </div>
  <div class="fx-between f-14 mt-20 pb-3">
    <h3 class="f-28 bold"><a href="{{url}}" class="article-title" target="_blank">{{excerpt title characters=30}}</a>
    </h3>
    <span class="color-green">PRODUCT INTRODUCTION</span>
    {{!-- <span class="color-white">{{date updated_at format='short'}}</span> --}}
  </div>
  <p class="f-16 color-white">{{excerpt body characters=140}}</p>
  {{/each}}
  <div class="divider mt-120 mb-30"></div>
</div>

<!-- menu-1001 类别 -->
<div class="container">
  {{#each categories}}
  {{#each (filter sections on="description" equals="menu-1001")}}
  <div class="fx-between">
    <h3 class="home-category">{{name}}</h3>
    <div class="all-articles-label">
      <a href="{{url}}" class="color-white">All Articles →</a>
    </div>
  </div>

  <div class="row mb-20 justify-content-between">
    {{#each (slice (filter articles on="body" contains="<img ") 0 3)}}
  {{#if promoted}}
  {{#if @first}}
    <div class=" col-lg-6 col-sm-12">
    <a href="{{url}}" class="block" title="{{title}}">
      <div class="home-media-image">
        <div class="article-cover-init" title="{{title}}">
          <xmp>{{body}}</xmp>
        </div>
      </div>
    </a>
  </div>
  <div class="col-lg-6 col-sm-12">
    <a href="{{url}}" class="block" title="{{title}}">
      <h3 class="mt-15 mb-15 bold color-white home-article-title">{{excerpt title characters=40}}</h3>
      <p class="f-16 color-white line-height-18 font-light">{{excerpt body characters=280}}</p>
    </a>
  </div>
  <div class="col-12 mb-50"></div>
  {{else}}
  <div class=" col-lg-6 col-sm-12">
    <a href="{{url}}" class="block" title="{{title}}">
      {{!-- <div class="home-media-image">
        <div class="article-cover-init" title="{{title}}">
          <xmp>{{body}}</xmp>
        </div>
      </div> --}}
      <h3 class="mt-15 mb-15 bold color-white home-article-title">{{excerpt title characters=40}}</h3>
      {{!-- <div class="color-white f-16">{{date updated_at format='short'}}</div> --}}
      <p class="f-16 color-white line-height-18 font-light">{{excerpt body characters=160}}</p>
    </a>
  </div>
  {{/if}}

  {{/if}}
  {{/each}}
</div>
{{/each}}
{{/each}}
<div class="divider mt-120 mb-50"></div>
</div>
<!-- 列表 -->
{{!-- <div class="container">
  {{#each categories}}
  {{#each (filter sections on="description" equals="menu-1001")}}
  <ul class="home-article-list">
    {{#each (slice articles 0 8)}}
    {{#unless promoted}}
    <li class="home-article-list-item">
      <a href="{{url}}" class="fx-between">
        <h3 class="f-20 bold color-white">{{excerpt title characters=80}}</h3>
        <div class="color-white f-16">{{date updated_at format='short'}}</div>
      </a>
    </li>
    {{/unless}}
    {{/each}}
  </ul>
  {{/each}}
  {{/each}}
  <div class="divider"></div>
</div> --}}

<!-- menu-1003 类别 -->
<div class="container">
  {{#each categories}}
  {{#each (filter sections on="description" equals="menu-1003")}}
  <div class="fx-between">
    <h3 class="home-category">{{name}}</h3>
    <div class="all-articles-label">
      <a href="{{url}}" class="color-white">All Articles →</a>
    </div>
  </div>
  <div class="row mb-20 justify-content-between">
    {{#each (slice (filter articles on="body" contains="<img ") 0 3)}}
    {{#if promoted}}
      {{#if @first}}
  <div class=" col-lg-6 col-sm-12">
    <a href="{{url}}" class="block" title="{{title}}">
      <h3 class="mt-15 mb-15 bold color-white home-article-title">{{excerpt title characters=40}}</h3>
      <p class="f-16 color-white line-height-18 font-light">{{excerpt body characters=280}}</p>
    </a>
  </div>
  <div class="col-lg-6 col-sm-12">
    <a href="{{url}}" class="block" title="{{title}}">
      <div class="home-media-image">
        <div class="article-cover-init" title="{{title}}">
          <xmp>{{body}}</xmp>
        </div>
      </div>
    </a>
  </div>
  <div class="col-12 mb-50"></div>
  {{else}}
  <div class=" col-lg-6 col-sm-12">
    <a href="{{url}}" class="block" title="{{title}}">
      {{!-- <div class="home-media-image">
        <div class="article-cover-init" title="{{title}}">
          <xmp>{{body}}</xmp>
        </div>
      </div> --}}
      <h3 class="mt-15 mb-15 bold color-white home-article-title">{{excerpt title characters=40}}</h3>
      {{!-- <div class="color-white f-16">{{date updated_at format='short'}}</div> --}}
      <p class="f-16 color-white line-height-18 font-light">{{excerpt body characters=160}}</p>
    </a>
  </div>
  {{/if}}


  {{/if}}
  {{/each}}
</div>
{{/each}}
{{/each}}
<div class="divider mt-120 mb-50"></div>
</div>
{{!-- <div class="container">
  {{#each categories}}
  {{#each (filter sections on="description" equals="menu-1003")}}
  <ul class="home-article-list">
    {{#each (slice articles 0 8)}}
    {{#unless promoted}}
    <li class="home-article-list-item">
      <a href="{{url}}" class="fx-between">
        <h3 class="f-20 bold color-white">{{excerpt title characters=80}}</h3>
        <div class="color-white f-16">{{date updated_at format='short'}}</div>
      </a>
    </li>
    {{/unless}}
    {{/each}}
  </ul>
  {{/each}}
  {{/each}}
  <div class="divider"></div>
</div> --}}

<!-- menu-1002 类别 -->
<div class="container">
  {{#each categories}}
  {{#each (filter sections on="description" equals="menu-1002")}}
  <div class="fx-between">
    <h3 class="home-category">{{name}}</h3>
    <div class="all-articles-label">
      <a href="{{url}}" class="color-white">All Articles →</a>
    </div>
  </div>
  <div class="row mb-20 justify-content-between">
    {{#each (slice (filter articles on="body" contains="<img ") 0 2)}}
      {{#if promoted}}
      {{#if @first}}
    <div class=" col-lg-6 col-sm-12">
    <a href="{{url}}" class="block" title="{{title}}">
      <div class="home-media-image">
        <div class="article-cover-init" title="{{title}}">
          <xmp>{{body}}</xmp>
        </div>
      </div>
    </a>
  </div>
  <div class="col-lg-6 col-sm-12">
    <a href="{{url}}" class="block" title="{{title}}">
      <h3 class="f-28 mt-15 mb-15 bold color-white home-article-title">{{excerpt title characters=40}}</h3>
      <p class="f-16 color-white line-height-18 font-light">{{excerpt body characters=280}}</p>
    </a>
  </div>
  <div class="col-12 mb-50"></div>
  {{else}}
  <div class="col-lg-6 col-sm-12">
    <a href="{{url}}" class="block" title="{{title}}">
      {{!-- <div class="home-media-image">
        <div class="article-cover-init" title="{{title}}">
          <xmp>{{body}}</xmp>
        </div>
      </div> --}}
      <h3 class="f-28 mt-15 mb-15 bold color-white home-article-title">{{excerpt title characters=40}}</h3>
      {{!-- <div class="color-white f-16">{{date updated_at format='short'}}</div> --}}
      <p class="f-16 color-white line-height-18 font-light">{{excerpt body characters=160}}</p>
    </a>
  </div>
  {{/if}}
  {{/if}}
  {{/each}}
</div>
{{/each}}
{{/each}}
{{!-- <div class="divider mt-120 mb-50"></div> --}}
</div>
{{!-- <div class="container">
  {{#each categories}}
  {{#each (filter sections on="description" equals="menu-1002")}}
  <ul class="home-article-list">
    {{#each (slice articles 0 8)}}
    {{#unless promoted}}
    <li class="home-article-list-item">
      <a href="{{url}}" class="fx-between" title="{{excerpt title characters=80}}">
        <h3 class="f-20 bold color-white">{{excerpt title characters=80}}</h3>
        <div class="color-white f-16">{{date updated_at format='short'}}</div>
      </a>
    </li>
    {{/unless}}
    {{/each}}
  </ul>
  {{/each}}
  {{/each}}
  <div class="divider mb-30"></div>
</div> --}}