<h1 class="visibility-hidden">{{ help_center.name }}</h1>

<div class="container">

  {{#each (filter promoted_articles on="id" equals=4570272505241)}}
  <div class="home-hero">
    <a href="{{url}}" target="_blank">
      <div class="article-cover-init" title="{{title}}">
        <xmp>{{body }}</xmp>
      </div>
    </a>
  </div>
  <div class="fx-between f-14 mt-20 pb-3">
    <h3 class="f-28 bold"><a href="{{url}}" class="article-title" target="_blank">{{excerpt title characters=30}}</a>
    </h3>
    <span class="color-green">PRODUCT INTRODUCTION</span>
    {{!-- <span class="color-white">{{date updated_at format='short'}}</span> --}}
  </div>
  <p class="f-16 color-white">{{excerpt body characters=140}}</p>
  {{/each}}
  <div class="divider mt-120 mb-30"></div>
</div>

<!-- menu-1001 类别 -->
<div class="container">
  {{#each categories}}
  {{#each (filter sections on="description" equals="menu-1001")}}
  <div class="fx-between">
    <h3 class="home-category">{{name}}</h3>
    <div class="all-articles-label">
      <a href="{{url}}" class="color-white">All Articles →</a>
    </div>
  </div>

  <div class="row mb-20 justify-content-between">
    {{#each (slice (filter articles on="body" contains="<img ") 0 3)}}
  {{#if promoted}}
  {{#if @first}}
    <div class=" col-lg-6 col-sm-12">
    <a href="{{url}}" class="block" title="{{title}}">
      <div class="home-media-image">
        <div class="article-cover-init" title="{{title}}">
          <xmp>{{body}}</xmp>
        </div>
      </div>
    </a>
  </div>
  <div class="col-lg-6 col-sm-12">
    <a href="{{url}}" class="block" title="{{title}}">
      <h3 class="mt-15 mb-15 bold color-white home-article-title">{{excerpt title characters=40}}</h3>
      <div class="color-white f-16">{{date updated_at format='short'}}</div>
      <p class="f-16 color-white line-height-18 font-light">{{excerpt body characters=280}}</p>
    </a>
  </div>
  <div class="col-12 mb-50"></div>
  {{else}}
  <div class=" col-lg-6 col-sm-12">
    <a href="{{url}}" class="block" title="{{title}}">
      {{!-- <div class="home-media-image">
        <div class="article-cover-init" title="{{title}}">
          <xmp>{{body}}</xmp>
        </div>
      </div> --}}
      <h3 class="mt-15 mb-15 bold color-white home-article-title">{{excerpt title characters=40}}</h3>
      <div class="color-white f-16">{{date updated_at format='short'}}</div>
      <p class="f-16 color-white line-height-18 font-light">{{excerpt body characters=160}}</p>
    </a>
  </div>
  {{/if}}

  {{/if}}
  {{/each}}
</div>
{{/each}}
{{/each}}
<div class="divider mt-120 mb-50"></div>
</div>
<!-- 列表 -->
{{!-- <div class="container">
  {{#each categories}}
  {{#each (filter sections on="description" equals="menu-1001")}}
  <ul class="home-article-list">
    {{#each (slice articles 0 8)}}
    {{#unless promoted}}
    <li class="home-article-list-item">
      <a href="{{url}}" class="fx-between">
        <h3 class="f-20 bold color-white">{{excerpt title characters=80}}</h3>
        <div class="color-white f-16">{{date updated_at format='short'}}</div>
      </a>
    </li>
    {{/unless}}
    {{/each}}
  </ul>
  {{/each}}
  {{/each}}
  <div class="divider"></div>
</div> --}}

<!-- menu-1003 类别 -->
<div class="container">
  {{#each categories}}
  {{#each (filter sections on="description" equals="menu-1003")}}
  <div class="fx-between">
    <h3 class="home-category">{{name}}</h3>
    <div class="all-articles-label">
      <a href="{{url}}" class="color-white">All Articles →</a>
    </div>
  </div>
  <div class="row mb-20 justify-content-between">
    {{#each (slice (filter articles on="body" contains="<img ") 0 3)}}
    {{#if promoted}}
      {{#if @first}}
  <div class=" col-lg-6 col-sm-12">
    <a href="{{url}}" class="block" title="{{title}}">
      <h3 class="mt-15 mb-15 bold color-white home-article-title">{{excerpt title characters=40}}</h3>
      <div class="color-white f-16">{{date updated_at format='short'}}</div>
      <p class="f-16 color-white line-height-18 font-light">{{excerpt body characters=280}}</p>
    </a>
  </div>
  <div class="col-lg-6 col-sm-12">
    <a href="{{url}}" class="block" title="{{title}}">
      <div class="home-media-image">
        <div class="article-cover-init" title="{{title}}">
          <xmp>{{body}}</xmp>
        </div>
      </div>
    </a>
  </div>
  <div class="col-12 mb-50"></div>
  {{else}}
  <div class=" col-lg-6 col-sm-12">
    <a href="{{url}}" class="block" title="{{title}}">
      {{!-- <div class="home-media-image">
        <div class="article-cover-init" title="{{title}}">
          <xmp>{{body}}</xmp>
        </div>
      </div> --}}
      <h3 class="mt-15 mb-15 bold color-white home-article-title">{{excerpt title characters=40}}</h3>
      <div class="color-white f-16">{{date updated_at format='short'}}</div>
      <p class="f-16 color-white line-height-18 font-light">{{excerpt body characters=160}}</p>
    </a>
  </div>
  {{/if}}


  {{/if}}
  {{/each}}
</div>
{{/each}}
{{/each}}
<div class="divider mt-120 mb-50"></div>
</div>
{{!-- <div class="container">
  {{#each categories}}
  {{#each (filter sections on="description" equals="menu-1003")}}
  <ul class="home-article-list">
    {{#each (slice articles 0 8)}}
    {{#unless promoted}}
    <li class="home-article-list-item">
      <a href="{{url}}" class="fx-between">
        <h3 class="f-20 bold color-white">{{excerpt title characters=80}}</h3>
        <div class="color-white f-16">{{date updated_at format='short'}}</div>
      </a>
    </li>
    {{/unless}}
    {{/each}}
  </ul>
  {{/each}}
  {{/each}}
  <div class="divider"></div>
</div> --}}

<!-- menu-1002 类别 -->
<div class="container">
  {{#each categories}}
  {{#each (filter sections on="description" equals="menu-1002")}}
  <div class="fx-between">
    <h3 class="home-category">{{name}}</h3>
    <div class="all-articles-label">
      <a href="{{url}}" class="color-white">All Articles →</a>
    </div>
  </div>
  <div class="row mb-20 justify-content-between">
    {{#each (slice (filter articles on="body" contains="<img ") 0 2)}}
      {{#if promoted}}
      {{#if @first}}
    <div class=" col-lg-6 col-sm-12">
    <a href="{{url}}" class="block" title="{{title}}">
      <div class="home-media-image">
        <div class="article-cover-init" title="{{title}}">
          <xmp>{{body}}</xmp>
        </div>
      </div>
    </a>
  </div>
  <div class="col-lg-6 col-sm-12">
    <a href="{{url}}" class="block" title="{{title}}">
      <h3 class="f-28 mt-15 mb-15 bold color-white home-article-title">{{excerpt title characters=40}}</h3>
      <div class="color-white f-16">{{date updated_at format='short'}}</div>
      <p class="f-16 color-white line-height-18 font-light">{{excerpt body characters=280}}</p>
    </a>
  </div>
  <div class="col-12 mb-50"></div>
  {{else}}
  <div class="col-lg-6 col-sm-12">
    <a href="{{url}}" class="block" title="{{title}}">
      {{!-- <div class="home-media-image">
        <div class="article-cover-init" title="{{title}}">
          <xmp>{{body}}</xmp>
        </div>
      </div> --}}
      <h3 class="f-28 mt-15 mb-15 bold color-white home-article-title">{{excerpt title characters=40}}</h3>
      <div class="color-white f-16">{{date updated_at format='short'}}</div>
      <p class="f-16 color-white line-height-18 font-light">{{excerpt body characters=160}}</p>
    </a>
  </div>
  {{/if}}
  {{/if}}
  {{/each}}
</div>
{{/each}}
{{/each}}
{{!-- <div class="divider mt-120 mb-50"></div> --}}
</div>
{{!-- <div class="container">
  {{#each categories}}
  {{#each (filter sections on="description" equals="menu-1002")}}
  <ul class="home-article-list">
    {{#each (slice articles 0 8)}}
    {{#unless promoted}}
    <li class="home-article-list-item">
      <a href="{{url}}" class="fx-between" title="{{excerpt title characters=80}}">
        <h3 class="f-20 bold color-white">{{excerpt title characters=80}}</h3>
        <div class="color-white f-16">{{date updated_at format='short'}}</div>
      </a>
    </li>
    {{/unless}}
    {{/each}}
  </ul>
  {{/each}}
  {{/each}}
  <div class="divider mb-30"></div>
</div> --}}