<div class="container">
  <div class="current-section-key hide">{{section.description}}</div>
  <h3 class="home-category">{{section.name}}</h3>

  {{#if section.articles}}
  <ul class="section-article-list mb-30">
    {{#each section.articles}}
    <li class="section-article-list-item">

      <div class="row">
        <div class="col-lg-4 col-sm-12 article-image-box">
          <div class="article-cover-init" title="{{title}}">
            <xmp>{{body}}</xmp>
          </div>
        </div>
        <div class="col-lg-8 col-sm-12 section-article-list-item-right">
          <a href="{{url}}" class="block">
            <h3 class="f-24 color-white bold">{{excerpt title characters=80}}</h3>
            <p class="f-16 color-white article-description">{{excerpt body characters=300}}</p>
          </a>
          <div class="fx-start">
            <div class="color-white f-16">{{date updated_at format='short'}}</div>
            <div class="pl-20 fx-start">
              <!-- twitter -->
              <svg class="pointer"
                onclick="onShare({key:'twitter',url:'{{url}}',twitterUser: 'huski_ai',title:'{{title}}',description:''})"
                width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M16 1.54287C15.4116 1.80359 14.7795 1.97975 14.115 2.05938C14.8007 1.64912 15.3136 1.00342 15.5582 0.242768C14.914 0.625391 14.209 0.894716 13.4738 1.03903C12.9794 0.511148 12.3245 0.161258 11.6109 0.0436835C10.8973 -0.0738904 10.1648 0.0474306 9.52717 0.388811C8.88955 0.730191 8.38247 1.27253 8.08467 1.93163C7.78686 2.59073 7.71499 3.32971 7.88021 4.03384C6.57496 3.9683 5.29807 3.62904 4.13242 3.03809C2.96677 2.44713 1.93841 1.61767 1.11407 0.603554C0.832203 1.08977 0.670131 1.6535 0.670131 2.25387C0.669817 2.79434 0.802912 3.32653 1.05761 3.80322C1.3123 4.27992 1.68073 4.68638 2.13019 4.98654C1.60893 4.96995 1.09918 4.8291 0.643354 4.57572V4.618C0.643302 5.37603 0.905511 6.11073 1.38549 6.69745C1.86547 7.28416 2.53365 7.68674 3.27667 7.83688C2.79312 7.96775 2.28615 7.98703 1.79406 7.89326C2.0037 8.5455 2.41205 9.11586 2.96194 9.52449C3.51184 9.93312 4.17575 10.1596 4.86074 10.1721C3.69794 11.085 2.26188 11.5801 0.783581 11.5779C0.521717 11.578 0.260073 11.5627 0 11.5321C1.50056 12.4969 3.24731 13.009 5.03127 13.007C11.0702 13.007 14.3715 8.0053 14.3715 3.66741C14.3715 3.52648 14.368 3.38414 14.3617 3.24321C15.0038 2.77882 15.5581 2.20376 15.9986 1.54498L16 1.54287Z"
                  fill="#66739F" />
              </svg>
              &nbsp;&nbsp;&nbsp;&nbsp;
              <svg class="pointer" onclick="onShare({key:'linkedin',url:'{{url}}',title:'{{title}}'})" width="14"
                height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M1.73129e-07 1.16964C1.73129e-07 0.859431 0.123229 0.561929 0.342579 0.34258C0.561928 0.123231 0.85943 1.55929e-06 1.16964 1.55929e-06H12.8291C12.9828 -0.000249519 13.1351 0.0298234 13.2772 0.0884985C13.4193 0.147174 13.5484 0.233299 13.6572 0.341943C13.7659 0.450587 13.8522 0.579616 13.911 0.721644C13.9698 0.863672 14.0001 1.01591 14 1.16964V12.8291C14.0002 12.9829 13.97 13.1351 13.9113 13.2772C13.8525 13.4193 13.7663 13.5484 13.6576 13.6572C13.549 13.766 13.4199 13.8522 13.2778 13.911C13.1358 13.9698 12.9835 14.0001 12.8297 14H1.16964C1.01598 14 0.863837 13.9697 0.721889 13.9109C0.579941 13.8521 0.450973 13.7659 0.342354 13.6572C0.233735 13.5485 0.147593 13.4195 0.0888507 13.2775C0.0301084 13.1355 -8.34245e-05 12.9834 1.73129e-07 12.8297V1.16964ZM5.54145 5.33782H7.43718V6.28982C7.71082 5.74255 8.41082 5.25 9.46273 5.25C11.4794 5.25 11.9573 6.34009 11.9573 8.34018V12.0451H9.91645V8.79582C9.91645 7.65673 9.64282 7.014 8.94791 7.014C7.98382 7.014 7.58291 7.707 7.58291 8.79582V12.0451H5.54145V5.33782ZM2.04145 11.9579H4.08291V5.25H2.04145V11.9573V11.9579ZM4.375 3.06218C4.37885 3.23697 4.34775 3.41077 4.28352 3.57338C4.21929 3.73599 4.12322 3.88413 4.00097 4.00911C3.87871 4.13409 3.73272 4.23339 3.57156 4.30119C3.41041 4.36898 3.23733 4.4039 3.0625 4.4039C2.88767 4.4039 2.71459 4.36898 2.55344 4.30119C2.39228 4.23339 2.24629 4.13409 2.12403 4.00911C2.00178 3.88413 1.90571 3.73599 1.84148 3.57338C1.77725 3.41077 1.74615 3.23697 1.75 3.06218C1.75756 2.71909 1.89915 2.3926 2.14447 2.15262C2.38979 1.91264 2.71932 1.77827 3.0625 1.77827C3.40568 1.77827 3.73521 1.91264 3.98053 2.15262C4.22585 2.3926 4.36744 2.71909 4.375 3.06218Z"
                  fill="#66739F" />
              </svg>
              &nbsp;&nbsp;&nbsp;&nbsp;
              <svg class="pointer" onclick="onShare({key:'facebook',url:'{{url}}',title:'{{title}}'})" width="14"
                height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M0 7.03908C0 10.5192 2.52758 13.4132 5.83333 14V8.94425H4.08333V7H5.83333V5.44425C5.83333 3.69425 6.96092 2.72242 8.55575 2.72242C9.06092 2.72242 9.60575 2.8 10.1109 2.87758V4.66667H9.21667C8.36092 4.66667 8.16667 5.09425 8.16667 5.63908V7H10.0333L9.72242 8.94425H8.16667V14C11.4724 13.4132 14 10.5198 14 7.03908C14 3.1675 10.85 0 7 0C3.15 0 0 3.1675 0 7.03908Z"
                  fill="#66739F" />
              </svg>
              &nbsp;&nbsp;&nbsp;&nbsp;
              <svg class="pointer" onclick="onShare({key:'email',url:'{{url}}',title:'{{title}}'})" width="14"
                height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M12.6 0H1.4C0.63 0 0.00699999 0.63 0.00699999 1.4L0 9.8C0 10.57 0.63 11.2 1.4 11.2H12.6C13.37 11.2 14 10.57 14 9.8V1.4C14 0.63 13.37 0 12.6 0ZM12.6 2.8L7 6.3L1.4 2.8V1.4L7 4.9L12.6 1.4V2.8Z"
                  fill="#66739F" />
              </svg>
              &nbsp;&nbsp;&nbsp;&nbsp;
              <svg class="pointer" onclick="onCopy('{{url}}')" width="14" height="14" viewBox="0 0 14 14" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M8.93081 5.0693C10.5645 6.7047 10.5421 9.32667 8.94066 10.937C8.93765 10.9403 8.93409 10.9438 8.93081 10.9471L7.09331 12.7846C5.47265 14.4053 2.83592 14.4051 1.2155 12.7846C-0.405166 11.1642 -0.405166 8.52719 1.2155 6.9068L2.23012 5.89218C2.49918 5.62312 2.96255 5.80195 2.97644 6.18219C2.99416 6.66678 3.08105 7.15363 3.2414 7.62378C3.2957 7.78298 3.2569 7.95907 3.13796 8.07802L2.78011 8.43586C2.01377 9.2022 1.98974 10.45 2.74853 11.2238C3.51481 12.0053 4.77432 12.0099 5.54648 11.2378L7.38398 9.40055C8.15482 8.6297 8.1516 7.38376 7.38398 6.61614C7.28278 6.51513 7.18084 6.43665 7.10121 6.38183C7.04488 6.34315 6.99837 6.29184 6.96539 6.23199C6.93241 6.17214 6.91387 6.10542 6.91126 6.03713C6.90043 5.74819 7.0028 5.45044 7.23112 5.22212L7.80682 4.6464C7.95779 4.49544 8.19461 4.4769 8.36966 4.59907C8.57014 4.73906 8.75791 4.89641 8.93081 5.0693ZM12.7845 1.21542C11.1641 -0.405029 8.52736 -0.405248 6.90669 1.21542L5.06919 3.05292C5.06591 3.0562 5.06235 3.05975 5.05935 3.06303C3.45793 4.67336 3.43548 7.29533 5.06919 8.93073C5.24208 9.10362 5.42984 9.26096 5.63031 9.40093C5.80537 9.52311 6.04222 9.50454 6.19316 9.3536L6.76885 8.77788C6.99717 8.54956 7.09955 8.25181 7.08872 7.96287C7.0861 7.89459 7.06756 7.82786 7.03458 7.76802C7.0016 7.70817 6.95509 7.65686 6.89876 7.61818C6.81914 7.56335 6.7172 7.48487 6.616 7.38387C5.84838 6.61625 5.84515 5.3703 6.616 4.59945L8.4535 2.76223C9.22566 1.99006 10.4851 1.99471 11.2514 2.77617C12.0102 3.55 11.9862 4.7978 11.2199 5.56414L10.862 5.92199C10.7431 6.04093 10.7043 6.21703 10.7586 6.37622C10.9189 6.84637 11.0058 7.33323 11.0235 7.81781C11.0375 8.19805 11.5008 8.37688 11.7699 8.10782L12.7845 7.0932C14.4052 5.47284 14.4052 2.83581 12.7845 1.21542Z"
                  fill="#66739F" />
              </svg>
            </div>
          </div>
          {{#if internal}}
          <div class="fx-start pt-10">
            {{#if promoted}}
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" focusable="false" viewBox="0 0 12 12"
              class="icon-star" title="{{t 'promoted'}}">
              <path fill="currentColor"
                d="M2.88 11.73c-.19 0-.39-.06-.55-.18a.938.938 0 01-.37-1.01l.8-3L.35 5.57a.938.938 0 01-.3-1.03c.12-.37.45-.63.85-.65L4 3.73 5.12.83c.14-.37.49-.61.88-.61s.74.24.88.6L8 3.73l3.11.17a.946.946 0 01.55 1.68L9.24 7.53l.8 3a.95.95 0 01-1.43 1.04L6 9.88l-2.61 1.69c-.16.1-.34.16-.51.16z" />
            </svg>
            {{/if}}
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" focusable="false" viewBox="0 0 16 16"
              class="icon-lock" title="{{t 'internal'}}">
              <rect width="12" height="9" x="2" y="7" fill="currentColor" rx="1" ry="1" />
              <path fill="none" stroke="currentColor" d="M4.5 7.5V4a3.5 3.5 0 017 0v3.5" />
            </svg>
          </div>
          {{/if}}
        </div>
      </div>
    </li>
    {{/each}}
  </ul>
  {{else}}
  <i class="section-empty">
    <a href="{{section.url}}">{{t 'empty'}}</a>
  </i>
  {{/if}}

  {{pagination "section.articles"}}
  {{!-- <div class="divider mt-30 mb-30"></div> --}}
</div>
<script>
  const sectionKey = document.querySelector('.current-section-key')
  if (sectionKey) {
    const key = sectionKey.innerText
    const currentClassName = `header-nav-item-${key}`
    const nav = document.querySelector('.' + currentClassName)
    if (nav) {
      const navList = document.querySelectorAll('.header-nav-list li')
      if (navList) {
        navList.forEach((p) => {
          const key = p.getAttribute('data-key')
          p.setAttribute('class', 'header-nav-item-' + key)
        })
        nav.setAttribute('class', currentClassName + ' active')
      }
    }
  }

</script>
{{!-- <div class="container">
  <nav class="sub-nav">
    {{breadcrumbs}}
    <div class="search-container">
      <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12"
        class="search-icon">
        <circle cx="4.5" cy="4.5" r="4" fill="none" stroke="currentColor" />
        <path stroke="currentColor" stroke-linecap="round" d="M11 11L7.5 7.5" />
      </svg>
      {{search scoped=settings.scoped_kb_search submit=false}}
    </div>
  </nav>

  <div class="section-container">
    <section id="main-content" class="section-content">
      <header class="page-header">
        <h1>{{section.name}}</h1>
        {{#if settings.show_follow_section}}
        <div class="section-subscribe">{{subscribe}}</div>
        {{/if}}
        {{#if section.description}}
        <p class="page-header-description">{{section.description}}</p>
        {{/if}}
      </header>

      {{#if section.sections}}
      <ul class="section-list">
        {{#each section.sections}}
        <li class="section-list-item">
          <a href="{{url}}">
            <span>{{name}}</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" focusable="false" viewBox="0 0 16 16"
              aria-hidden="true">
              <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="2"
                d="M5 14.5l6.1-6.1c.2-.2.2-.5 0-.7L5 1.5" />
            </svg>
          </a>
        </li>
        {{/each}}
      </ul>
      {{/if}}

      {{pagination "section.sections"}}

      {{#if section.articles}}
      <ul class="article-list">
        {{#each section.articles}}
        <li class="article-list-item {{#if promoted}} article-promoted{{/if}}">
          {{#if promoted}}
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" focusable="false" viewBox="0 0 12 12"
            class="icon-star" title="{{t 'promoted'}}">
            <path fill="currentColor"
              d="M2.88 11.73c-.19 0-.39-.06-.55-.18a.938.938 0 01-.37-1.01l.8-3L.35 5.57a.938.938 0 01-.3-1.03c.12-.37.45-.63.85-.65L4 3.73 5.12.83c.14-.37.49-.61.88-.61s.74.24.88.6L8 3.73l3.11.17a.946.946 0 01.55 1.68L9.24 7.53l.8 3a.95.95 0 01-1.43 1.04L6 9.88l-2.61 1.69c-.16.1-.34.16-.51.16z" />
          </svg>
          {{/if}}
          <a href="{{url}}" class="article-list-link">{{title}}</a>
          {{#if internal}}
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" focusable="false" viewBox="0 0 16 16"
            class="icon-lock" title="{{t 'internal'}}">
            <rect width="12" height="9" x="2" y="7" fill="currentColor" rx="1" ry="1" />
            <path fill="none" stroke="currentColor" d="M4.5 7.5V4a3.5 3.5 0 017 0v3.5" />
          </svg>
          {{/if}}
        </li>
        {{/each}}
      </ul>
      {{else}}
      <i class="section-empty">
        <a href="{{section.url}}">{{t 'empty'}}</a>
      </i>
      {{/if}}

      {{pagination "section.articles"}}

    </section>
  </div>
</div> --}}